[2018-09-19 16:34] Hanzei opened #10 "Clicking on a LHS buttons shows non mattermost issues"
Clicking on a button brings up non mattermost related PRs and issues. It is kind of confusing to see a different number of PRs when clicking on then button that show on the LHS.

[2018-09-21 17:53] #10 closed

[2018-09-22 07:00] hanzei opened #11 "Make fails"
Running just `make` fails with:
[code]

I think, https://github.com/mattermost/mattermost-plugin-github/blob/master/Makefile#L8 should be changed to `check-style:
webapp/.npminstall gofmt`

[2018-09-22 09:01] hanzei opened #13 "Empty slash command trows error"
Running just `/github` return `Received invalid response from the server.` in the Mattermost interface.

[2018-09-27 06:20] hanzei opened #15 ""Unread messages" button links to wrong page"
Clicking on the "Unread messages" button on the LHS open a list of every issue and PR where the user has been mentioned. But the number in the Mattermost UI shows the number of notification a user has. That's kind of confusing. I think the button should link to the GitHub notification screen. But I'm not sure how to filter the notification by organisation.

[2018-10-04 12:29] #11 closed

[2018-10-04 12:29] #13 closed

[2018-10-05 12:28] jwilander commented on #15
The problem is the GitHub notification page is... lacklustre, and doesn't count unreads like the plugin does. As far as I can tell there's no filtering options on the GitHub notification page to make it match what we want.

One option I've been toying with is having that button trigger a `/github todo` instead of linking to a GH page but I'm a little undecided.

[2018-10-05 12:29] jwilander commented on #15
Have any thoughts?

[2018-10-10 11:01] hanzei commented on #15
I agree. The GitHub notification page lacks function we want. I propose to just link to https://github.com/notifications. If no GitHub organisation is configured, this is completely fine. If a organisation is configured, this will show more notification then in the Mattermost interface. This is slightly annoying, but also fine in my opinion.

[2018-10-10 23:00] avenkatach opened #19 "The plugin does not send me any message"
Hi All,

I have configured everything on our enterprise github and mattermost environment (both launched internally) using the link below:

https://github.com/mattermost/mattermost-plugin-github

 but i am not getting notified for any changes on repos in my organization. Please let me know if you need any logs to troubleshoot the issue.
---Ajay

[2018-10-11 23:53] bensig opened #20 "Make prerequisites"
make dist fails without the following "go get"s

go get github.com/google/go-github/github
go get github.com/mattermost/mattermost-server
go get golang.org/x/oauth2

[2018-10-12 03:06] bensig opened #21 "Plugin failed to ServeHTTP"
Running on 5.3.1 fails with this error:

{"level":"error","ts":1539313420.9237213,"caller":"plugin/client_rpc.go:154","msg":"RPC call to OnActivate plugin failed.","plugin_id":"github","error":"reading body gob: name not registered for interface: \"*plugin.ErrorString\""}
{"level":"error","ts":1539313421.156202,"caller":"plugin/client_rpc.go:295","msg":"Plugin failed to ServeHTTP, RPC call failed"

[2018-10-12 05:02] hanzei commented on #20
Running `make vendor` first should resolve the issue.

But I see that the make file could be improved.

[2018-10-12 10:02] bensig commented on #21
My mattermost server keeps crashing when trying to run this plugin on 5.3.1 - any ideas?

[2018-10-12 12:58] lieut-data commented on #21
Note specifically that the plugin is attempting to return an error which isn't being translated across the wire:
[code]

Once we upgrade the chain to 5.4, this will be fixed to show the actual error in question, but fundamentally the failure in your situation will remain until you probably configure it as per @hanzei's suggestion.

[2018-10-12 13:05] jwilander commented on #19
Can you check the logs on your GitHub webhook and see if it's making requests successfully and returning 200s from Mattermost?

[2018-10-12 13:05] jwilander commented on #20
I welcome a pull request :)

[2018-10-12 13:06] jwilander commented on #19
If you could also provide the plugin configuration settings (sanitized of course) that would help

[2018-10-12 13:07] hanzei commented on #20
@jwilander Would you mind just downstreaming the make file from https://github.com/mattermost/mattermost-plugin-sample? This way we would sync up the repos to keep thing easy.

[2018-10-12 13:07] jwilander commented on #20
Actually that is a better idea. I've been wanting to update this plugin to be more consistent with the sample repo but haven't had a chance

[2018-10-12 13:48] bensig commented on #21
I did specify a user account. It is the admin user that I am logged in with...

[2018-10-12 13:53] bensig commented on #21
mattermost just seems to be stuck in a restart loop if I enable the plugin...

{"level":"info","ts":1539352305.45781,"caller":"commands/server.go:81","msg":"Current version is 5.3.0 (5.3.1/Wed Sep 19 07:42:34 UTC 2018/fd21e53365d504155ab87f9bef60b1ab4faeb38d/c87ad1eeda18455c22a42ede7276194412e3a25f)"}
{"level":"info","ts":1539352305.4579122,"caller":"commands/server.go:82","msg":"Enterprise Enable

[2018-10-12 13:57] bensig commented on #21
This is just a vanilla install of mattermost enterprise 5.3.1 - I'm not even using nginx at this time.

[2018-10-16 19:39] lieut-data commented on #21
@bensig, we're updating the plugin for 5.4.0 (hopefully as part of the linked PR above), after which the error handling might help surface the problem you're seeing.

Are you in a position to upgrade 5.4.0, and then as soon as this plugin is updated, test with same?

[2018-10-17 16:21] bensig commented on #21
Yes I am happy to upgrade!
On Tue, Oct 16, 2018 at 12:39 PM Jesse Hallam <notifications@github.com>
wrote:

[2018-10-19 13:20] rien opened #24 "Support for both github.com and enterprise server"
It is currently impossible to integrate two GitHub servers with the same plugin.

As a workaround: will stuff break if I edit the `.tar.gz` to just change plugin id?

[2018-10-19 14:04] lieut-data commented on #24
@rien, with respect to the plugin id: if you change it everywhere you find it, it should "just work". Note that it's present in the `plugin.json`, as well as the server and webapp code.

Alternatively, if you rebuild the plugin from source you can just edit `plugin.json` and the framework should take care of effecting all the necessary changes.

(Leaving the issue open because of the larger reques

[2018-10-23 23:07] jasonblais opened #25 "Connect one repo instead of an organization"
Use case from customer:

Since we are connecting back to a Mattermost channel, and orgs can span many teams, being able to provide the hook at the repo level would be very helpful.

This might need an OAuth for each repo connection, but not sure.

[2018-10-24 12:48] jwilander commented on #25
You can already do this, just set up your GitHub webhook from the repo instead of the org and you'll only get events (notifications and subscriptions) about that repo or however many repos you create webhooks for

The reminder and /github todo will still search the whole org but those only show stuff you're assigned to so it shouldn't matter

You also cannot set up OAuth per repo, that doesn't mak

[2018-10-24 21:06] redfast00 opened #26 "Subscribe repo to commits"
Right now, it's possible to subscribe a repo to issues and PR's. It would be cool if it could also provide notifications for commits (like on slack).

[2018-10-24 23:21] jwilander commented on #26
I'd accept a PR to add that functionality :)

[2018-10-25 18:01] jasonblais commented on #25
Ah, that makes a lot of sense.

I've
1. opened an FAQ item for README that covers this question. If you think that's unnecessary, it can be closed https://github.com/mattermost/mattermost-plugin-github/pull/27/
2. asked the customer to post in the GitHub plugin channel on pre-release (they had a few other questions), so they can talk to you and other plugin maintainers directly 👍

[2018-10-25 18:01] #25 closed

[2018-11-07 22:12] hanzei commented on #15
@jwilander Thoughts on ^?

[2018-11-07 22:12] jwilander commented on #15
Whoops, I really missed that one didn't I? Yeah I think linking to https://github.com/notifications instead makes more sense 👍

[2018-11-07 22:19] #15 closed

[2018-11-08 13:15] hanzei commented on #21
@bensig Did upgrading to 5.4.0 fixed the problem?

[2018-11-09 08:46] hanzei opened #34 "Don't send a notification for self assigend issues"
When assigning an issue to yourself, you get a notification via DM.
![screenshot from 2018-11-09 07-28-15](https://user-images.githubusercontent.com/16541325/48252178-5d3bc380-e404-11e8-9705-69a1b3b43c37.png)
This should not happen.

[2018-11-14 13:17] #34 closed

[2018-11-27 14:31] crudolf opened #36 "Private repositories - working?"
When I do

/github subscribe crudolf/XYZ

where XYZ is a private repository. The plugin tells me, that the repository cannot be found "Unknown repository .."

Can this plugin only handle public repositories?

[2018-11-27 14:43] hanzei commented on #26
Fixes with #29

[2018-11-27 14:43] #26 closed

[2018-11-27 14:46] jwilander commented on #36
It currently only works with public repositories. Some permission checking would need to be added and an update of the OAuth scopes to allow for that

[2018-12-05 20:06] jwilander opened #37 "[Help Wanted] Add a command to list current channel's subscriptions"
Add a command `/github subscribe list` that will list all the repository subscriptions of the current channel as an ephemeral message. It should also list the events that are subscribed to (e.g pulls,issues,labels etc.)

If you have questions feel free to ask here or join [the GitHub Plugin channel on our community Mattermost server](https://community.mattermost.com/core/channels/github-plugin).

[2019-01-06 15:50] jwilander commented on #36
If someone wants to take a stab at this, that would be very welcome. I can help answer questions and point in the right direction

[2019-01-12 14:37] #37 closed

[2019-01-18 08:16] zetaab opened #42 "userprofile hover github url is pointing to github.com"
When this plugin is enabled, and you check someones userprofile in mattermost. There is github information if github plugin is enabled in that user. However, that url will always point to github.com instead of correct github what is defined (in our case github enterprise url)

[2019-02-12 15:51] cpitclaudel opened #44 "How can I susbcribe to a whole organisation?"
Hi!

Is there a way to subscribe a channel to all repos in a Github organization? I only found `/github subscribe org/repo`, which requires one command per repository (and does not add new repositories).

Thanks!

[2019-02-15 20:21] jwilander commented on #44
Hi @cpitclaudel, currently you need manually subscribe to each repository if you wanted to do this. I'm not opposed to adding a feature for this though. I've added the help wanted label in case someone wants to work on it

[2019-02-15 20:22] jwilander commented on #19
Closing as stale

[2019-02-15 20:22] #19 closed

[2019-02-18 03:52] tgly307 opened #45 "Fail to enable plugin"
My mattermost server is 5.8.0, I start server with docker-compose and make plugins folder as volume by use `- ./volumes/app/mattermost/plugins:/mattermost/plugins:rw`

After I uploaded the plugin and set the config, I click the Enable button and got log below, plugin enable failed. Did I miss something?

`{"level":"error","ts":1550461595.1755967,"caller":"app/plugin.go:97","msg":"Unable to activat

[2019-02-18 08:21] cpanato commented on #45
thanks for reporting this issue @tgly307
you need to make the `/mattermost/client/plugins` as well

[2019-02-19 06:03] tgly307 commented on #45
@cpanato thx for reply.
I have also set `/mattermost/client/plugins` as volume with `- ./volumes/app/mattermost/client-plugins:/mattermost/client/plugins:rw`, but it doesn't work.
My docker-compose file is very similar with [this](https://github.com/mattermost/mattermost-docker/blob/master/docker-compose.yml) expect user & password.

[2019-02-19 06:10] tgly307 commented on #45
@cpanato hi, I have found something. I forget to excute` chown -R 2000:2000 ./volumes/app/mattermost/`

I will close it.

[2019-02-19 06:11] #45 closed

[2019-02-19 06:44] tgly307 opened #46 "Plugin user profile image is missing"
I have connect the plugin to github, but I found the user profile image can't load correct.
![image](https://user-images.githubusercontent.com/25153311/52994912-0b1f2b00-3454-11e9-93a6-665ff3b75ffc.png)
The image link is `https://mattermost-server/api/v4/image?url=https%3A%2F%2Fassets-cdn.github.com%2Fimages%2Fmodules%2Flogos_page%2FGitHub-Mark.png`, it return 403 error.
And I found [GitHub-Mark.p

[2019-02-19 14:23] jwilander commented on #46
Yes, seems like the image the plugin pointed to (a github hosted image) no longer exists. The proper solution is to have include the image with the plugin and have it serve it through the REST API. I'm planning on updating the plugin shortly with the fix but if someone wants to work on it instead feel free

[2019-02-19 14:23] #36 closed

[2019-02-19 21:31] benschuster788 commented on #44
I'll take this one

[2019-02-20 09:25] hanzei commented on #46
FYI there is currently a discussion about how plugins should handle static files: https://community-daily.mattermost.com/core/pl/qm9houtcx7rgtf9akeyci5htqr

[2019-02-20 12:35] sandlis commented on #42
Is it okay if I give it a try?

[2019-02-20 12:37] enahum commented on #42
Hey @sandlis yes sure, thanks for looming at it.

[2019-02-20 20:57] DSchalla opened #48 "If a user deletes a comment, you receive a notification for a comment creation"
**Description:**
When a user is deleting comments on a PR e.g., you will be notified that the user posted a new comment:

![Example](https://community.mattermost.com/files/pk53k5xqzf8z7fscdzfietrrny/public?h=dubNVaxaaL5cwaGGTz2EFN72iTZUHroaanBWYgYE0Ek)

Compared to:
https://github.com/mattermost/mattermost-webapp/pull/2356

The "Comment created" from @jasonblais are actually comment deletes.

**Ac

[2019-02-22 15:51] #42 closed

[2019-02-22 15:52] jwilander commented on #46
I'm going to work on this now

[2019-02-22 22:13] #46 closed

[2019-02-23 16:12] sandlis commented on #24
Is it okay if I give this a try?

[2019-02-23 16:29] jasonblais commented on #24
@sandlis Definitely, that would be great!

[2019-02-25 08:01] sandlis commented on #24
@jasonblais Initiated a conversation [here](https://pre-release.mattermost.com/core/pl/3bee1pcotfgx3cgk6373sb9eoe) for design discussion.

[2019-03-01 20:40] jwilander opened #55 "If a user edits a comment with a mention of you, you get a second notification"
Repro steps:
1. Mention a user, who has their Mattermost account connected with the plugin, in a GitHub issue/PR comment
2. Edit that comment (making sure to leave the mention in)

Observed:
Two notifications are sent to the user about the comment
<img width="1070" alt="screen shot 2019-03-01 at 15 37 03" src="https://user-images.githubusercontent.com/2672098/53665004-382fc280-3c38-11e9-96f9-e907f

[2019-03-08 16:51] wbernest opened #58 "server\Subscriptions.go: SubscribeOrg adding object as key to the subscription dictionary instead of repo full name"
server\Subscriptions.go:
SubscribeOrg adding object as key to the subscription dictionary instead of repo full name .
I tracked the issue down to lines 125 and 128.  After applying these changes the pluging worked as desired when adding subscriptions by organization.

[code]

Needs to be converted to

[code]

[2019-03-10 14:28] #58 closed

[2019-03-24 10:17] checkaayush commented on #55
@jwilander Possible approaches on edit/delete of issue/PR comment:

1. We can skip sending the second post message completely.
2. We can remove the @ from the mention so as to prevent the notification.

Personally, I feel the call to action on seeing a mention is clicking on the link and going to GH to read the thing in its entirety. Any edits/deletes are evident there. Hence I favour the first on

[2019-03-24 10:55] hanzei commented on #55
We could update the first post with the new content. Then users could immediately see the up to date comment.

[2019-03-25 11:53] jasonblais commented on #44
If anyone is interested working on this ticket:

1. First PR merged here: https://github.com/mattermost/mattermost-plugin-github/pull/56
2. Second PR was closed, but not merged, here: https://github.com/mattermost/mattermost-plugin-github/pull/52

Moreover, a PR to unsubscribe from a PR was closed but not merged, here: https://github.com/mattermost/mattermost-plugin-github/pull/53

[2019-03-25 12:50] hanzei commented on #44
Submitted a PR to fix 2.

[2019-03-25 13:46] jwilander commented on #55
I would say 1) is good enough. I like your idea @hanzei but then we'd need to track the posts and that's a lot more complexity for not a huge benefit and I agree with @checkaayush that the notification is just a CTA and meant to direct you to GH to see the full message/context

[2019-03-25 13:55] hanzei commented on #55
Fine by me

[2019-03-25 16:30] #48 closed

[2019-03-25 16:33] #55 closed

[2019-04-25 16:39] stylianosrigas opened #69 "Cannot link Github account via the Mattermost Mac desktop app"
Trying to link github account via the Mattermost Mac desktop app leads to a popup window where the authorize button cannot be clicked. Trying to link the github account via the Mattermost Webapp(Chrome) is successful.

[2019-04-26 02:55] tgly307 commented on #69
same

[2019-04-26 20:53] jasonblais commented on #69
Which version of the desktop app do you have (via Help > Version in the menu bar), and which MacOS version?

I tried on macOS Sierra, Desktop App v4.2.0, and it worked for me.

[2019-04-29 10:26] stylianosrigas commented on #69
@jasonblais macOS Mojave (10.14.3) and Mattermost v4.2.1.

[2019-04-29 12:28] jasonblais commented on #69
Hm, works on Mattermost Destkop v4.2.1 for me as well..which macOS version do you have @tgly307? Maybe the issue is dependent on the macOS version.

[2019-04-29 12:55] tgly307 commented on #69
@jasonblais I tried this on windows10, app version 4.2.0. I tried this again and it works, so I guess it maybe a network issue.

[2019-04-29 12:58] stylianosrigas commented on #69
@jasonblais I gave it another go and it works for me too. Should I close this issue?

[2019-04-29 12:59] jasonblais commented on #69
Thanks for both of you! Let's close for now until we've got reliable repro steps to investigate further

[2019-04-29 13:00] #69 closed

[2019-05-18 21:03] clarfon opened #72 "Use proper bot account"
Mattermost 5.10 now allows bot accounts, and having a proper bot account instead of having to make a separate account for the bot would be nice.

[2019-05-20 14:31] jwilander commented on #72
@crspeller you had a branch for that right?

[2019-05-21 18:05] crspeller commented on #72
Yup. I will submit that when I get a chance.

[2019-05-22 13:28] hanzei opened #75 "Update github.com/google/go-github dependency"
Copied over from https://github.com/mattermost/mattermost-plugin-github/pull/74#discussion_r286220725

[2019-05-28 11:30] pranereddy opened #76 "Github enterprise support"
Is on-prem Github enterprise supported, is it possible to subscribe to github events based on mattermost channels, userids like userA wants to send all github events from OrgA to channel A.

[2019-05-28 12:06] jasonblais commented on #76
Hey @pranereddy - GitHub Enterprise and channel subscriptions are supported. See a list of features available here: https://github.com/mattermost/mattermost-plugin-github#features

[2019-05-28 12:23] pranereddy commented on #76
Hey @jasonblais Thanks for the quick response, would you please share some more info on how to subscribe channels for particular org/repo using /github.

[2019-05-28 13:01] jasonblais commented on #76
hey @pranereddy, you can use `/github subscribe` to subscribe a Mattermost channel to receive posts for new pull requests and/or issues in a GitHub repository.

If you run `/github help` in Mattermost, it will provide you more detailed information of that command

![image](https://user-images.githubusercontent.com/13119842/58479880-21a9e200-8127-11e9-870c-b0fc00eee907.png)

[2019-05-28 13:01] jasonblais opened #77 "Document all slash commands under "Features" section of README"

[2019-05-28 13:01] jasonblais commented on #76
I've also created an issue to document all slash commands in the README file https://github.com/mattermost/mattermost-plugin-github/issues/77

[2019-05-28 13:24] pranereddy commented on #76
@jasonblais cool, thanks a lot 🙂

[2019-05-28 13:24] #76 closed

[2019-05-28 13:25] jasonblais commented on #76
Certainly! If you have any feedback on the plugin, would love to hear :)

[2019-05-28 13:47] pranereddy commented on #76
Sure, will do.

[2019-06-02 20:53] clarfon opened #82 "Link directly to issues in subscriptions"
Right now, the bot mentions the issue number for comments (e.g `[#302 Issue Found]`) but doesn't actually link this text to it. Would be incredibly helpful to do so.

Similar issue: closing issues links it, but doesn't show the issue number on the link.

[2019-06-03 12:34] #75 closed

[2019-06-03 22:58] crspeller commented on #72
Closed by https://github.com/mattermost/mattermost-plugin-github/pull/83

[2019-06-03 22:58] #72 closed

[2019-06-04 20:57] jwilander opened #86 "Use custom post type to display TODO list"
Currently, the TODO list that gets posted daily or by `/github todo` looks something like this:

<img width="1113" alt="Screen Shot 2019-06-04 at 16 41 25" src="https://user-images.githubusercontent.com/2672098/58912235-9bbe0600-86e7-11e9-90f5-921f9fca28b8.png">

This works ok but it's hard to read, is only minimally functional and I think we can add something that does way better. Plugins have a

[2019-06-05 21:18] jasonblais opened #90 "Do not post a daily reminder if there are no updates"
When there are no updates, the plugin sends a daily reminder with "no updates".

![image](https://user-images.githubusercontent.com/13119842/58991275-e1e19b00-87b5-11e9-84ec-0f6b9e04710a.png)

Propose not sending a daily reminder when there are no updates.

[2019-06-07 22:52] jasonblais commented on #77
Completed by https://github.com/mattermost/mattermost-plugin-github/pull/84

[2019-06-07 22:52] #77 closed

[2019-06-14 17:34] jasonblais commented on #90
Thanks @ivenk!

[2019-06-14 17:34] #90 closed

[2019-06-17 08:24] ThiefMaster opened #94 "Include a redirect_uri in the authorize request"
Currently this is not the case, so I need to set the correct URI on the GitHub app registration. But this is a bad idea because without looking at the code I have no way of knowing what the exact redirect URI needs to be (`https://.../plugins/github/oauth/complete`)!

[2019-06-17 12:07] jasonblais commented on #94
Thanks @ThiefMaster - what happens when it's not set. Also, where do you configure it when registering the GitHub app?

![image](https://user-images.githubusercontent.com/13119842/59603238-e754b480-90d6-11e9-92d1-2ec6ad5f0b61.png)

[2019-06-17 12:09] ThiefMaster commented on #94
The callback URL is used if no URL is provided. This works OK but the advantage of the plugin sending the redirect_uri is that specifying the base url (e.g. `https://mattermost.example..com`) for the callback URL is on Github enough, since (as mentioned in the oauth docs linked there) it allows any subpath within what's specified to be used as the redirect_uri

[2019-06-17 15:49] jasonblais opened #95 "Provide a more clear error message when the wrong content type is selected for a webhook"
Repro:

1. Follow these steps to configure the GitHub plugin: https://github.com/mattermost/mattermost-plugin-github/#configuration
  - NOTE: To reproduce the error in this issue, when creating the webhook in GitHub in step 2, **do not** change the content type to "application/json"
3. Connect your Mattermost account to GitHub with `/github connect`.
4. Subscribe a channel to receive notifications

[2019-06-17 23:43] jasonblais commented on #94
@ThiefMaster So we do have the `https://.../plugins/github/oauth/complete` URL in our doc, attached below. Wondering if in the short term it would be helpful if this URL was also in the System Console settings page where the GitHub plugin is configured? This would at least unblock the initial configuration.

![image](https://user-images.githubusercontent.com/13119842/59643619-61b52100-9137-11e9-96

[2019-06-18 07:02] ThiefMaster commented on #94
Yes, I saw it in the github readme only later when I noticed it didn't work without the exact URL configured on GitHub. So I think having the URL showed in the system console would indeed be useful.

I think Github is actually the exception where you don't *have to* specify it.

[2019-06-19 22:53] jasonblais commented on #94
PR submitted for a proposed system console text update as an immediate improvement, let me know what you think https://github.com/mattermost/mattermost-plugin-github/pull/99

[2019-06-24 22:20] clarfon commented on #82
It appears that this was fixed on the latest version. Thank you!

[2019-06-24 22:20] #82 closed

[2019-07-01 10:12] hanzei commented on #94
Is this issue resolved with #99?

[2019-07-01 17:26] aaronrothschild commented on #94
Yes, I think this issue is duplicated and taken care of in #99 personally.  Happy to close this out if you agree @hanzei

[2019-07-01 19:49] #94 closed

[2019-07-18 13:20] ThiefMaster opened #108 "Do not trigger mentions from plugin messages"
It would be nice if the plugin messages did not trigger mentions (or if that could be configured by each user). When I merge a PR, I really don't need a notification on my mobile device about that...

[2019-07-18 13:22] ThiefMaster opened #109 "Make the timezone configurable"
My whole team is in Europe/Zurich, but the timestamps in the plugin messages are always UTC.
It'd be nice if the timezone used in these messages could be configured (or if they were adapted to the local timezone of whoever is viewing it).

[2019-07-26 04:06] dhadiseputro commented on #44
I'll work on this, from where benschuster788 left off. I am not familiar yet with the code base and this can be my 'hello world' project if you guys allow. Am I good to take his code and add the fixes need in #53 and #56 ?

[2019-07-26 11:26] jasonblais commented on #109
I'm actually curious how useful people find the time & date in GitHub notifications, given the Mattermost post itself has a timestamp in the user's own timezone.

[2019-07-26 11:27] jasonblais commented on #44
@dhadiseputro Go for it! If you have any questions working through it let us know. You're also open to sharing the approach you're planning to take for review 👍

[2019-07-27 01:10] dhadiseputro commented on #44
I am planning to do something similar to benschuster.
The high level idea is, in `SubscribeOrg` I'll get all the repos in that org and do `AddSubscription` for each repo.

I have a question:
- If we pass `repo=""` to `Subscribe`, we will get here https://github.com/mattermost/mattermost-plugin-github/blob/master/server/subscriptions.go#L84, but then `ghOrg` is not getting use anywhere after that.

[2019-07-29 12:21] jasonblais commented on #44
pinging @crspeller or @aaronrothschild on the above

For `channelID` - that refers to the ID of a Mattermost channel. To find the ID of a channel, click the dropdown next to the channel name, then select "View Info". The ID is displayed at the bottom of the resulting dialog

![image](https://user-images.githubusercontent.com/13119842/62048039-d91bad00-b1d9-11e9-99c9-abc22737d7a2.png)
![image](http

[2019-07-29 14:46] crspeller commented on #44
Looks like https://github.com/mattermost/mattermost-plugin-github/pull/67 already implements this?
Is there work left to do on this ticket? @jwilander

[2019-07-29 15:58] dhadiseputro commented on #44
Ah, yes.. #67 implemented this ticket. So `repo` can have the value of either just the org's name or the complete `org/repo` right? I was a little confused with the var naming

[2019-07-29 21:03] jwilander commented on #44
Yes, sorry should have closed this earlier. Sorry for the churn @dhadiseputro

[2019-07-29 21:03] #44 closed

[2019-07-29 21:24] dhadiseputro commented on #108
@jasonblais I'll try to work on this. My idea are:
1. Don't trigger mentions from plugins at all, by escaping'@' in https://github.com/mattermost/mattermost-plugin-github/blob/master/server/command.go#L51
2.  Add a new option under `settings` (ex. 'trigger_mentions') that can have a value of true/false which determines to escape '@' .

What I am not sure is how do you guys do escaping of mentions?

[2019-08-02 16:13] lieut-data commented on #108
@dhadiseputro, this is an interesting conundrum. The `@` prefixing was recently added to help link a GitHub post back to the Mattermost user of interest. Clicking on a username in that context can be helpful, since it shows the user profile and enables DMs, etc.

There simply currently isn't a way to suppress notifications from an arbitrary post within Mattermost. I'm personally inclined to think

[2019-08-02 22:35] aaronrothschild commented on #108
@lieut-data I think this does make sense as something to consider as a higher-level feature.  The scenario is similar for our Jira plugin - whenever an activity is detected, we create a DM to that user and it notifies them.  We will likely need a an option such as "Do Not trigger Mentions on Jira updates" for example.

[2019-08-06 11:25] jasonblais commented on #109
From @mickmister -

[2019-08-09 11:09] hanzei commented on #109
:+1: for removing the timestamp. Mattermost shows the time of the message anyway.

[2019-08-12 08:17] hanzei opened #113 "Link on RHS are not limited to organisation"
When clicking on the of the links on the RHS, a new windows opens up in github. But the PRs/issues shown there are not limited to the organisation.

[2019-08-12 08:22] hanzei opened #114 "RHS behavious badly if there are too many label on a PR"
When a PR has too manly labels the RHS looks and behaves weird:
- The title is broken into two line
- The last label is cur off
- You can scroll to the right to show the last label
![Screenshot from 2019-08-12 10-19-52](https://user-images.githubusercontent.com/16541325/62852924-2116f580-bceb-11e9-8537-8948d9a07752.png)

[2019-08-12 08:26] hanzei commented on #113
Update: This bug only occurs after a user just connected his/her account. After a refresh of the page, it links are fine.

[2019-08-16 09:11] hanzei commented on #114
cc @marianunez

[2019-08-16 12:35] marianunez commented on #114
I've created a JIRA ticket [MM-17864](https://mattermost.atlassian.net/browse/MM-17864) to triage and track this.

[2019-08-28 14:47] reflog commented on #86
@jwilander , part of what this PR does is already implemented in another PR merged recently: https://github.com/mattermost/mattermost-plugin-github/pull/111 . Not as pretty as your version, but it solves the problem of not knowing what the PRs/Issues are :)

[2019-09-03 14:24] hanzei commented on #114
Fixed with https://github.com/mattermost/mattermost-plugin-github/pull/117

[2019-09-03 14:24] #114 closed

[2019-09-03 14:55] hanzei commented on #113
I think we can move this to `v0.12`. It's only a problem on after the first connection.

[2019-09-09 11:47] levb opened #118 "Add "Create Github Issue" similar to Jira plugin"
Example from the Mattermost Jira plugin:

![image](https://user-images.githubusercontent.com/1187448/64528188-b42c5680-d2bc-11e9-8904-9a85207ff255.png)

See https://github.com/mattermost/mattermost-plugin-jira

https://mattermost.atlassian.net/browse/MM-18132

[2019-09-09 11:52] levb opened #119 "Add "Attach to Github Issue" similar to Jira plugin"
Example from the Mattermost Jira plugin:

![image](https://user-images.githubusercontent.com/1187448/64528448-65cb8780-d2bd-11e9-8871-3f675fede784.png)

See https://github.com/mattermost/mattermost-plugin-jira

https://mattermost.atlassian.net/browse/MM-18132

[2019-09-10 06:29] dhadiseputro commented on #118
@levb I am interested in helping this. Is the goal of this to be able to create github issues via `/github create issues <title> <body> ...`?

[2019-09-10 11:17] niklabh commented on #119
Hey, i would love to work on this.

[2019-09-10 12:34] mgdelacroix commented on #119
Thanks @niklabh!

[2019-09-10 15:22] levb commented on #118
@dhadiseputro Thank you for taking a look at this issue! What you proposed would be the simplest implementation. In the Jira plugin we support UI from the `...` menu of a post, it pre-populates the issue description, and has (limited) support for other custom fields. Ultimately we'd want something like that.

[2019-09-11 11:41] niklabh commented on #119
Here is a pull request: https://github.com/mattermost/mattermost-plugin-github/pull/120

[2019-09-11 11:47] niklabh commented on #119
Here is the flow for implementations in https://github.com/mattermost/mattermost-plugin-github/pull/120:
- Click Attach to Github Issue in context menu (shown when user connects his github account with plugin installed) on non system messages
![Screenshot from 2019-09-11 13-26-14](https://user-images.githubusercontent.com/874046/64694622-55243880-d49a-11e9-819e-bc8f32685f00.png)
- Attach to github

[2019-09-11 14:08] niklabh commented on #119
asdamsdasdasd

[2019-09-11 14:39] niklabh commented on #95
Here is a pull request: https://github.com/mattermost/mattermost-plugin-github/pull/121

[2019-09-11 17:30] #95 closed

[2019-09-11 19:14] dhadiseputro commented on #118
I see, can you show me the UI part for the Jira plugin? I am not too great with UI, I can follow what you have in Jira and expand on that. I am thinking that the UI modal to be triggered by `/github create issue`?

[2019-09-11 19:20] levb commented on #118
@dhadiseputro We just had another contributor submit a similar change, https://github.com/mattermost/mattermost-plugin-github/pull/120. The Jira plugin is at https://github.com/mattermost/mattermost-plugin-jira; the most relevant UI file is probably https://github.com/mattermost/mattermost-plugin-jira/tree/master/webapp/src/components/modals/create_issue, should be a good entry-point anyway. The s

[2019-09-11 19:47] dhadiseputro commented on #118
thanks! I will take a look at #120 and add upon it to create new github issues.

[2019-09-12 04:59] dhadiseputro commented on #118
can you show me where the entry point for `/jira create`? I am looking for it in command.go (https://github.com/mattermost/mattermost-plugin-jira/blob/master/server/command.go#L46), it does not have `create`. I am kinda new here, so please bear with me :)
Thanks!

[2019-09-12 06:49] niklabh commented on #118
You have to create a create issue handler in server/api.go like this: https://github.com/mattermost/mattermost-plugin-github/pull/120/files#diff-0d5a44e9b96f048fa52b477ce6be6253R532 . We are using google github client. It has a function to create issue.

    githubClient.Issues.Create(ctx context.Context, owner string, repo string, issue *github.IssueRequest) (*github.Issue, *github.Response, erro

[2019-09-12 06:53] niklabh commented on #118
The entry point in jira plugin is not a slash command but drop down menu register in jira plugin.jsx https://github.com/mattermost/mattermost-plugin-jira/blob/402eed5de9974e83b18c14acfe3a579fd5921c9c/webapp/src/plugin.jsx#L31

Hope that helps. If you need more help you can ping me on @niklabh in community.mattermost.com

[2019-09-12 06:55] dhadiseputro commented on #118
Okay thanks a lot! That really helps! :)

[2019-09-13 08:54] niklabh commented on #118
Its the react class which is being connected with redux at line 28

[2019-09-19 06:25] dhadiseputro commented on #118
If I have some questions, can I create a PR to show you guys what I have so far?

[2019-09-19 06:53] hanzei commented on #118
Sure, we can always provide feedback on a WIP PR.

[2019-09-19 06:55] dhadiseputro commented on #118
okay will clean it up in a bit and create the PR

[2019-09-20 03:50] dhadiseputro commented on #118
#123

[2019-09-24 02:28] #119 closed

[2019-09-24 21:44] aaronrothschild opened #124 "Improve "Attach to Issue" function"
This was just completed by @niklabh https://github.com/mattermost/mattermost-plugin-github/pull/120

Comments from @DHaussermann are quoted below.

Yes, I've had a few instances where the confirmation is re-assuring - certainly during the first experience.  I agree with @DHaussermann , the utility of having the link referenced within the conversation is pretty critical to the long-term user experi

[2019-09-24 22:42] hanzei opened #125 "Allow excluding organisation members from subscription events"
There should be an option to not post issue and PR events from organisation members. If the flag `--exclude-org-member` is provided when subscribing to a repo, events from organisation members will not trigger notification.

If not organisation is set (https://github.com/mattermost/mattermost-plugin-github/blob/master/plugin.json#L45-L48), this flag has no effect.

[2019-09-28 21:40] mattermod opened #128 "Show code block preview of Github code line permalink"
When a user post contains a Github code line permalink, it should attach a markdown code block that will contain the preview of that section of the code with possibly 3 lines before and after (much like the display shown in code compares in Github:

<img width="860" alt="Screen Shot 2019-09-28 at 5 03 43 PM" src="https://user-images.githubusercontent.com/936315/65822769-ce03ee00-e217-11e9-9002-a14

[2019-09-28 21:40] mattermod opened #133 "Add PR Title in Notifications DMs"
The [Github plugin](https://github.com/mattermost/mattermost-plugin-github) sends DMs for Github notifications related to PRs, i.e. when your PR is approved or when you are requested a review on a PR. The current format of the DM is:

<img width="676" alt="Screen Shot 2019-09-27 at 11 16 24 AM" src="https://user-images.githubusercontent.com/936315/65822777-115e5c80-e218-11e9-9391-cde9199bfdad.png"

[2019-09-30 14:40] mattermod opened #130 "Compute label foreground colour using WCAG rules"
The pending update to the GitHub plugin supports a RHS that renders labels on PRs:
![image](https://user-images.githubusercontent.com/1023171/65889167-23a2dc80-e377-11e9-9cb4-6386aa79daec.png)

Unfortunately, sometimes GitHub renders different foreground colours for the given label colour:
![image](https://user-images.githubusercontent.com/1023171/65889178-2998bd80-e377-11e9-97e4-ae5e84cb92b3.png)

[2019-10-02 14:45] mattermod opened #127 "Improve RHS UI and content"
The [GitHub plugin](https://github.com/mattermost/mattermost-plugin-github) RHS lists notifications, pull requests, assigned issues and review requests. We would like to improve the content and UI layout to include:

  * PR number
  * Milestone version - if available
  * Time the PR has been open - in the case of PR lists

The UI should look like:

**PR Lists:**

![PR](https://user-images.githubus

[2019-10-02 16:57] mattermod opened #129 "Github Plugin: Add comment message in DM Notifications"
The [Github plugin](https://github.com/mattermost/mattermost-plugin-github) sends DMs for Github notifications when someone has commented on your PR that currently looks like:

<img width="661" alt="Screen Shot 2019-09-27 at 2 57 28 PM" src="https://user-images.githubusercontent.com/936315/65822820-a5302880-e218-11e9-9f14-aeab20d7fbd9.png">

This DM should be improved to include the comment messag

[2019-10-02 17:03] mattermod opened #131 "Github Plugin: Add Refresh ability to RHS"
The [GitHub plugin](https://github.com/mattermost/mattermost-plugin-github) RHS lists notifications, pull requests, assigned issues and review requests. It currently displays the data that is available from the current state of the store but does not have the ability to refresh the data in case is outdated. Add support to Refresh the data  by:

  1. Calling Refresh whenever the RHS bar is opened t

[2019-10-02 17:03] mattermod opened #132 "GitHub Plugin: Improved refresh of RHS"
The [GitHub plugin](https://github.com/mattermost/mattermost-plugin-github) RHS lists notifications, pull requests, assigned issues and review requests. It currently refreshes on demand, or whenever the GitHub plugin happens to receive an update that forces the client to fetch the latest results.

At this time, not every update is proxied to the GitHub plugin and thus some items that might be expe

[2019-10-02 20:44] moogacs commented on #131
I will pick this

[2019-10-03 18:10] agnivade commented on #128
A rough design sketch:

### Step 1: Extract the permalinks from the message

I think a regex is the best way to easily capture all the links without creating a hand-written link parser. This is what I have now `https?://(?P<haswww>www.)?github.com/(?P<user>\w+)/(?P<repo>\w+)/blob/(?P<commit>\w+)/(?P<path>[\w/.]+)#(?P<line>[\w-]+)?` and it does the job. The size is mainly due to the named capture g

[2019-10-03 18:25] marianunez commented on #128
This looks great @agnivade! Only a couple of observations:

2. The contents API seems to return a link to the source of the file where you would have to parse it in order to find the needed lines. One thing that I noticed is that within the permalink it does contain within the DOM the source code lines that Github uses to display. You could just look for the html items of the given lines - you wou

[2019-10-03 19:05] agnivade commented on #128
Prima facie, that's what it looked like to me too. But it also returns a base64 encoded version of the file contents itself. See the "content" field. So it's just one Github call.

Didn't get this. Did you mean to use the github internal API (`https://github.com/preview`) to get the html ? That uses some undocumented query parameters like `markdown_unsupported=false&repository=140969738&subject=8&

[2019-10-03 19:32] marianunez commented on #128
I meant an actual GET Http Request to get the permalink HTML contents but you are right, it's one request either way.

[2019-10-03 22:48] levb opened #135 "Build a github action to Post to Mattermost"
Similar or better to https://github.com/apex/actions/tree/master/slack

See https://github.com/actions for more info on github actions

[2019-10-03 22:56] levb commented on #135
Eventually, we should be here, https://github.com/marketplace?category=chat&type=actions

[2019-10-04 03:12] agnivade commented on #128
Right, and even then the underlying HTML structure can change anytime. I think it is safer and cleaner to use the API.

[2019-10-04 14:21] kumar1202 commented on #135
Hi, I would like to work on this.

[2019-10-04 14:36] levb commented on #135
Apparently, I missed https://github.com/cpanato/action-mattermost-notify - already exists, thanks to @cpanato !

[2019-10-04 14:36] #135 closed

[2019-10-04 14:50] marianunez commented on #128
Agreed!

Also, we should add a #4 to your list for having a setting to enable/disable this feature on the plugin.

[2019-10-04 16:12] agnivade commented on #128
Yes absolutely.

Nearly done with it. Tested all scenarios. Seems to work. Remaining work is to add the config switch, write test cases and add more polish.

Btw: here's a nice visualization of the regex I am using - https://jex.im/regulex/#!cmd=export&flags=&re=https%3F%3A%2F%2F(www%5C.)%3Fgithub%5C.com%2F(%5Cw%2B)%2F(%5Cw%2B)%2Fblob%2F(%5Cw%2B)%2F(%5B%5Cw%2F.%5D%2B)%23(%5B%5Cw-%5D%2B)%3F.

One l

[2019-10-04 16:33] marianunez commented on #128
I agree. This border case can be handled as a separate PR as a fix/enhancement in the future.

[2019-10-05 08:46] iwataka commented on #133
I created [a PR](https://github.com/mattermost/mattermost-plugin-github/pull/136), @amyblais @marianunez .
But I sent a form about contribution license agreement just before, so please wait until my form is processed.

[2019-10-05 12:54] manland commented on #131
I work on it!

[2019-10-05 20:03] hanzei commented on #131
Thanks @manland :+1:

[2019-10-07 08:46] Deverick-Simpson commented on #109
I'll snag this one.

[2019-10-07 08:58] hanzei commented on #109
Thanks @Deverick-Simpson. Please note the comment above https://github.com/mattermost/mattermost-plugin-github/issues/109#issuecomment-515416438 on how this issue should be resolved.

[2019-10-07 21:43] manland commented on #132
I have added point 3 (keep deleted item) in my code for #131 :sweat_smile:

@hanzei Do you want I move code inside other PR and affect me this issue, or I don't touch the code and you move point 3 of this issue to #131?

[2019-10-08 10:30] hanzei commented on #132
@manland I not sure what you mean. Surely you can just work one item 3 if this is what you are asking.

[2019-10-08 11:05] manland commented on #132
@hanzei I'm asking if I need to open an other PR with point 3, or if I can just let the code in the PR #138 ;)

[2019-10-09 21:09] wwalker opened #139 "octopus icon randomly changes where it points to"
GitHub (github - 0.9.2)
GitHub plugin for Mattermost.

We are running on GithubEnterprise.

We have Enterprise Base URL and Enterprise Upload URL set to https://github.ourdomain.com

the octocat in the left bottom, sometimes points to https://github.com/settings/connections/applications/09a864219be324547cea1
and other times points to https://github.ourdomain.com/settings/connections/applications/0

[2019-10-09 21:11] wwalker commented on #139
![gh](https://user-images.githubusercontent.com/23478/66520749-64090580-eaaf-11e9-82e8-3b7cff77589d.png)

[2019-10-09 21:28] wwalker commented on #139
Also, I have tested this in Google Chrome Version 77.0.3865.90 (Official Build) (64-bit) and Mozilla Firefox 69.0.1 both on Fedora 30

[2019-10-09 21:41] wwalker commented on #139
And now they are pointing again where they should. (no config change, no restart, nothing done to change the behavior
![ghe](https://user-images.githubusercontent.com/23478/66522685-a0d6fb80-eab3-11e9-8d6b-34af6d10d0b1.png)

[2019-10-09 21:55] wwalker opened #140 "The column on the left where the octocat icon shows up, is not visible for MM users that are only in 1 team."
the members of my dept. can't see the octocat icon, because they are only in one MM "team" and therefore don't have the strip on the left of the screen where the octocat icon shows up.

If I add them to a second MM "team" then they see the strip and the octocat

I don't know if this is a bug in that github plugin should cause that strip to show up, or if it is a bug in MM client.

[2019-10-09 22:04] marianunez commented on #140
Hi @wwalker! When there is only one team you should see the Github plugin action buttons at the top of the left-hand sidebar below the Main Menu as shown below:

<img width="233" alt="Screen Shot 2019-10-09 at 5 57 24 PM" src="https://user-images.githubusercontent.com/936315/66523771-b867b180-eabe-11e9-95c8-c36afacf9f02.png">

Had the users that could not see the plugin buttons connected their git

[2019-10-09 22:44] wwalker commented on #140
even after they've set up github plugin, if they get down to only one team, the strip on the left disappears and they have no access to the github plugin :-(

[2019-10-09 22:45] wwalker commented on #140
Doh! @marianunez you are correct.  Closing

[2019-10-09 22:45] #140 closed

[2019-10-14 16:41] mickmister opened #141 "Make access to KV store atomically safe when saving/removing subscriptions"
#### Summary

For subscriptions of GitHub projects to MM channels, all of the subscription configuration is stored in the `subscriptions` portion of the KV store slice that is used by the Github plugin. In order to avoid race conditions and conflicts when two users are concurrently editing subscriptions, we should wrap the operations in a function like `atomicModify` used [in the Jira plugin](http

[2019-10-14 18:04] mickmister commented on #127
Having the number of approvals shown would also be very helpful

[2019-10-14 18:08] mickmister opened #142 "Make links to comments have the full comment link in the URL"
#### Summary

Currently, a `(username) commented on your pull request` DM message from the Github bot will link to the associated pull request or issue, but will not include the full link to the comment. Because of this, the user is not taken directly to the comment when they click the link.

To improve UX of this feature, the user should be taken to the comment or review that caused the notificat

[2019-10-14 20:11] malaDev commented on #142
I pick this one

[2019-10-14 20:12] mickmister commented on #142
Awesome, thanks @malaDev!

[2019-10-15 09:44] hanzei commented on #139
This is likely a duplicate of https://github.com/mattermost/mattermost-plugin-github/issues/113 and  https://github.com/mattermost/mattermost-plugin-gitlab/issues/74

[2019-10-15 12:30] hanzei commented on #132
You can just leave the code in #138 :+1:

[2019-10-16 14:02] jasonblais opened #144 ""Attach to GitHub issue" menu item misaligned and spelled incorrectly"
Icons with GitHub and Jira plugins not aligned / different size. Same for text

`GitHub` is spelled as `Github`

![image](https://user-images.githubusercontent.com/13119842/66926359-e6d41800-effb-11e9-8ee9-2cd64c50758c.png)

[2019-10-16 20:44] esethna commented on #144
FYI ticket was opened for this earlier: https://mattermost.atlassian.net/browse/MM-19494

0/5 on process, so feel free to open or close as required

[2019-10-17 11:11] hanzei commented on #144
Let's keep this open for visibility.

[2019-10-17 17:33] gsagula commented on #141
I'll take this one.

[2019-10-18 21:35] zetaab opened #146 "Alert if push to master?"
We would like to have alert in mattermost channel if someone pushes to master (instead of using PRs and normal PR process). I think this cannot be done with current plugin?

[2019-10-19 00:44] lindalumitchell commented on #133
Test @prapti

[2019-10-19 02:02] gsagula commented on #141
@mickmister @hanzei Quick update: This issue is part of my tryout but I won't be able to start working on it until Oct 28.

cc: @jwilander

[2019-10-19 12:31] hanzei commented on #141
Thanks for the heads up @gsagula. Looking forward to you working on this :+1:

[2019-10-19 13:34] #133 closed

[2019-10-21 14:03] marianunez commented on #127
@mickmister I agree it is very helpful when deciding which PR to work next. Something like shown with the Refined Github plugin:

<img width="928" alt="Screen Shot 2019-10-21 at 10 02 14 AM" src="https://user-images.githubusercontent.com/936315/67212216-039c9100-f3ea-11e9-9096-aff6c82cb929.png">

[2019-10-21 14:17] mickmister commented on #127
@marianunez The Refined Github plugin is awesome! I've gotten so used to it that I thought the approval count was built into the Github UI :smile:

[2019-10-28 14:10] mickmister opened #151 "[MM-19444] Include number of approvals in RHS PR view"
#### Summary

When displaying "your open pull requests" or similar view in the RHS, the number of approvals so far on the PR would be helpful. It can help determine whether the PR has a stale label.

For example: If a PR has 3 or 4 approvals, chances are it should have the "Reviews Complete" label and not "Dev Review" or "QA Review" labels. It's just another short piece of info available without l

[2019-10-28 14:28] levb commented on #109
@Deverick-Simpson just checking in, any progress?

[2019-10-28 18:33] lieut-data commented on #129
Thanks, @andresoro!

[2019-10-28 20:52] levb commented on #129
@andresoro Just wanted to check in and see if you are still working on this ticket?

[2019-10-29 06:34] hanzei commented on #129
@levb I think this got fixed with https://github.com/mattermost/mattermost-plugin-github/pull/126

[2019-10-29 07:41] gsagula commented on #141
@mickmister @hanzei Quick question before I start working on this issue. If I understand it correctly, [`atomicModify`](https://github.com/mattermost/mattermost-plugin-jira/blob/8d1a96baeb46dd18eca50511a6cc49b4892be1a8/server/subscribe.go#L345) function  should attempt to modify the the subscriptions only when the key exists in the KV storage and the initial value is equal to the current value. I'

[2019-10-29 21:59] mickmister commented on #141
Hi @gsagula,

It seems that the `success = true` line may be a bug. This line was introduced before the switch to using `api.KVCompareAndSet`, which gives us a success return value, but the `success = true` line was kept as well, ([before](https://github.com/mattermost/mattermost-plugin-jira/pull/61/files#diff-2e60f7eae1ef5d6971c9403310a9bdb5R301) and [after](https://github.com/mattermost/mattermo

[2019-10-30 04:24] gsagula commented on #141
Thanks @mickmister,

I agree with limiting the retries. Anything that allows controlling bursts so we can minimize chances of resource starvation. Something like a [token bucket](https://en.wikipedia.org/wiki/Token_bucket)  should probably be sufficient. WDYT?

I'm still getting familiar with the design. Is  [helpers_kv.go](https://github.com/mattermost/mattermost-server/blob/master/plugin/helpers

[2019-10-30 04:33] mickmister commented on #141
Looks like a great solution, looking forward to the implementation!

Yep :+1:

[2019-10-30 06:06] mickmister opened #152 "Include comments in notifications for approval / changes requested"
#### Summary

When a PR receives an approval or changes are requested, and the reviewer left a comment with their review, the comment is not shown in the MM notification. It can work similarly to how the `commented on your pull request` notification works, where the comment is embedded in the post.

----

If you're interested please comment here and come [join our "Contributors" community channel]

[2019-10-30 09:30] enolal826 commented on #152
I'd like to work on this!

[2019-10-30 10:15] hanzei commented on #152
Awesome, thanks @enolal826 :+1:

[2019-11-02 09:49] enolal826 commented on #125
I'd like to work on this! Thanks.

[2019-11-02 12:17] hanzei commented on #125
That's awesome, thanks @enolal826 :tada:

[2019-11-03 17:52] enolal826 commented on #125
Hello!

Two aspects:
- Since currently no flags are supported, I've thought it'd be more convenient for the Subscription struct to have a "flags" field. What do you think?

- As of now, when subscribing there is just one field "features" supported and is supposed to be a comma-separated string, but other features are also considered:
`features = strings.Join(parameters[1:], " ")`

It means that fo

[2019-11-04 13:19] hanzei commented on #125
1. I would like to have the "flags" as boolean fields of in the `Subscription` struct. This way we make sure that we do the parsing of the input only once and then have all data in the struct
2. That is not expected. "anotherThing" should not go into `Features`.

Let me know, if this resolves your questions.

[2019-11-04 13:48] enolal826 commented on #125
Ok, I see flags as Subscription fields a good idea. It should also be more efficient than having it in array of strings as we won't have to iterate just to check if the flag is set. Maybe another struct SubscriptionFlags could be included.

Thanks @hanzei!

[2019-11-07 10:08] #142 closed

[2019-11-08 16:40] #152 closed

[2019-11-12 13:58] levb commented on #144
https://mattermost.atlassian.net/browse/MM-19494 has been fixed.

[2019-11-12 13:58] #144 closed

[2019-11-15 03:57] maruTA-bis5 opened #156 "Wrong emoji rendered in new issue notification"
[This issue](https://github.com/excella-core/excella-pdfexporter/issues/16) has 🙅‍♂ (`:no_good_man`) and 🙆‍♂ (`:ok_man:`) emojis.
But rendered as this:
![image](https://user-images.githubusercontent.com/1310661/68915839-026f4180-07a7-11ea-985e-a99f4d82105d.png)

Environment:
- Mattermost Server: 5.16.2
- GitHub Plugin: 0.11.0 (prepackaged)
- OS: Windows 10 Pro 1809
- Browsers: Firefox Developer Ed

[2019-11-15 18:58] hector2 commented on #124
Hello! Can i work on this issue?

[2019-11-16 00:00] aaronrothschild commented on #124
@hector2 Absolutely, let me know if you have any questions at all!

Removing "Up for Grabs" label for you.

[2019-11-19 16:26] #128 closed

[2019-11-24 12:23] hector2 commented on #124
Hello @aaronrothschild  !

I managed to check if the issue has locked the conversation. However, there is a problem checking if the user is blocked from the organization.

I created an organization called "GabuTest", and the owner is "gabu9". In this organization, I blocked myself (hector2).

If I check if the user is blocked (using gabu9 credentials):

curl -u "gabu9" -H "Accept: application/vnd.

[2019-11-25 14:22] aaronrothschild commented on #124
@hector2 Hmmmm.  Interesting problem.

I think returning a genericized message may be the best we can do: `Sorry, either you don't have access to the repo {REPO_NAME} with the user {GITHUB_AUTHED_USERNAME} or it is no longer available (404)` Does that cover the situation appropriately?

cc @hanzei @DHaussermann

[2019-11-25 19:58] hector2 commented on #124
@aaronrothschild I tried creating an issue comment in a blocked org repo, and the response was "403 Forbidden" so we could even identify more accurately the problem and say something like "The issue is locked for comments/You don't have permissions to do that action" if you prefer.

[2019-11-26 11:14] aaronrothschild commented on #124
@hector2 Excellent. the more explicit the error message, the better IMO.  I would prefer that message.

[2019-11-26 13:51] levb commented on #156
This seems like a general issue with Mattermost Markdown, logged as https://mattermost.atlassian.net/browse/MM-20676 for the platform to fix.

[2019-11-26 13:51] #156 closed

[2019-11-30 18:48] DarkWingMcQuack opened #163 "subscribe to all commits"
Is there a way to subscribe the bot to all commits of a repository?

[2019-12-02 11:37] larkox commented on #139
May I take this one? I just uploaded a solution for gitlab and I am pretty sure the solution here is the same.

[2019-12-02 17:41] larkox commented on #113
May [this PR](https://github.com/mattermost/mattermost-plugin-github/pull/164) have solved this?

[2019-12-02 17:45] DHaussermann opened #165 "GitHub plugin has no validation if subscribing with an invalid feature"
If you try and subscribe to a repo with an invalid feature, The ephemeral post tells you the subscription was successful but nothing will be delivered as the feature does not exist.

Can we validate when a feature does not exist to prevent user error

Steps:
1. type  `/github subscribe DHaussermann/hello-world create` (the 's' is missing)
**Observed** `Successfully subscribed to hello-world.`
**Ex

[2019-12-02 18:14] hanzei commented on #113
Maybe. @DHaussermann Would you please, when testing https://github.com/mattermost/mattermost-plugin-github/pull/164, also test if this ticket got fixed?

[2019-12-10 13:17] levb commented on #141
@gsagula do we still need this ticket, or has it been (indirectly?) resolved?

[2019-12-11 09:35] #139 closed

[2019-12-11 15:58] gsagula commented on #141
I need to finish https://github.com/mattermost/mattermost-server/pull/13002 before getting back to this one.

[2019-12-12 15:18] reflog opened #167 "Proposal: Add icon for build status on the open PRs"
Maybe two icons, one red one green with a number. Clicking that icon will open LHS with the PRs that are either green or red

[2019-12-16 14:12] #109 closed

[2019-12-18 23:02] larkox commented on #127
May I take this one?

[2019-12-19 00:23] marianunez commented on #127
That would be great. Thanks @larkox!

[2019-12-20 04:13] hanzei commented on #167
@reflog Are you proposing to have two icon on the LHS or the RHS?

[2019-12-20 22:16] larkox commented on #127
Working into this, and I would love some guidance in two things.

1. Styles: is there any class that I can reuse to that shade of blue? I understand it takes the color from the template, but it would be great if I can throw just a class name and forget about it. For the lightly colored text (the one with the repo name) I used the ```light``` class, but would be great to use the correct class for t

[2019-12-22 09:11] reflog commented on #167
RHS, similar to the icons we already have, one for broken builds one for passed

[2019-12-22 19:46] hanzei commented on #167
Maybe we should the icons right next to the name similar how GitHub does it
![Screenshot from 2019-12-22 20-40-41](https://user-images.githubusercontent.com/16541325/71326478-b927b580-24fb-11ea-8253-11f5a27cbc89.png)

![Screenshot from 2019-12-22 20-41-20](https://user-images.githubusercontent.com/16541325/71326463-749c1a00-24fb-11ea-8de4-65ae4548a654.png)

[2019-12-23 05:04] hanzei opened #171 "Remove comments before posting a notification"
When e.g. a PR gets created and the PR description contains a md comment, GitHub will ignore the content of the comment and don't render it. However, Mattermost doesn't understand Markdown comments and will show the content in the comment.

This issue is about fixing this by removing all comments before posting a message to Mattermost.

[2019-12-23 07:52] reflog commented on #167
Grr. Sorry, I meant LHS for my icons. But your idea for RHS is great too. Not mutually exclusive :)
I meant something like (sorry for my amazing UI skills):
![image](https://user-images.githubusercontent.com/109876/71343961-f4f96400-2569-11ea-957e-3bb414317bd1.png)

[2019-12-26 19:45] M-ZubairAhmed commented on #171
Can i work on this

[2019-12-27 08:54] hanzei commented on #171
Awesome, thanks @M-ZubairAhmed!

[2019-12-31 22:26] M-ZubairAhmed commented on #151
Can i work on this

[2020-01-02 02:33] mickmister commented on #151
Absolutely :tada: Thanks for contributing, @M-ZubairAhmed!

[2020-01-02 12:52] M-ZubairAhmed commented on #151
Hi @mickmister i was just informed that Larkox is working on this one as per https://github.com/mattermost/mattermost-plugin-github/issues/127 efforts, please assign it to him

[2020-01-08 09:02] hanzei commented on #113
Closing as #164 likely resolved this.

[2020-01-08 09:02] #113 closed

[2020-01-08 09:05] #125 closed

[2020-01-08 13:24] hanzei commented on #167
Good that talked about this :wink:

Actually, I would push back on adding this to the LHS. If a user is not part of a team, the icon is shown under the username. But there isn't enough space for more icon.
![Screenshot from 2020-01-08 14-23-02](https://user-images.githubusercontent.com/16541325/71981358-8cc1a800-3222-11ea-9d6b-c66d27e6ef16.png)

Hence, I propose to only show an icon next to the PR

[2020-01-08 14:48] reflog commented on #167
That definitely makes sense. I didn't consider the horizontal layout

[2020-01-09 15:14] #124 closed

[2020-01-09 20:06] jfrerich opened #175 "Replace occurrences of Github with GitHub"
There are inconsistencies when capitalizing letters in the name `GitHub`.  This issue is a request to grep those instances which are `Github` and rename to `GitHub`.  Note that a simple grep will include pieces of code (variables, component, classes, .etc) but we are only concerned with replacing the capitalization of items that are outward-facing (visible in the app)

[2020-01-10 14:17] lieut-data opened #176 "Replace GitHub usernames with Mattermost usernames in notifications"
We already resolve the GitHub user to the Mattermost user when generating the template and posting to Mattermost -- e.g. `@saturninoabril` becomes `@saturnino.abril`, given our knowledge of the linking in the GitHub plugin:
![image](https://user-images.githubusercontent.com/1023171/72159116-15128b00-3392-11ea-965d-3b339220cd61.png)

but let's also consider doing this in the body of notifications a

[2020-01-10 14:22] levb commented on #176
The Jira plugin does it already, see https://github.com/mattermost/mattermost-plugin-jira/blob/ec8f206261f3b96045f58378b70469333538aac7/server/webhook.go#L145

[2020-01-17 21:30] #171 closed

[2020-01-18 11:17] agarciamontoro commented on #176
I would like to work on this one.

[2020-01-19 16:38] agarciamontoro commented on #176
I am planning to solve this as follows:

1. Add a new function to `funcMap` in `template.go` that receives a string and returns that same string with all the GitHub usernames resolved to their assigned Mattermost usernames, if any. If no Mattermost username is found, the GitHub username will remain unchanged. This function will be really similar to the one @levb pointed to, [`replaceJiraAccountIds

[2020-01-21 13:35] levb opened #178 "Links in todo messages should be consistent, include repo info"
The output of /github todo lists PRs, and assignments differs from that of Messages.

![image](https://user-images.githubusercontent.com/1187448/72808288-1f444d00-3c0e-11ea-9482-a3ddcebee6d4.png)

1. They should be consistent
2. They should include both the repo reference, and the PR title.
3. bonus: Unread messages should indicate if PR or Issue

Suggested format: `[org/repo-last-token-ellipsis](

[2020-01-21 13:36] levb commented on #178
cc @aaronrothschild @asaadmahmood for copy/formatting suggestions

[2020-01-21 18:18] aaronrothschild commented on #178
Bonus Bonus: I will go on a limb and say that it may be useful to GROUP the messages/issues/PRs within the sections by repo (IF there is >1 issue/PR for that repo in the list).

@levb @asaadmahmood Curious if you think it would help to present these in a tabular format?

[2020-01-21 19:07] levb commented on #178
-1 for tables, they consume too much space.

[2020-01-24 12:24] lieut-data opened #179 "Commit notifications trigger unexpected link preview"
I recently received a notification in the [message of a commit](https://github.com/mattermost/mattermost-sa-code/commit/528462af4dca50e41011fe1076c76edb00327b5b):

![image](https://user-images.githubusercontent.com/1023171/73068914-ca5d3c80-3e82-11ea-9a13-39edad97c9ab.png)

In my summary, this then resulted in a perhaps unexpected link preview compared to all the other links in the message:

![ima

[2020-01-25 12:10] levb commented on #179
(at a superficial glance) - review and add tests for https://github.com/mattermost/mattermost-plugin-github/blob/23f77f082659e78f1d519eb3aacb0ceb94a3cc21/server/plugin.go#L57?

[2020-01-25 18:47] hanzei opened #180 "Results from /github subscribe list should be ordered"
Currently, the results returned from `/github subscribe list` get returned in a random order. The should be ordered by the repo name instead.

[2020-01-27 12:19] bakurits commented on #180
I would like to work on this

[2020-01-27 19:35] hanzei commented on #180
Thanks @bakurits :+1:

[2020-01-28 17:32] #176 closed

[2020-01-28 20:45] vespian commented on #179
I'll like to take this one.

[2020-01-29 14:49] lieut-data commented on #179
Thanks, @vespian!

[2020-01-29 14:51] lieut-data commented on #176
Thanks again, @agarciamontoro!

[2020-01-31 17:47] mickmister opened #182 "Display time of notification in the Unread Messages pane"
#### Summary

The notifications in the Unread Messages are currently ordered with most recent on top, but it would be useful to know when each notification was created, like it shows in the GitHub UI.

#### Screenshots

![image](https://user-images.githubusercontent.com/6913320/73561690-707ee880-4427-11ea-8b0d-817f81d610ab.png)

![image](https://user-images.githubusercontent.com/6913320/73561780-a

[2020-01-31 18:06] rakhi2104 commented on #182
I want to take this up

[2020-01-31 18:10] mickmister commented on #182
@rakhi2104 Great, thank you!

[2020-02-02 21:13] vespian commented on #179
Short update - the problem occurs due to other users doing @mentions of the given user in the commit message. We would need to adjust the regex as pointed out in [2] and adjust the current code [1] to handle rewriting the raw link to the commit (i.e. do not always assume a file/blob) to a nice markdown link.

Will try to prepare a patch.

[1] https://github.com/mattermost/mattermost-plugin-github/

[2020-02-04 13:28] aayush-plivo commented on #165
@levb I'd like to take this up.

Approach: Add validation for feature here: https://github.com/mattermost/mattermost-plugin-github/blob/23f77f082659e78f1d519eb3aacb0ceb94a3cc21/server/command.go#L142

[2020-02-04 14:03] levb commented on #165
cc @jfrerich

[2020-02-04 18:15] checkaayush commented on #165
PR for review: https://github.com/mattermost/mattermost-plugin-github/pull/183

[2020-02-05 07:58] aayush-plivo commented on #165
The CI is failing in `make check-style`, which seems to be due to this issue: https://github.com/golang/go/issues/34053. Can someone help with this?

[2020-02-05 08:00] checkaayush commented on #165
The CI is failing in `make check-style`, which seems to be due to this issue: https://github.com/golang/go/issues/34053. Can someone help with this?

[2020-02-05 10:42] levb commented on #165
Commented in the PR, need gofmt.

[2020-02-05 14:37] aayush-plivo commented on #165
Done.

[2020-02-05 15:20] hanzei opened #185 "Don't try to print review body if it's empty"
https://github.com/mattermost/mattermost-plugin-github/pull/153 added support for including the review comment in the notification.

But if there wasn't any message within the review only `>` is shown.

![Screenshot from 2020-02-05 16-16-39](https://user-images.githubusercontent.com/16541325/73854749-45373780-4833-11ea-8c9d-ae46f389f26a.png)

This issues is about not showing `>` if there is no mes

[2020-02-05 15:31] hanzei opened #186 "Result for /github subscribe list should show flags"
Currently only features are shown in the list. There should also be all flags listed e.g. `--exclude-org-member`.

[2020-02-08 18:35] EugenMayer commented on #108
Really an important thing for us, any chance this is getting picked up?

Considering the amount of notifications of pushes, this is basically a blocker in using the plugin at all.

I would really love to have this one configurable at least, or hard opt out for now ( until anything more sophisticated is thought about ).

Beside all that, such a lovely integration, that you so much!

[2020-02-08 21:54] Etcaxofjut commented on #179
@lieut-data

I was playing with the code rewriting the raw link to the commit [4] and realized that I may not have all the data yet.

The `ToDo` text you linked in the Jira description one can trigger directly to bot (`/github todo`) but from what I can see/understand this posts an `ephemeral post`, which in turn does not trigger `MessageWillBePosted` hook (see my question in to ~developers channe

[2020-02-08 21:56] vespian commented on #179
@lieut-data

I was playing with the code rewriting the raw link to the commit [4] and realized that I may not have all the data yet.

The ToDo text you linked in the Jira description one can trigger directly to bot (`/github todo`) but from what I can see/understand this posts an ephemeral post, which in turn does not trigger MessageWillBePosted hook (see my question in to ~developers channel [2],

[2020-02-09 10:36] aayush-plivo commented on #178
@levb I'd like to give this a shot.

[2020-02-09 10:39] aayush-plivo commented on #186
I'd like to give this up.

[2020-02-09 11:03] checkaayush commented on #186
I'd like to take this up.

[2020-02-09 11:06] checkaayush commented on #178
I'd like to take this up.

[2020-02-09 12:11] vespian commented on #185
I'll like to take this one.

[2020-02-09 13:38] vespian commented on #179
Also,  the todo list output looks like this for me:
![todo](https://user-images.githubusercontent.com/2124609/74103120-b9cae880-4b49-11ea-8310-35d211b63d6a.png)

[2020-02-10 07:11] EugenMayer commented on #108
Thinking about this twice, i really ask myself "when is this ever usefull". Looking at the code at https://github.com/mattermost/mattermost-plugin-github/blob/master/server/template.go#L85 it basically, if possible, finds the mattermost user corresponding to the git user ( if possible ) and **notifies** this user about his own action.

How does that make any value to the user? Currently, every tim

[2020-02-10 09:01] EugenMayer opened #189 "Deployment does no longer work post 5.12"
Following the docs at https://github.com/mattermost/mattermost-plugin-github#development

[code]

But when opening the system console, i still have 0.11-prepackaged

[2020-02-10 09:13] EugenMayer commented on #189
When i use the upload method in the system console
, it works. So maybe the deploy task is broken?

[2020-02-10 09:16] EugenMayer commented on #108
I'am running the PR #188 on our server now - works like expected (if that helps anybody)

[2020-02-10 13:46] rorist opened #190 "/github connect leads to 404 on github.com"
Hello,

I can't figure out why oauth authorization is not working in our install.
We're using,
Mattermost mattermost/mattermost-enterprise-edition:5.19.1
GitHub Plugin 0.13.0

The app has been created on GH under an organization and the URI given for connecting GH leads to a 404. According to the GH documentation the URI is correct (client_id being the only necessary argument).

Is there something

[2020-02-10 13:47] #190 closed

[2020-02-10 15:43] lieut-data commented on #179
@vespian, `MessageWillBePosted` will indeed only be called for non-ephemeral posts, but in this particular case, I get a regular post from the GitHub plugin's morning reminder. You can enable this with `/github settings reminders on`.

re: the GitHub bot and `UserId`, I might be misunderstanding, but it is indeed the GitHub bot making these posts, so that part seems correct. Does the code preview

[2020-02-11 21:47] vespian commented on #179
RE: Github credentials - I have prepared a simple patch:

https://github.com/mattermost/mattermost-plugin-github/pull/191

It does not solve the main issue though, just fixes a thing that most likelly is a different bug. Please check the PR description for details.

[2020-02-11 23:58] levb commented on #179
I am so very confused (and apologies for my ignorance about how the plugin works).

This is a message that is generated by the plugin itself, do we really use MessageWillBePosted to rewrite it? Seems illogical, why not compose correctly to start with?

Also, FWIW, if we _are_ setting up regex link rewrites from the GitHub plugin, perhaps we should be promoting the autolink plugin, and programmatic

[2020-02-12 00:05] levb commented on #178
@checkaayush go for it! A personal thank you if you get it done!

[2020-02-12 10:16] aayush-plivo commented on #178
@levb In the suggested format `[org/repo-last-token-ellipsis](repoURL)[PR/IssueID title](issueURL)`, if the title is going to be a hyperlink, isn't the PR/IssueID before it redundant?

I'd like to suggest the following:

- For unread messages:
  - `[org/repo-last-token-ellipsis](repoURL) <type> [title](issueURL)`
  - `type` above will be either `PR` or `Issue`
  - Example:
    - [mattermost/...ser

[2020-02-12 10:17] checkaayush commented on #178
@levb In the suggested format `[org/repo-last-token-ellipsis](repoURL)[PR/IssueID title](issueURL)`, if the title is going to be a hyperlink, isn't the PR/IssueID before it redundant?

I'd like to suggest the following:

- For unread messages:
  - `[org/repo-last-token-ellipsis](repoURL) <type> [title](issueURL)`
  - `type` above will be either `PR` or `Issue`
  - Example:
    - [mattermost/...ser

[2020-02-12 12:29] levb commented on #178
@checkaayush I like your suggestion. It may be a good idea to post this for discussing in the Plugin: GitHub channel on community - I expect more opinions on the matter.

[2020-02-12 13:45] aaronrothschild commented on #178
@checkaayush Agree with Lev, I will take any developer suggestions over mine :)

[2020-02-12 14:36] #185 closed

[2020-02-12 17:09] #165 closed

[2020-02-13 07:43] aayush-plivo commented on #178
I'm going ahead with development as per my suggestion here: https://github.com/mattermost/mattermost-plugin-github/issues/178#issuecomment-585133677.

I'll extract the message formatting logic in a separate function so that changing (and testing) it as desired becomes trivial.

[2020-02-13 07:45] checkaayush commented on #178
I'm going ahead with development as per my suggestion here: https://github.com/mattermost/mattermost-plugin-github/issues/178#issuecomment-585133677.

I'll extract the message formatting logic in a separate function so that changing (and testing) it as desired becomes trivial.

[2020-02-13 10:28] asaadmahmood commented on #178
I agree with @levb. Tables take too much space.

[2020-02-14 06:36] vespian commented on #179
@lieut-data

Please bear with me, I still had no luck in recreating the error, even with #191. Is it possible that the previews you mentioned are done through autolinks plugin?

[2020-02-14 19:55] lieut-data commented on #179
@vespian, ahh, perhaps it is autolink that's at play here, and not GitHub at all. That makes a lot more sense: and thank you for digging to the bottom of this.

@levb, would it makes sense to guard autolink with [ShouldProcessMessage](https://godoc.org/github.com/mattermost/mattermost-server/plugin#HelpersImpl.ShouldProcessMessage)?

[2020-02-16 15:54] checkaayush commented on #178
Assumptions I'm making during development:

- Trimming title to 80 characters with ellipsis as suffix.
- Repository names, when having multiple words, will be separated by hyphens `-`.

If any of the assumptions seem inappropriate, let me know.

[2020-02-17 08:17] reflog opened #193 "Comments on updated PR's are reported incorrectly by the plugin"
This is a regression, previously the text of the comment was reported, now it just shows: ">"

![image](https://user-images.githubusercontent.com/109876/74635414-a08bf280-516e-11ea-9182-2aa28b3f7f75.png)

[2020-02-17 15:38] levb commented on #179
@lieut-data Yes, I think so. Do you think we should expose the options in the Config? Do we have common code to do that?

Separately, I also think we should work on removing link substitution from GitHub and delegate it all to Autolink, programmatically, like Jira does now. This would be better for performance, and promote plugin usage. cc @aaronrothschild @jfrerich.

Now, what do we do with this

[2020-02-17 22:35] lieut-data commented on #179
@levb, I'd be happy to move this issue over to the autolink repository to keep the history. Agreed re: investigating programmatically managing link substitution, but as a separate issue?

[2020-02-18 12:16] levb commented on #189
@EugenMayer Do you see plugin deployment-related messages in the mattermost-server log? Also, do you have the username/password correctly configured to use an admin account in your environment?

[2020-02-18 12:27] levb commented on #193
@jfrerich can you please investigate?

[2020-02-18 13:44] hanzei commented on #193
@reflog Is this related to https://github.com/mattermost/mattermost-plugin-github/issues/185?

[2020-02-18 18:29] jfrerich commented on #193
Thanks @hanzei.  I would suspect that issue and the following pull request are causing the missing comments.
https://github.com/mattermost/mattermost-plugin-github/pull/187/files

[2020-02-18 20:24] reflog commented on #193
@hanzei spot on!

[2020-02-19 15:59] hanzei commented on #193
Closing as a duplicate of https://github.com/mattermost/mattermost-plugin-github/issues/185

[2020-02-19 15:59] #193 closed

[2020-02-19 18:29] EugenMayer commented on #189
Credentials are correct for sure, i get a success message. I did not check the server logs since i deployed using the upload variant later on

[2020-02-20 04:33] hanzei commented on #186
Awesome, thanks @checkaayush

[2020-02-21 16:33] checkaayush commented on #186
Currently, `--exclude-org-member` is the only supported flag. Assuming there'll be more flags supported in the future, here's what I'd like to propose:

- When 1 or more flags are set:
  * `mattermost-server` - pulls,issues,creates,deletes - `--exclude-org-member,--another-flag`

- When no flag is set:
  * `mattermost-server` - pulls,issues,creates,deletes

[2020-02-22 22:21] DHaussermann opened #194 ""Changes Requested" text is sometimes hidden on GitHub side bar"
For the PRs Needing Review Section, when the last record at bottom has changes requested from the reviewer(s), the help text for the "+/-" still opens downward so the text "Changes Requested" is not visible.

![GitHubCss](https://user-images.githubusercontent.com/35588783/75100097-720b7e80-5597-11ea-912f-f9c4352dc29e.png)

[2020-02-23 04:26] #127 closed

[2020-02-23 04:29] hanzei opened #195 "Release 0.14.0"
https://github.com/mattermost/mattermost-plugin-github/pull/170 alone is worth a new release. Let's iterate quickly.

[2020-02-23 04:36] hanzei commented on #194
@DHaussermann thoughts on making is a HW?

[2020-02-23 05:36] hanzei commented on #186
That is a great suggestion. Looking forward to the PR :+1:

[2020-02-23 08:45] checkaayush commented on #186
Here you go: https://github.com/mattermost/mattermost-plugin-github/pull/197!

[2020-03-02 12:33] hanzei opened #199 "Subscriptions with excluded org members something still shows org members"
This e.g. happend with a new pull request form `@streamer45` (who is a member of the `mattermost` organisation). He created a [pull request](https://github.com/mattermost/mattermost-load-test-ng/pull/127), which triggered a notification.

This ticket is about investigating, why this happend and fixing the code if needed.

[2020-03-02 12:43] hanzei commented on #199
This might be caused by organisation memberships being private.

[2020-03-03 10:17] hanzei commented on #180
@bakurits How are you doing with this ticket? Do you have any questions?

[2020-03-03 10:20] #175 closed

[2020-03-03 10:20] bakurits commented on #180
Yes, I am. I'm done I think, but can't test it. Do you have any suggestions?

[2020-03-03 10:24] hanzei commented on #180
You could move your logic for creating a the list of subscriptions into from https://github.com/mattermost/mattermost-plugin-github/blob/9a40ca24e3d9ea9edd2c20079cfe1a9a10208f2a/server/command.go#L157-L164 to `server/subscriptions.go` and then set up a unit test at `server/subscriptions_test.go`. Could this work for you?

[2020-03-03 11:25] bakurits commented on #180
I'm on it

[2020-03-03 12:31] levb commented on #189
@EugenMayer I _think_ there maybe bugs (cover-my-face) in the `make deploy` implementation, I always keep my eye on the server log to be sure the plugin was deployed successfully. Can you please confirm?

[2020-03-03 12:34] EugenMayer commented on #189
@levb it was a one time deployment for #108 and i'am not really working on the project right now, so i'am the wrong guy to test. For me it looked like very easy to reproduce. If not, close the issue and if i should work further on on the plugin and try this again, i will paste you the server logs.

[2020-03-03 13:32] bakurits commented on #180
@hanzei
I think I have to mock GetSubscriptions() method here. [https://github.com/mattermost/mattermost-plugin-github/blob/9a40ca24e3d9ea9edd2c20079cfe1a9a10208f2a/server/subscriptions.go#L148](url)
Is there any other way?

[2020-03-04 07:15] jfrerich commented on #167
@hanzei, @reflog Correct me if wrong, but the RHS implementation was merged in this PR https://github.com/mattermost/mattermost-plugin-github/pull/170.  Assuming LHS will be left alone, can we close this issue?

[2020-03-04 16:01] hanzei commented on #167
Good catch @jfrerich, closing

[2020-03-04 16:01] #167 closed

[2020-03-07 13:07] #186 closed

[2020-03-07 14:43] hanzei commented on #189
@EugenMayer Could you double check that `MM_SERVICESETTINGS_SITEURL` is set to the right URL?

[2020-03-07 14:48] hanzei commented on #163
@DarkWingMcQuack Could you please try if the `pushes` features resolved your use case?

[2020-03-07 15:53] #146 closed

[2020-03-07 15:54] hanzei commented on #151
Fixed with https://github.com/mattermost/mattermost-plugin-github/issues/127

[2020-03-07 15:54] #151 closed

[2020-03-07 15:58] hanzei commented on #141
https://github.com/mattermost/mattermost-server/pull/13805 has to be done first

[2020-03-09 08:49] hanzei opened #203 "Migrate logging to use RPC Logging methods"
Instead of using `mlog` all log calls should use the RPC methods `LogX`, e.g. [`LogDebug`](https://developers.mattermost.com/extend/plugins/server/reference/#API.LogDebug). This allows the server to gradually select which log messages to show in the server logs.

[2020-03-09 13:10] lieut-data commented on #203
The new mattermost-plugin-api exposes a means to directly [wire logrus to the RPC methods](https://github.com/mattermost/mattermost-plugin-api/blob/master/logrus.go). I wonder a similar method could be used for mlog?

[2020-03-09 13:14] hanzei commented on #203
There could surely be an adapter to plug `mlog` into `mattermost-plugin-api`. But I see `mlog` as a private package of `mattermost-server` that should not be used by the public.

I'm 2/5 that the logging should be unified.

[2020-03-10 11:24] karlduderstadt opened #204 "Unable to activate plugin"
I have Mattermost Team Edition version 5.7.1. The GitHub plugin was not installed, so I downloaded it and installed it (v 0.13.0) using the system console in the browser (after enabling plugin uploads). The plugin then shows up in the list, but it fails to activate. The log reports the following error:

{"level":"error","ts":1583839143.495255,"caller":"app/plugin.go:97","msg":"Unable to activate p

[2020-03-10 11:31] JtheBAB commented on #204
@karlduderstadt

You are using a too old Mattermost version. As it writes here:

`{"level":"error","ts":1583839143.495255,"caller":"app/plugin.go:97","msg":"Unable to activate plugin","plugin_id":"github","error":"**plugin requires Mattermost 5.12.0**: github"}`

Either you update or use [this version](https://github.com/mattermost/mattermost-plugin-github/releases/tag/v0.9.2)

[2020-03-10 11:35] #204 closed

[2020-03-11 01:38] jfrerich opened #205 "We can omit these as they are default values."
NOTE: [This PR](https://github.com/mattermost/mattermost-plugin-github/pull/123) must be merged before code will appear in `master`.  If it is merged, feel free to take!

We need to remove the input props that are set to the default values.

[This line](https://github.com/mattermost/mattermost-plugin-github/pull/123/files/cc4ed0749ae13f9c7ea2a71592e666d7cbfd22aa#diff-9da3918b1171cc9ee321df5819e73c

[2020-03-11 01:39] jfrerich opened #206 "I suggest we have this component receive the `post` (or even just `postMessage` if we don't need anything else) so we can avoid a double fetch to the API to get the post."
I suggest we have this component receive the `post` (or even just `postMessage` if we don't need anything else) so we can avoid a double fetch to the API to get the post.

_Originally posted by @marianunez in https://github.com/mattermost/mattermost-plugin-github/pull/123_

[2020-03-11 07:02] karlduderstadt commented on #204
Yes that is very obvious :)

Thanks for your fast response!!

[2020-03-11 07:14] karlduderstadt opened #207 "Failure to connect to Github account with Gitlab omnibus install"
I upgraded to mattermost team edition 5.19.1 based on previous feedback :)
and configured everything as described in the instructions below. However, I am unable to complete the connection process after running /github connect and following the instructions. I believe there is a configuration/permission issue in the gitlab omnibus installation. I am now using mattermost packaged with Gitlab 12.8.5

[2020-03-11 14:27] DHaussermann opened #208 "Add meaningful error where Clent ID and Secret are misconfigured"
When trying to connect to GitHub if the Client ID and Client Secret are wrong, the connection link will direct to a page that shows only `invalid state`
![GitHubState](https://user-images.githubusercontent.com/35588783/76427530-cded4a00-6382-11ea-9086-d00f49d7c1cf.PNG)

There should be a more meaningful message about a configuration problem with the Oauth App on GitHub.

[2020-03-12 16:44] hanzei commented on #208
@DHaussermann Could you please provide steps to reproduce this? I tried connecting my account with both an invalid Client ID and Secret and both returned meaningful error messages.

[2020-03-13 06:48] #180 closed

[2020-03-14 12:59] DarkWingMcQuack commented on #163
yes this works for me

[2020-03-14 12:59] #163 closed

[2020-03-17 04:08] mickmister opened #211 "Refactor command handlers to be separate functions for each command"
#### Summary

Currently the command handling is in one big function. The task here is to break the function into smaller functions for each command.

[2020-03-17 04:10] bakurits commented on #211
I would like to work on that

[2020-03-17 04:10] mickmister commented on #211
Great, thanks for contributing @bakurits!!

[2020-03-19 14:36] DHaussermann opened #214 "Setting --exclude-org-member flag should fail when organization is not locked to reflect the functionality"
When stetting `--exclude-org-member` the subscription should fail if the the plugin config is not locked to an org.

The way the functionality currently works - the flag looks at the Org in the config and not simply any subscription you put in place. This can cause confusion if someone who does not have the org locked tries to use the flag.  Therefore, if you have the Org unlocked and subscribe to

[2020-03-19 15:34] #178 closed

[2020-03-19 19:14] #199 closed

[2020-03-20 17:23] jfrerich opened #215 "[Feature Branch - Create Issue Modal] - submit button hangs if user forgets to select a repository"
### Summary

**Requires that #123 be merged first.**

When a user forgets to select a repository before clicking the submit button, the button will hang.

The original conversation exists in the PR which adds the create issue modal. [Linked here](https://github.com/mattermost/mattermost-plugin-github/pull/123#issuecomment-598203967)

### Work from the `Feature-create-issue-modal` feature branch

T

[2020-03-20 17:26] jfrerich opened #216 "[Feature Branch - Create Issue Modal] - no validation if title is left empty"
### Summary
**Requires that https://github.com/mattermost/mattermost-plugin-github/pull/123 be merged first.**

If the user forgets to add a title to the ticket, validation should inform the user to fill out the title

The original conversation exists in the PR which adds the create issue modal. [Linked here](https://github.com/mattermost/mattermost-plugin-github/pull/123#issuecomment-598203967)

[2020-03-20 17:39] jfrerich opened #217 "[Feature Branch - Create Issue Modal] - Filter the list of repos to show only repos within specified organization"
### Summary
**Requires that https://github.com/mattermost/mattermost-plugin-github/pull/123 be merged first.**

The request is to filter the repos, when creating an issue, to the organization's repos.  This is the current implementation for the attach comment to issue modal and should be matched for the create issue modal.

The original conversation exists in the PR which adds the create issue mod

[2020-03-20 17:44] jfrerich opened #218 "[Feature Branch - Create Issue Modal] - Repo dropdown search does not refine the selection"
### Summary
**Requires that https://github.com/mattermost/mattermost-plugin-github/pull/123 be merged first.**

When a user trying to filter the repos by searching in the dropdown, the search does not work.

The original conversation exists in the PR which adds the create issue modal. [Linked here](https://github.com/mattermost/mattermost-plugin-github/pull/123#issuecomment-598203967)  The quoted

[2020-03-20 17:48] jfrerich opened #219 "[Feature Branch - Create Issue Modal] - After creating issue, reply to post in MM with the Github link"
### Summary
**Requires that https://github.com/mattermost/mattermost-plugin-github/pull/123 be merged first.**

The original conversation exists in the PR which adds the create issue modal. [Linked here](https://github.com/mattermost/mattermost-plugin-github/pull/123#issuecomment-598203967)  The quoted text below is the relevant discussion from that PR.

### Work from the `Feature-create-issue-mod

[2020-03-20 17:54] jfrerich opened #220 "[Feature Branch - Create Issue Modal] - `Add Create Issue` and `Attach to Issue` documentation to the README"
### Summary
**Requires that https://github.com/mattermost/mattermost-plugin-github/pull/123 be merged first.**

The current README does not include any documentation for the `Attach to issue` modal or the `Create Issue` from comment modal.  This request is to add documentation for both of these new enhancements

### Work from the `Feature-create-issue-modal` feature branch

This issue exists in a

[2020-03-24 15:17] jfrerich opened #223 "Create tests for `createIssue()` method"
### Summary

There currently aren't any test for the GitHub plugin api layer. This request is to add test for the `createIssue()` method found in `server/api.go`

I don't see a reason why we cannot add tests for this functionality.  Currently, there are no tests for the api layer.  I will create as another ticket and add to the 0.15.0 milestone for tracking. There are 5 other tickets for this feat

[2020-03-24 15:23] #219 closed

[2020-03-24 21:04] #195 closed

[2020-03-25 10:38] hanzei opened #224 "Error if user tries to connect private repos and "Enable Private Repositories" is disabled"
https://github.com/mattermost/mattermost-plugin-github/pull/210 added a per user base opt in for private repositories using `/github connect private`. Connecting to private repos using `/github connect private` is only possible if "Enable Private Repositories" is enabled.

The current UX is confusing, if "Enable Private Repositories" is disabled:
- `/github help` still shows information about `/gi

[2020-03-25 12:09] hanzei opened #225 "Indicate if a PR has a conflict"
The new RHS contains a little check mark that indicates that all GH check are green. It would be handy if there is an indication for merge conflicts, so users can start resolving them soon.

@asaadmahmood @larkox Ideas on how this could look like?

[2020-03-25 12:15] larkox commented on #225
This is how GitHub show it
![Screenshot from 2020-03-25 13-12-24](https://user-images.githubusercontent.com/1933730/77535177-75e23780-6e9a-11ea-9c43-7ee158739637.png)
How about the gray warning sign with a tooltip "merge required"?

[2020-03-25 12:21] hanzei commented on #225
How would the gray warning sign look like?

[2020-03-25 14:08] larkox commented on #225
Something like this:
![Screenshot from 2020-03-25 15-07-13](https://user-images.githubusercontent.com/1933730/77545246-74b90680-6eaa-11ea-89aa-fddd6a8caa14.png)

[2020-03-25 17:00] jwilander opened #226 "PRs for private repos in orgs not showing up under sidebar button"
### Summary
I have 4 pull requests open in private repos under the mattermost org but they don't show up in my sidebar:

<img width="124" alt="Screen Shot 2020-03-25 at 12 50 28 PM" src="https://user-images.githubusercontent.com/2672098/77563412-a2488480-6e97-11ea-8e17-2b1a7eb9d48e.png">

### Possible Cause

I believe it all stems from our search query here: https://github.com/mattermost/mattermos

[2020-03-25 17:08] jfrerich opened #227 "Handle todo message with very long connected text."
When a user has a message with very long text with no spaces, the text scrolls to the right.

This an edge case that probably isn't going to be common but should be addressed.

Looking at the image
1) very long text with scrolling issue (needs solution)
2) very long text with wrapping (correct)
3) very long HTML link that wraps correctly
![image](https://user-images.githubusercontent.com/7575921/7

[2020-03-25 17:10] marianunez commented on #227
Should this be in the Todo Plugin repo?

[2020-03-25 17:12] jfrerich commented on #227
😆 @marianunez yes.  Moving now.

[2020-03-25 17:15] jfrerich commented on #227
wrong repo.  Should be in todo plugin

[2020-03-25 17:15] #227 closed

[2020-03-25 17:42] hanzei commented on #226
@jwilander Are you encountering this issue on Community? Did you run `/github connect private` and re-connected your account?

[2020-03-25 19:19] jwilander commented on #226
Yes, this after running `/github connect private`. I even did a full disconnect and reconnect to confirm

[2020-03-26 20:42] jwilander commented on #226
Ok I re-connected it again and it seems to no longer be an issue. Might have just been an issue connecting my account because of the multi-server nature of commuinty.mattermost.com. Closing for now and if I see it again I'll open it up.

[2020-03-26 20:42] #226 closed

[2020-03-27 08:18] hanzei commented on #226
I can't repo your issue with the GH search. Both an issue and a PR show up in the search
![Screenshot from 2020-03-27 09-15-23](https://user-images.githubusercontent.com/16541325/77735883-9bdb1980-700b-11ea-841d-e4ec99f656bb.png)

But I can repo your issue with the PRs not showing up on the RHS locally. I suppose that is because my local oauth app has no access to the `mattermost` org.

On communi

[2020-03-27 08:19] hanzei commented on #226
Note to self: Refresh browser page before writing an answer

[2020-03-30 13:32] DHaussermann opened #231 "Validate when /github connect is followed by an invalid value"
Currently there are 2 valid ways to use connect:
`/github connect` and `/github connect private`

In a case where there is a typo or the user is on a previous version and tries `connect private`
No feedback is given that the command you have just run is `/github connect`

We should validate that any text after connect is valid.

[2020-03-31 03:32] #220 closed

[2020-03-31 03:56] #118 closed

[2020-03-31 04:06] jfrerich opened #233 "[Feature Branch - Create Issue Modal] - Add GitHubRepoSelector component to the Attach Comment Modal"
### Summary
**Requires that https://github.com/mattermost/mattermost-plugin-github/pull/232 be merged first.**  Or work based on the branch in the PR https://github.com/mattermost/mattermost-plugin-github/tree/GH-218-filter-repos.

The current implementation of the attach comment to issue modal does not have a component to reduce available issues by repo.  The user can search for text that include

[2020-03-31 11:55] hanzei opened #234 "Omit html details element in notifications"
Omit any content of html `details` elements in notifications.

For more context see https://community.mattermost.com/core/pl/fm1t7ed3c3fs9rbzqmq6kh9csc

[2020-04-02 21:13] mickmister opened #235 "Handle case where sidebar API endpoints return null"
#### Summary

On the community server I experienced an issue where the `reviews`, `yourprs`, and `yourassignments` API endpoints are returning `200`s, but return `null` for the response body. The `unreads` endpoint was returning valid data. Clicking one of the categories that returned `null` results in the webapp crashing.

I believe this was caused by a short outage on GitHub's part, as I was als

[2020-04-03 17:25] hanzei commented on #207
@karlduderstadt Does your Mattermost server start correctly? Could you please post a sanitised version of `/var/opt/gitlab/mattermost/config.json` here?

[2020-04-13 22:21] jfrerich opened #238 "Update webapp code to use `id` from manifest.js"
Currently, the pluginId value is hardcoded in many places, using `state['plugins-github']`.

This ticket request is to replace all occurrences with `plugins-${id}`

[2020-04-13 22:23] bakurits commented on #238
I would like to work on that

[2020-04-13 22:26] jfrerich commented on #238
Wow! 2 minutes after posting :) Sure, it is yours, @bakurits.

[2020-04-14 12:44] bakurits commented on #238
@jfrerich wouldn't it be better to call this variable `pluginId` and not `id`?
for example here
[code]
id is already declared

[2020-04-14 13:29] jfrerich commented on #238
@bakurits, I agree that pluginId would be more appropriate.  Please use that naming convention!

[2020-04-14 15:29] jfrerich commented on #218
resolved in #232

[2020-04-14 15:29] #218 closed

[2020-04-14 15:30] jfrerich commented on #217
resolved in #232

[2020-04-14 15:30] #217 closed

[2020-04-14 15:30] jfrerich commented on #215
resolved in #232

[2020-04-14 15:30] #215 closed

[2020-04-14 15:31] jfrerich commented on #216
resolved in #232

[2020-04-14 15:31] #216 closed

[2020-04-15 18:13] mickmister opened #241 "Add aria-labels to RHS elements"
I've noticed that the different elements/icons in the RHS PR list view do not have any aria-labels, so hovering over them has no effect. Some examples can be seen in this screenshot, particularly the PR link and the build status icon.

![image](https://user-images.githubusercontent.com/6913320/79371859-099ba680-7f23-11ea-9874-1a7a8a7bdf26.png)

[2020-04-15 18:16] mickmister opened #242 "Add alternative sorting functionality for RHS view"
When browsing my pull requests needing review, I would like the option to sort by most recently updated, rather than just most recently created. This will require some up-front design, so it probably shouldn't be made into a HW ticket off the bat. @asaadmahmood Any thoughts on this?

<img width="400px" src="https://user-images.githubusercontent.com/6913320/79372177-9cd4dc00-7f23-11ea-806d-117f3e41

[2020-04-16 02:29] mickmister opened #243 "Test Issue"
Testing if the plugin will send a DM when mentioned in the description @asaadmahmood

[2020-04-16 02:32] mickmister commented on #243
Comment on issue @asaadmahmood

[2020-04-16 02:33] #243 closed

[2020-04-16 02:37] mickmister opened #245 "Mentions in the description of a PR/Issue should send a DM to the user mentioned"
Mentions in comments currently send DMs to the person mentioned, but when mentioned in the description of a PR/Issue, the user does not receive a DM. The task here is to make sure any connected user that is mentioned in the description receives a DM notification in Mattermost.

[2020-04-16 03:57] asaadmahmood commented on #242
@mickmister We can have something like this:
https://www.figma.com/proto/YMvnd2wc5ibnrqIPObZjMY/Github-RHS?node-id=1%3A11&viewport=-36%2C481%2C0.5647242665290833&scaling=min-zoom

![Screen 1](https://user-images.githubusercontent.com/11034289/79413036-56818a80-7fc0-11ea-93f7-665786b001d6.png)

[2020-04-16 04:00] mickmister commented on #242
LGTM, thanks for the quick response @asaadmahmood! Ticket is now up for grabs

[2020-04-17 08:15] hanzei opened #246 "Use gorilla/mux as http router"
To unify http handling https://github.com/gorilla/mux should be used as a http router. The router should also be strict on the allowed http method.

[2020-04-17 09:16] bakurits commented on #246
Do you mean `ServeHTTP` in `api.go`? I can do that.

[2020-04-17 09:36] wbaeck opened #247 "Unable to connect ("proxyconnect tcp: EOF")"
Hi

We are running Mattermost 5.21 and want to use the gitlab plugin. _**I'm aware that this is the github plugin but the developer of the gitlab plugin didn't know a solution and redirected be here as the gitlab plugin is a fork of this. Hopefully someone can help me.**_

I followed all the steps from the readme and I'm able to have the Gitlab icon show up in Mattermost. When I click on it the au

[2020-04-17 10:17] hanzei commented on #246
That is correct @bakurits. Thank you :+1:

[2020-04-17 10:21] hanzei commented on #246
Bonus idea:
Extract the common code block https://github.com/mattermost/mattermost-plugin-github/blob/5997508eaf44a48b00cb9f97579c61bfe695db63/server/api.go#L101-L105 into it's own function with the signature: `(func(http.ResponseWriter, *httpRequest, userID)) http.HandlerFunc`

[2020-04-17 10:23] hanzei commented on #247
This seams like an issue with your server setup. Could you manually `curl` the endpoint and see if you can hit it?

[2020-04-17 15:23] wbaeck commented on #247
Thanks for your response.

I tried `curl` from the MM Server and this is the result:
`# curl https://{gitlab-server-url}/oauth/token`

```<html><body>You are being <a href="https://{gitlab-server-url}/users/sign_in">redirected</a>.</body></html>```

So for me it looks like our certificates and connections are working fine.

[2020-04-17 18:00] bakurits commented on #246
@hanzei
somethimes it's
[code]
and somethimes
[code]
can I remove one of them? If I only use `writeAPIError` will there be any problem?

[2020-04-18 13:23] wbaeck commented on #247
Finally I was able to solve this issue.

It was a config issue. Because we configured an outbound proxy to access the Marketplace we had to exclude our internal gitlab server from this with "NO_PROXY" according to https://docs.mattermost.com/install/outbound-proxy.html.

But thanks for reply.

[2020-04-18 13:23] #247 closed

[2020-04-21 08:16] #211 closed

[2020-04-21 09:04] hanzei opened #249 "Drop PluginsDirectory from config"
`PluginsDirectory` was added in https://github.com/mattermost/mattermost-plugin-github/pull/50, but is not longer needed since https://github.com/mattermost/mattermost-plugin-github/pull/83. Let's just drop it.

[2020-04-21 09:23] hanzei commented on #233
@jfrerich Is this ticket resolved?

[2020-04-21 09:23] hanzei commented on #182
Hey @rakhi2104,

I just wanted to touch bases and check, if you are still working on this issue.

[2020-04-21 09:24] hanzei commented on #189
Closing this issue as it has been stale for some time.

[2020-04-21 09:24] #189 closed

[2020-04-23 09:00] #249 closed

[2020-04-23 14:15] #238 closed

[2020-04-23 18:48] #246 closed

[2020-04-30 09:13] VincentSC commented on #207
This error is also given with an empty config file. When disk is full or there is a temporary disk-problem, Mattermost still rewrites the config file, so this happens. What I did was make a copy of the template and then go through each option in the system console, to check if correct.

[2020-04-30 22:05] hanzei opened #253 "Attaching a message to an issue should link to GitHub account not MM account"
Instead of using the MM username the username on GitHub should be used. The user whose message gets links, might not be connected to GitHub. In this case fall to back the MM username.

![Screenshot from 2020-05-01 00-02-52](https://user-images.githubusercontent.com/16541325/80763766-8fcd0500-8b3f-11ea-86ae-9822f57273ce.png)

[2020-05-02 11:22] hanzei opened #254 "Properly wrap errors"
Generally errors should be wrapped using [`Wrap`](https://pkg.go.dev/github.com/pkg/errors?tab=doc#Wrap) and [`Wrapf`](https://pkg.go.dev/github.com/pkg/errors?tab=doc#Wrapf). This ticket is about going trough the code base and adding error wrapping everywhere where it's appropriate.

_Originally posted by @bakurits in https://github.com/mattermost/mattermost-plugin-github/pull/252_

[2020-05-02 12:13] hanzei opened #255 "Add tooltip for pull request links"
Similar on how mousing over a link on github.com works there should be a tooltip for plugin to pull requests in the webapp.

It should show:
- The repo
- The date where the PR was opened
- Title
- Number
- The first three labels

This is how a tooltip looks like on GitHub. Please note that some information that GitHub shows should not be part of the initial implementations to reduce complexity.

!

[2020-05-02 12:13] hanzei commented on #255
@asaadmahmood Let me know if you have any concerns about copying the style from GitHub.

[2020-05-02 12:36] asaadmahmood commented on #255
@hanzei Not much, some of the tooltips and alignments look off, but we can fix that when a PR is in.

[2020-05-03 17:49] fedealconada commented on #255
I can take this one @hanzei

[2020-05-03 17:52] nickmisasi13 commented on #245
I'd like to take a look at this one

[2020-05-03 23:59] abdulsmapara commented on #253
I am interested in resolving this issue.

[2020-05-04 00:04] abdulsmapara commented on #253
Does it mean that whenever an issue is created (or a comment is made) on GitHub, the user getting the notification on MM should get the GitHub username and not the MM username?
I have a confusion as the image shown here is that of a GitHub comment (and not of MM channel message)

[2020-05-04 10:38] hanzei commented on #255
That would be awesome, @fedealconada :tada:

[2020-05-04 10:56] hanzei commented on #245
Thanks @nickmisasi13. Let me know, if you have any questions.

[2020-05-04 10:58] hanzei commented on #253
Hi @abdulsmapara,

The ticket is about the the "Attach to issue" functionality, which you can find when clicking on the dot menu of a post. Is the ticket now more clear?
![Screenshot from 2020-05-04 12-47-02](https://user-images.githubusercontent.com/16541325/80959293-ce481580-8e06-11ea-95c5-4f2ea6d0c98b.png)

[2020-05-04 11:44] abdulsmapara commented on #253
Ok! So it meant the "Attach to Issue" functionality of MM, thanks @hanzei for the clarification

So, is my understanding (as described below) for the ticket now clear ?
If a user X attaches a message from another user Y to a GitHub issue, X & Y's GitHub username should be used on the comment on GitHub and in case Y is not connected to GitHub on MM, Y's MM username is to be used.

[2020-05-04 15:22] nickmisasi13 commented on #245
Just want to Clarify a few things:
1. The task here is to make sure any connected user that is mentioned in the description receives a DM notification in Mattermost.
I've been working off the assumption that we want the connected user to be sent a DM regardless of if they are subscribed to the project the PR belongs to?
2. In the event of a PR being posted to a project you are subscribed to, you w

[2020-05-04 16:31] mickmister commented on #245
@nickmisasi13 The GitHub plugin allows subscribing to notifications related to a specific GitHub organization. The events should already we fairly filtered out using this logic when you get mentioned in a comment, for example. So the logic there is probably useful here.

@nickmisasi13 Separate notifications is fine

[2020-05-04 16:55] dbejanishvili commented on #254
I would like to work on that

[2020-05-04 18:47] hanzei commented on #253
Exactly @abdulsmapara

[2020-05-04 19:15] hanzei commented on #254
Thanks @dbejanishvili. Let me know, if you have any questions.

[2020-05-05 03:45] mickmister opened #257 "Display labels applied on the issue/PR when the bot posts a new issue or PR"

[2020-05-05 11:08] hanzei commented on #257
@mickmister Do you have ideas on who the labels should be shown? Would they be dynamically rendered and this would be a webapp only feature? Or generated and served by the server part and embedded via Markdown?

[2020-05-05 12:23] hanzei opened #259 "Add API route to allow other plugins to fetch the API key"
https://github.com/mattermost/mattermost-server/pull/12829 added support for inter plugin http requests. This feature should be used to allow other plugins to fetch the oauth2 token for a given user. Using that token other plugins are able to integrate with the GitHub API.

This API endpoint should be accessible that `/api/v1/token` and only plugin are allowed to access it. If a request was made f

[2020-05-05 13:59] dbejanishvili commented on #254
https://github.com/mattermost/mattermost-plugin-github/blob/119ff1807a40eca316e5c1644589f056baa71936/server/subscriptions.go#L240

It seems that the error returned from KVSet is ignored here, is this intentional? If not, should I fix it?

[2020-05-05 14:12] mickmister commented on #257
@hanzei Ideally they would be generated with markdown, maybe rendered as code like `Tech/Go` `Help Wanted` within the post. No custom coloring etc.

[2020-05-05 19:23] hanzei commented on #254
No, that error should not be ignore. Please fix it.

[2020-05-05 19:32] hanzei commented on #130
@fedealconada is working on this in https://github.com/mattermost/mattermost-plugin-github/pull/258#pullrequestreview-405832193

[2020-05-05 22:24] bakurits commented on #254
@hanzei don't you already resolved this in https://github.com/mattermost/mattermost-plugin-github/pull/252 ?
https://github.com/mattermost/mattermost-plugin-github/blob/0953348ee0956cd2478bfdbc97220f14a6261bc3/server/subscriptions.go#L243

[2020-05-05 23:49] mickmister commented on #257
Displaying the assignee if present would be useful too.

These improvements are rendered nil if these values aren't applied upon issue creation, of course. Basically any value attached to the issue on GitHub

[2020-05-06 18:55] hanzei commented on #254
You have eagle eyes @bakurits! That is correct, but I hope #260 gets merged before my PR and I can easily resolve the merge conflict. :wink:

[2020-05-09 00:34] mickmister opened #262 "Investigate/document the purpose of `checkAndHandleNotConnected` on webapp side"
When we send an API request to the server in the webapp part of the plugin, we check if the user is connected after the response comes back. The call to `doFetch` does not throw an error, so it seems off to do error handling after the call.

[2020-05-09 00:37] mickmister opened #263 "ReactSettingSelect should be using `option.value` for the option's unique identifier, rather than `option.label`"
We are using `option.label` as an option's unique identifier because currently `option.label` and `option.value` are the same in each option in the case of the GitHub repo selector component. We should be using `option.value` in order to follow common conventions and to be consistent with the other plugins.

[2020-05-11 08:11] hanzei opened #264 "GitHub username should not be shown in profile popup, if post is from webhook"
A post created from a webhook still shows the custom attributes. Given that the post belongs to the webhook and only indirectly to the user, custom attributes should not be shown for webhook posts.

![Screenshot from 2020-05-11 10-00-25](https://user-images.githubusercontent.com/16541325/81538565-2fc03500-936f-11ea-81df-38cfd1308ac6.png)
![Screenshot from 2020-05-11 10-00-32](https://user-images.g

[2020-05-13 01:31] mickmister opened #265 "Support filtering of repositories in RHS"
For the four RHS categories, it would be awesome if the user could use a select dropdown at the top of the RHS to choose a given repository to filter on the different items shown. The select options would only consist of the ones related to the items shown.

[2020-05-13 09:10] hanzei opened #266 "Don't try to autolink messages from bots"
When a message gets posted by a bot and `EnableCodePreview` is enabled, the plugin tries to get the GitHub token for that user, which fails. Use [`ShouldProcessMessage`](https://developers.mattermost.com/extend/plugins/server/reference/#Helpers.ShouldProcessMessage) to skip posts from bots and system messages.

[2020-05-13 09:19] hanzei opened #267 "Post a notification if issue gets reopened"
When a issue gets closed and then reopened, only a notification for closing the issue is send to a channel that subscribed to that repository. There should also be a notification saying that the issue got reopened. The wording should be:
`{{template "repo" .GetRepo}} Issue {{template "issue" .GetIssue}} reopened by {{template "user" .GetSender}}.`

[2020-05-13 09:37] larkox opened #268 "Use official GitHub icons"
We are using a few SVGs under `webapp/src/images/icons` that correspond to the Github icons. These and other Github icons are published in a npm package (https://primer.style/octicons/). We should use this package instead of the SVGs on `webapp/src/images/icons`.

[2020-05-13 15:45] hanzei opened #269 "Register autolinks for GitHub URLs"
Using the functionality in https://github.com/mattermost/mattermost-plugin-autolink/pull/85 the GitHub plugin should register autolinks for GitHub URLs.

1. E.g. `https://github.com/mattermost/mattermost-plugin-jira/pull/453` should be rewritten to `[pr-mattermost/mattermost-plugin-jira#453](https://github.com/mattermost/mattermost-plugin-jira/pull/453)`
2. E.g. `https://github.com/mattermost/matt

[2020-05-14 10:35] hanzei opened #270 ""Changes requested" icon is unreadable in dark themes"
On the Github plugin RHS, under the "Your open pull requests" section, the PRs with changes requested have a red icon next to the number of reviews completed. The color makes the icon unreadable on dark themes:

![image-2020-05-04-13-06-27-085](https://user-images.githubusercontent.com/16541325/81924275-32c15c80-95df-11ea-8dac-8171a17e8fd9.png)

The milestone icon is also a bit hard to read:

![im

[2020-05-14 10:35] hanzei commented on #270
Moved this issue from JIRA to GitHub:https://mattermost.atlassian.net/browse/MM-24768

[2020-05-14 10:36] hanzei commented on #270
@asaadmahmood Not urgent: I'm wondering what you thoughts are on this issue. Maybe invert the color of the milestone icon?

[2020-05-14 10:38] asaadmahmood commented on #270
@hanzei yup, we should just use the theme color (centerChannelColor) for the fill of that svg.

[2020-05-14 16:54] mickmister opened #271 "In RHS, display whether there are linked pull requests to issues, and if there are linked issues for pull requests"
It would be good to know when looking at `Your Assignments` if there is a submitted pull request that fixes an issue. That way the user can filter out issues that have already been addressed by an open pull request when looking at assigned tasks.

I'm not sure if this is something we already have access to given the requests we are making to GitHub's API. If this feature requires more API requests

[2020-05-14 16:58] mickmister opened #272 "In RHS, link to specific event that caused a notification when clicking on a notification"
Currently, clicking on a link in the `Notifications` RHS view brings you to the issue/PR that is associated with the notification. We could instead link to the new comment that caused the notification. This should be feasible if the notification itself contains the link to the specific event that caused the notification.

[2020-05-15 17:12] #253 closed

[2020-05-15 17:15] #254 closed

[2020-05-16 06:10] mickmister opened #273 "For the "Attach to Issue" feature, only show repos the user is a member or collaborator of"
There is a digression between how the "Create Issue" and "Attach to Issue as Comment" features, in how they filter on which repos can be chosen, specifically when the plugin is not locked to an organization.

The "Create Issue" repos are scoped to repos that user is a member or collaborator of. The "Attach to Issue" repos display several public repos that the user has no affiliation with.

As disc

[2020-05-16 07:51] hanzei commented on #273
I not sure if this is feasible with the GitHub API. `/search/labels` doesn't allow limiting the results by affliction.

One alterative way to implement this ticket is to check for every returned issue if the user can an affliction to the repo, but that seams like a lot of overhead.

I'm wondering if instead the flow should be changed to have the user first select a repo and then an issue of this r

[2020-05-16 08:09] mickmister commented on #273
:+1: Updated description to reflect this @hanzei

[2020-05-17 10:35] AnXh3L0 commented on #119
@niklabh Hi, we are using this plugin on a Mattermost instance of ours but the result after attaching a Mattermost message to an issue is not the same.

Yours contains just the message and that's it, meanwhile ours also adds some unwanted comments on the top, such as, "x user attached x message to issue".

Is there any config I have missed or did this feature actually change in newer PRs? Thanks i

[2020-05-18 17:19] #233 closed

[2020-05-18 18:16] ThiefMaster commented on #128
Is this really a problem? The autolink plugin already does this for example to avoid the - IMHO broken - problem of replacing stuff inside code blocks.

[2020-05-18 20:29] bakurits opened #275 "Replace bool with new type in extractUserMiddleWare to make code more readable"
I think it would be better if `jsonResponse bool` has its separate type something like `ResponseType.Json`
https://github.com/mattermost/mattermost-plugin-github/blob/f3ed30562256da481badc929f6fbda50172c49fb/server/api.go#L90
because these lines of code seem hard too read
https://github.com/mattermost/mattermost-plugin-github/blob/f3ed30562256da481badc929f6fbda50172c49fb/server/api.go#L74

Thought

[2020-05-18 21:15] hanzei commented on #119
Hi @AnXh3L0,

The screenshot above were taken from a WIP prototype. https://github.com/mattermost/mattermost-plugin-github/pull/162 did add the `, "x user attached x message to issue` text. It there to make clear where is comment does come from and help with linking Mattermost and GitHub even further together.

[2020-05-18 21:33] AnXh3L0 commented on #119
Hi @hanzei,

Thanks for the answer. Is there any way we can remove that line without having to edit and rebuild the whole plugin?

[2020-05-18 21:43] hanzei commented on #119
No, there isn't. Without that lint it seams to be hard to identify the context in which a message was attached e.g. when attaching a message from another user.

[2020-05-18 21:43] AnXh3L0 commented on #119
Understood, it seems I'll have to edit the plugin myself then, thanks for the quick answer!

[2020-05-19 03:45] agnivade commented on #128
There is certainly an overhead here to pass every single message through a markdown parser. Whether that overhead is acceptable or not is a different question, given that we don't have any SLAs around plugin response latency.

[2020-05-19 05:49] #130 closed

[2020-05-19 05:49] #255 closed

[2020-05-19 15:37] DHaussermann opened #276 "GitHub info on LHS and post menu options are not visible until"
When a connected user first logs in from a Mattermost client, the GitHub options for PRs, Messages, Issues etc... as well as post menu option are not visible until the user refreshes the client.

This occurs on browser as well as desktop.
This does not seem to be a regression from the 0.14.0 release
![GitHubMisisng](https://user-images.githubusercontent.com/35588783/82346921-0afa3c00-99c5-11ea-988

[2020-05-19 15:52] DHaussermann commented on #276
@aaronrothschild Given there is an imminent release for GitHub and we just hat triage today - Can you advise on the priority issue.

cc @hanzei if possible can you give a very high estimate of scope to help guide the priority decision.

[2020-05-19 16:16] hanzei commented on #276
The plugin only checks if a user account is connected on a page refresh or a reconnect. https://github.com/mattermost/mattermost-plugin-github/blob/b124fd0e5d6a2fa70c4cf29c4edaf7bc8ad163cf/webapp/src/index.js#L25

I'm not sure how feasible it to only fetch that information if the user is connected. @larkox Can you help?

[2020-05-19 16:52] hanzei opened #277 "Allow picking labels in Create Issue dialog"
In the Create Issue dialog allow the users to pick a set of labels wich which will be attached to the issue on creation.

[2020-05-19 16:52] hanzei commented on #277
@asaadmahmood Is there a component that can be reused? Maybe the Direct Message member picker?
![Screenshot from 2020-05-19 18-52-04](https://user-images.githubusercontent.com/16541325/82354976-dce71d00-9a01-11ea-9c70-ea1b87cb9069.png)

[2020-05-19 18:29] hanzei opened #278 "JS error in login screen"
![Screenshot from 2020-05-19 18-02-41](https://user-images.githubusercontent.com/16541325/82364270-58030000-9a0f-11ea-8b67-dd5cad8734fa.png)

[2020-05-19 18:30] hanzei commented on #278
That is a regression caused by https://github.com/mattermost/mattermost-plugin-github/pull/248

[2020-05-19 19:04] asaadmahmood commented on #277
Yup, we should be able to use `react-select`.

[2020-05-20 05:08] hanzei opened #280 "Tests something panic"
https://app.circleci.com/pipelines/github/mattermost/mattermost-plugin-github/785/workflows/031b075a-a760-41a2-aa6b-0deff45087aa:

[code]

[2020-05-21 08:28] hanzei commented on #280
Actually, the test failure only happens in `278_public-connected`. No issues on `master`.

[2020-05-21 08:28] #280 closed

[2020-05-21 09:19] larkox opened #281 "Fix templates to properly wrap the whole body with quotes"
Several templates are formed like this:

`>{{.GetPullRequest.GetBody | trimBody | replaceAllGitHubUsernames}}`

If the body had several line breaks, this may format the body as:
[code]
This will make the first line be quoted but the second not. In order to avoid this, every line break should have a `>`. i.e.:
[code]

This changes should be covered by a lot of unit tests to ensure no edge cases are

[2020-05-21 09:29] larkox commented on #276
This should be already handled. The "connected" handler of the OAuth, apart of sending the DM with all the info (Welcome to Mattermost Github Plugin!...) sends a message through the websocket to make the client aware of the connection.

This is handled by the client, who should update everything.

All being said, all pieces are in place already. There must be some bug somewhere there.

[2020-05-21 09:34] larkox commented on #276
@DHaussermann Have you noticed any error be it in webapp console or server just after the connect takes place? Do you receive the bot welcome message?

[2020-05-21 15:59] aaronrothschild commented on #276
If this has been behavior for a while, we can ship.  Otherwise if a regression, let's fix it.  We said in the newsletter Github update would be available in the marketplace this week, ideally we can keep to that.

[2020-05-22 03:51] #278 closed

[2020-05-22 04:12] hanzei commented on #276
This issue also happens in `v0.14.0` hence it's not a regression. Let's move to out of `v1.0.0`.

[2020-05-22 14:31] checkaayush commented on #269
@hanzei Interested in picking this up.

[2020-05-22 19:21] hanzei commented on #269
Thanks for working on this issue @checkaayush :+1:

[2020-05-24 19:29] AugustasV commented on #268
I would like to work on this issue!

[2020-05-25 11:43] larkox commented on #268
Thanks @AugustasV ! It is yours.
If you need any help, feel free to ask.
Regarding tips, you can take a look to [this PR](https://github.com/mattermost/mattermost-plugin-github/pull/258). There the contributor added the npm package and used some icons from the package. Since it is already merged, you will not need to import the package again. Just use it on the right places.

[2020-05-26 05:36] DHaussermann commented on #273
@mickmister I've also noticed that the create modal will not limit the user to creating issue to a specific organization when the organization is locked on the plugin config.
cc @aaronrothschild this creates an inconsistency between create and attach even when the plugin is configured to only use 1 organization.

[2020-05-26 05:38] DHaussermann opened #282 "Notifications do not respect organization lock"
When the plugin is configured to be locked to a specific repo, a user can still receive notifications from at mentions is other repos

This may not necessarily be a bug but it is not consistent with the To do list and other functionality of the plugin.
This does not appear to be a  regression from the current release.

1. Connect tests user
2. Lock the plugin to specific organization
3. As a diffe

[2020-05-26 05:40] DHaussermann opened #283 "Labels with spaces don't work when saving a subscription"
When trying to set a subscription dependent on a label that contains a space, creating the subscription will fail. The user will receive a response that only 1 feature can be included.
The same subscription command works if the GitHub label does not contain white space.
This is not a regression from the previous release.

Creating a subscription as follows works as expected
`/github subscribe DHau

[2020-05-26 05:41] mickmister commented on #273
@DHaussermann So it sounds like the attach functionality is working correctly in regards to scoping to an org. Do you mind creating an issue to adjust the create functionality to match this functionality?

[2020-05-26 05:43] DHaussermann opened #284 "Unable to create subscriptions to private repos unless I have used `/github connect private`"
Creating a subscription to private repos requires `/github connect private` even when private repos is allowed. This may not necessarily be a bug but, the `/github connect private` functionality must be documented

Steps
- Configure the plugin to allow private repos
- Login as a privileged user and connect to github using `/github connect` (not connect private)
- Attempt to create a subscription t

[2020-05-26 05:52] DHaussermann opened #285 "Create GitHub Issue does not respect organization lock"
When the GitHub plugin is configured to be locked to an organization, this is not reflected in the create functionality.  Users are still able to create issues in repos where they are owner, collaborators etc...
When the Organization is locked in the config, create should only allow connected users to create issues in this organization regardless of their individual permissions and memberships. Th

[2020-05-26 05:53] DHaussermann commented on #273
Created https://github.com/mattermost/mattermost-plugin-github/issues/285 to address the create issue as I realize now that this task is only for changes to attach.

[2020-05-26 06:15] DHaussermann opened #286 "Isolated case where user incorrectly appears connected to GitHub"
I'm seeing an isolated case where the user is not properly connected to GitHub  but the UI appears to show the user as connected.

When trying to use the plugin several pieces of functionality break. I don't how the user arrived in this state. It persists after logout / login

![Attach-Breaks](https://user-images.githubusercontent.com/35588783/82866290-9bb9a600-9ef6-11ea-8a13-f9334332c4ba.PNG)
![C

[2020-05-26 08:54] hanzei commented on #286
@DHaussermann is it possible that there was an outage at GitHub? The error message you posted get's generated when API calls to GitHub fail. Could you please also post the server logs? They contain the "real" error messages returned from GitHub.

[2020-05-26 09:01] hanzei commented on #285
I can't reproduce this issue with b1e3667dc7e6823e22df1ba7eeb180fbcdc36b61.

Locking to an organisation correctly brings up only a list of repos that are part of that organisation.

![Screenshot from 2020-05-26 10-58-04](https://user-images.githubusercontent.com/16541325/82881342-dc89dd00-9f3f-11ea-86db-fc71623b86d7.png)
![Screenshot from 2020-05-26 10-58-59](https://user-images.githubusercontent.

[2020-05-26 09:07] hanzei commented on #283
Good catch. Please note that this is not a regression. With the current parser fixing this issue is quite hard. Let's open this as a tricky help wanted.

[2020-05-26 09:19] hanzei commented on #284
I don't consider this a bug.

`/github help` stated:

Should this help text be more clear on how subscriptions to private repos work?

[2020-05-26 09:28] hanzei commented on #282
To be clear: Are you talking about repos here or about organisations?

If you are talking about organisations, then I can't reproduce your issue.

1. Connect user1
2. Connect user2
3. Lock to organization "abc"
4. Let user1 post a comment in a repo that is not in "abc" and @-mention user2

**Observed:** user2 doesn't get a notification

[2020-05-26 11:04] hanzei commented on #276
@larkox This gist here is that the scenario starts while the user is not logged in. Hence the the connected handler correctly reports that there is no connected user, but never corrects itself, after the user logs in.

[2020-05-26 14:44] DHaussermann commented on #284
@hanzei Maybe I'm not looking in the correct branch. Can you please link me to where the text you quoted is documented?

[2020-05-27 05:05] DHaussermann commented on #286
@hanzei to clarify this is continuously reproducible for this user. The user seems to be in the wrong state where they are not connected to GitHub. They are just seeing the UI as if they were connected. The related logs reflect that the user is not connected.
[code]
Thoughts?

[2020-05-27 09:44] hanzei commented on #284
@DHaussermann This text is reported when a user enters `/help text`: https://github.com/mattermost/mattermost-plugin-github/blob/b1e3667dc7e6823e22df1ba7eeb180fbcdc36b61/server/command.go#L15

[2020-05-27 11:09] hanzei commented on #286
Is it possible that you remove the GitHub plugin from your authenticated applications at https://github.com/settings/applications? Does re-connecting via `/github connect` fix the issue?

[2020-05-27 13:22] DHaussermann commented on #284
Thanks @hanzei
This issue can be closed. The feature is working as documented.

[2020-05-27 16:45] #284 closed

[2020-05-28 08:04] iomodo opened #290 "Add slash command autocomplete functionality"
From 5.24 MM server has a slash command autocomplete functionality feature. An API can be found [here](https://github.com/mattermost/mattermost-server/blob/master/model/command_autocomplete.go#L28)
To implement the feature add `AutocompleteData` struct to the `Command` when registering a slash command.

Similar PRs:
For Todo plugin https://github.com/mattermost/mattermost-plugin-todo/pull/69
For A

[2020-05-28 17:06] DHaussermann commented on #286
Yes @hanzei I have no Idea how the how the 1 user got in this state but, diconnecting and reconnecting did resolve the issues.

1 /5 We could close this and I can file an new issue if I see it occur again.

[2020-05-28 18:14] #286 closed

[2020-05-29 08:47] larkox opened #292 "Update GitHub icon"
GitHub is updating its set of icons. As the time this issue is written, the newer version of Octicons (10.0.0) is still on preview, but some of these changes can be seen already on the website, as you can see on the screenshot (check the changes requested icon).

![Screenshot from 2020-05-29 10-31-49](https://user-images.githubusercontent.com/1933730/83240422-aba4e480-a199-11ea-8fe9-2ad4ee12aead.p

[2020-05-29 09:12] hanzei commented on #292
Let's make this a HW once the new icon are published.

[2020-05-29 18:44] checkaayush commented on #267
Isn't this what this part of the code (https://github.com/mattermost/mattermost-plugin-github/blob/master/server/webhook.go#L878) does?

[2020-05-30 06:56] AugustasV commented on #268
Great! @larkox Made changes according Octicons plugin documentation, not sure if it's correct - didin't know how to test it.

[2020-05-31 17:02] checkaayush commented on #269
@hanzei Don't think I'll be able to pick this up at the moment. Please make it "Up For Grabs" again. Sorry.

[2020-06-03 10:20] hanzei commented on #267
@checkaayush That part of the code deals with the notification to a user, not to channels. Per user notifications for this event work fine.

[2020-06-05 02:50] mickmister opened #294 "Apply user's theme to the link tooltip"
Currently the link tooltip is styled with a white background etc. It should instead match the user's theme to blend well with the center channel.

![Screenshot from 2020-06-04 18-01-01](https://user-images.githubusercontent.com/16541325/83865755-f046f780-a726-11ea-9c94-455c0c7d5736.png)

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/9ri6e1bpn7dqucrk

[2020-06-05 10:21] hanzei commented on #294
@fedealconada Would you be interested in working on this given that you introduced the feature?

[2020-06-05 13:27] fedealconada commented on #294
Sure @hanzei !

[2020-06-05 18:47] mickmister opened #295 "Add ability to choose labels on create issue model"
Possibly also assignee and milestone

[2020-06-07 08:03] reflog opened #296 "Long branch names overflow in tooltip"
![image](https://user-images.githubusercontent.com/109876/83963363-31b5df00-a8ae-11ea-8134-88ca8ff3ae21.png)

Background color seems to be conflicting and long labels overflow

[2020-06-07 19:25] NateWilliams2 commented on #290
Hey I'm a first-time contributor and would love to take this issue!

[2020-06-08 05:31] mickmister opened #297 "Plugin Tooltip: Link to repo in heading instead of issue"
I also don't see the point of the "See More" link if we are already linking in the issue/PR title at the top of the card.

![image](https://user-images.githubusercontent.com/6913320/83995243-ebe92d00-a926-11ea-9536-688bcd001eb8.png)

[2020-06-08 05:31] mickmister commented on #297
@asaadmahmood Any objections to making the repo name at the top link to the repo instead of linking to the issue/PR?

[2020-06-08 06:44] asaadmahmood commented on #297
@mickmister That's fine.
Regarding the "See more", it makes sense in the overflowing context where things are being cropped off.

[2020-06-08 06:58] mickmister commented on #297
@asaadmahmood The "See more" text shows even when the content is not overflowing. I also just realized that the `#### Summary` and `#### Ticket Link` bits are not visible. It seems there is quite a bit of work to be done on this.

[2020-06-08 07:27] hanzei commented on #296
@reflog https://github.com/mattermost/mattermost-plugin-github/issues/294 encapsulates the theming issue. I've update this ticket to only target this overflow issue.

[2020-06-08 07:34] hanzei opened #298 "Linking an issue or pr in a private repo causes js warning"
![Screenshot from 2020-06-08 09-34-17](https://user-images.githubusercontent.com/16541325/84004046-40ae9700-a96b-11ea-98ef-f4018469698b.png)

[2020-06-08 07:51] hanzei opened #299 "Heading are not shown in link tooltip"
_Originally posted by @mickmister in https://github.com/mattermost/mattermost-plugin-github/issues/297#issuecomment-640407676_

[2020-06-08 07:53] hanzei opened #300 "Links to the issue/PR in Link Tooltip do not work on desktop app"
There are three links in the tooltip that all point to the linked issue/PR:

- The repo name at the top (which I would personally expect to link to the repo, not the issue/PR)
- The issue/PR title
- The "See More" link below the description

Only the last link described above works on the desktop app. It opens the issue/PR in a new tab in the user's default browser. The first two links do not have

[2020-06-08 07:54] hanzei commented on #297
@mickmister Thanks for the report :+1: I've split up the ticket into two seperate bug reports and this ticket, which covers the improvements to `See More` and the repo link.

[2020-06-08 08:25] hanzei commented on #295
@mickmister Could this be a duplicate of https://github.com/mattermost/mattermost-plugin-github/issues/277?

[2020-06-08 08:27] hanzei commented on #296
For reference: https://github.com/mattermost/mattermost-server/pull/14756

[2020-06-08 08:57] hanzei commented on #290
Awesome, thanks for taking a shot @NateWilliams2 :+1: And welcome to the Mattermost Community. Please let me know, if you have any questions or need help.

[2020-06-08 17:24] NateWilliams2 commented on #290
@hanzei thanks for the welcome :)
I have a question- I'm just trying to set up my local mattermost server with the github plugin to test it, and I'm seeing I need to enable a public site url in order to authorize a Github OAuth client to use the plugin.
Without this set up, I'm getting `Command with a trigger of '/github' not found`. Am I right in thinking I'll need to register a domain name just

[2020-06-08 18:45] hanzei commented on #290
@NateWilliams2 indeed, you need a public domain for testing. I've been using https://ngrok.com/ for this. You might also want to give it a try.

[2020-06-08 21:02] NateWilliams2 commented on #290
Awesome. Thanks!

[2020-06-08 22:04] mickmister opened #302 "Link Tooltip does not work for links in RHS"
The white line seen in the screenshot is the left border of the tooltip's card. It is hidden behind the RHS. The z-index needs to be adjusted for the tooltip to take precedence over the RHS. I'm not sure if this is a change that needs to be applied to mattermost-webapp or to this plugin.

![image](https://user-images.githubusercontent.com/6913320/84084771-1af8b080-a9b2-11ea-97f0-769293f7c54b.png)

[2020-06-09 11:06] hanzei commented on #302
@mickmister I an only confirm this bug on community-release and community-daily. Hence, it's a regression. Would you please open a JIRA for this?

[2020-06-09 13:04] fedealconada commented on #294
Hey @mickmister, I've linked the user's theme to the tooltip but there are some styles that are not passed in the theme's... I think that the things most affected are:
1. Box shadow of the tooltip
2. The little boxes specifying the repo branches (above `See more` link).

So, a couple of alternatives:
**Option 1**. We leave it like that (its not bad though).
**Option 2**. We add the `Menu__content`

[2020-06-09 14:46] asaadmahmood commented on #302
@mickmister We should do this in the plugin.

[2020-06-09 14:57] hanzei commented on #294
@asaadmahmood What do you think about these ideas :point_up:

[2020-06-09 14:59] asaadmahmood commented on #294
@fedealconada We can keep the box shadow black.
However, the border color of the tooltip can be: `center-channel-color-16`.
Also, can you increase the z-index of the tooltips to be `1070`?

[2020-06-09 15:02] mickmister commented on #295
@hanzei Indeed :)

[2020-06-09 15:02] #295 closed

[2020-06-09 15:03] mickmister commented on #277
I also request to be able to pick assignee and milestone in the modal

[2020-06-09 16:19] fedealconada commented on #294
hey @asaadmahmood, I've just added that. It would look like this:
![image](https://user-images.githubusercontent.com/4473536/84173575-daea0a00-aa53-11ea-885e-4e079912c414.png)
Thoughts?

[2020-06-09 16:33] asaadmahmood commented on #294
@fedealconada Looks great to me, one thing though, add a `border-radius: 4px` to it as well.

[2020-06-10 04:17] hanzei opened #304 "Release v2.0.0"
Let's get the bug fixes for the tooltip out!

For the list of outstanding PRs please see https://github.com/mattermost/mattermost-plugin-github/milestone/6 or the list here:

- [x] https://github.com/mattermost/mattermost-plugin-github/pull/309
- [x] https://github.com/mattermost/mattermost-plugin-github/pull/343
- [x] https://github.com/mattermost/mattermost-plugin-github/pull/345
- [x] https://g

[2020-06-10 07:43] th-kwon opened #306 "Unable to subscribe/receive notification from private repo in orgs"
I'm just moving my repos into organization and found this problem - adding subscription of private repo inside organization makes error `unknown repositiory`.

Making new repo causes same issue.
* Make new repo inside org with public and subscribe : succes
* Make new repo inside org with private and subscribe : fail
* Changing private repo to public and subscribe again : success, receives notifica

[2020-06-10 09:00] hanzei commented on #306
Did you connect your GitHub using `/github connect private`?

[2020-06-11 01:18] th-kwon commented on #306
![image](https://user-images.githubusercontent.com/59942506/84332875-0cd0ad00-abc9-11ea-9b51-70ee5a12deef.png)
@hanzei Yeah that was my problem. Organization access was restricted by default.

![image](https://user-images.githubusercontent.com/59942506/84333887-f2e49980-abcb-11ea-8da9-3431876c971e.png)
![image](https://user-images.githubusercontent.com/59942506/84333977-27585580-abcc-11ea-9754-1a5

[2020-06-11 06:56] hanzei opened #307 "Notifications for new tags don't work"
Noticed this https://community.mattermost.com/ on. Need to investigate.

[2020-06-11 07:14] hanzei commented on #306
Glad your issue got solved :+1:

[2020-06-11 07:14] #306 closed

[2020-06-11 08:46] hanzei commented on #307
This is not a bug, just a configuration issue on community.

[2020-06-11 09:21] #307 closed

[2020-06-11 17:47] #231 closed

[2020-06-11 17:55] #224 closed

[2020-06-12 14:20] dbejanishvili commented on #266
I'll do this if it is still available

[2020-06-13 07:55] hanzei commented on #266
All your's @dbejanishvili :+1:

[2020-06-14 05:19] mickmister opened #312 "Remove commented text in Tooltip link body"
Currently the link tooltip includes the contributing instructions in the body of the issue/PR. It is a bit noisy and doesn't convey the important information in the PR's description.

![image](https://user-images.githubusercontent.com/6913320/84585319-c5bb0580-addc-11ea-88e5-0da5666605b5.png)

[2020-06-14 05:24] mickmister opened #313 "Implement `/github issue create` to create a github issue with no post"
Currently you must use an existing post to create a GitHub issue from Mattermost. Following the method of creating an issue with no post in the Jira plugin, we can introduce a `/github issue create` slash command to open the Create Issue modal, with optional text passed into the command to prepopulate the issue's description.

`/github issue create`
and
`/github issue create Here's my issue title`

[2020-06-15 10:10] hanzei commented on #302
https://github.com/mattermost/mattermost-webapp/pull/5712 will fix this

[2020-06-15 10:10] #302 closed

[2020-06-15 10:12] hanzei commented on #313
Would it make sense to namespace this command in e.g. `/github issue create` to avoid collisions if e.g. creating a release is possible in the future.

[2020-06-15 10:14] hanzei commented on #312
Let's go this server-side

[2020-06-16 03:44] mickmister commented on #242
I'd like to point out that this could be applicable on all 4 categories of data shown on the LHS (open PRs, PR reviews, assignments, and notifications).

[2020-06-17 05:34] #245 closed

[2020-06-18 08:01] #225 closed

[2020-06-25 18:22] #294 closed

[2020-07-02 19:29] mickmister opened #318 "The error message display in the Create Issue modal displays as JSON"
We should be displaying `e.message`, rather than the JSON representation of the error.

![image](https://user-images.githubusercontent.com/6913320/86401677-a9421880-bc78-11ea-8db7-a839a86ed79c.png)

[2020-07-02 21:45] aidapira commented on #272
Hi @mickmister, I have successfully replicated this issue and am working on resolving it.

[2020-07-02 21:49] mickmister commented on #272
Great, thanks @aidapira!

[2020-07-07 19:09] mickmister opened #322 "Introduce webapp tests"
The GitHub plugin should support writing unit tests for the webapp portion of the plugin. This change should include the following:

- updates to the `Makefile`
- updates to `package.json` to include test related scripts that exist [here](https://github.com/mattermost/mattermost-plugin-jira/blob/e51e09019bd8337b92ba3ec1382dcd81cb218ce6/webapp/package.json#L11-L13)
- move the babel config out of `w

[2020-07-08 11:32] larkox opened #323 "Code Preview functionality may post private repos content"
Code Preview functionality add a preview of the files from github linked on the post. In order to get the information of the files, it uses the token of the poster. Therefore, any file the poster may link from a private repo, will be exposed by this functionality into the corresponding mattermost channel. This may be considered a breach on security, specially since there is no warning to the user

[2020-07-08 11:37] jupenur commented on #323
Well spotted @larkox. Seems like a minor security concern.

[2020-07-10 03:00] djanda97 commented on #318
I will work on this.

[2020-07-10 11:52] abdulsmapara commented on #312
I would like to give this a try.

[2020-07-10 11:55] abdulsmapara commented on #312
I am thinking to use regular expressions for removing commented text inside ``.

[2020-07-10 13:57] hanzei commented on #312
Thanks for taking a look @abdulsmapara.

Regular expressions are definitiv a valid approach to solve this issue.

[2020-07-10 13:58] #281 closed

[2020-07-11 04:21] #259 closed

[2020-07-11 10:44] bakurits opened #324 "Possible panic for nil pointer dereference"
here `rawResponse` can be nil and will produce panic
https://github.com/mattermost/mattermost-plugin-github/blob/03935bad3a16e1c71d288b0327800e26141eb4fe/server/plugin/api.go#L790

same here for `resp`
https://github.com/mattermost/mattermost-plugin-github/blob/03935bad3a16e1c71d288b0327800e26141eb4fe/server/plugin/api.go#L1094

[2020-07-11 17:35] hanzei commented on #324
Good catch :+1:

[2020-07-12 01:20] mickmister commented on #312
@abdulsmapara There was a PR that did this sort of fix for notifications. Could the same regex be used here?
https://github.com/mattermost/mattermost-plugin-github/pull/172
https://github.com/M-ZubairAhmed/mattermost-plugin-github/blob/ddab50ecf135f43ce6018fcab004aa9658f5ffbb/server/template.go#L13

[2020-07-12 06:30] mickmister opened #325 "Use GitHub's GraphQL service to fetch PR details"
As noted in https://github.com/mattermost/mattermost-plugin-github/pull/170#issuecomment-568304624 , we are making 3 API calls to GitHub's REST API for each PR when we want to display detailed info about each PR in the RHS. Using [GitHub's GraphQL API](https://developer.github.com/v4), we can ideally fetch all information in one request.

We can use GitHub's GraphQL explorer to test queries:
https

[2020-07-12 07:13] abdulsmapara commented on #312
@mickmister, I have exactly considered the same regex present in `template.go` to avoid redundancy.

[2020-07-12 21:37] mickmister opened #327 "Render markdown in tooltip with post-utils, instead of ReactMarkdown"
The webapp has a robust markdown system that I think we should utilize instead of using the ReactMarkdown library:

https://github.com/mattermost/mattermost-plugin-github/blob/03935bad3a16e1c71d288b0327800e26141eb4fe/webapp/src/components/link_tooltip/link_tooltip.jsx#L118-L122

The [todo plugin uses](https://github.com/mattermost/mattermost-plugin-todo/blob/889ce942aec27efa2fa470390202d56f0cf453e

[2020-07-14 09:14] #276 closed

[2020-07-15 00:40] mickmister opened #328 ""Someone replied to your comment thread" feature"
If someone comments on code in a PR, it starts a discussion. If someone else replies in the discussion, the person that started the discussion could get a DM notification for it, in case the person did not mention the OP.

[2020-07-16 21:52] DHaussermann opened #330 "Long single line code block does not wrap properly"
I have found one remaining case where the content the preview does not wrap properly and the preview pop-over becomes too wide.
![Screen Shot 2020-07-16 at 5 51 15 PM](https://user-images.githubusercontent.com/35588783/87726435-fd76ed80-c78c-11ea-80eb-769d6b501cc0.png)

This happens when there is a single line code block the is very long such as
`{"level":"error","ts":1593397248.8786938,"caller":"

[2020-07-18 06:25] #299 closed

[2020-07-18 06:25] #300 closed

[2020-07-18 06:25] #296 closed

[2020-07-18 06:25] #297 closed

[2020-07-18 06:25] #298 closed

[2020-07-20 12:26] hanzei opened #331 "Ellipsis for long, bright labels has wrong color in tooltip"
Instead of using the same color as the text, the ellipsis for long, bright labels is using white as text color.

E.g. the `CherryPick/Approved` on https://github.com/mattermost/mattermost-webapp/pull/5903 has the wrong color.

![Screenshot from 2020-07-20 14-23-32](https://user-images.githubusercontent.com/16541325/87937300-c1959e00-ca94-11ea-847d-5a93c387f889.png)

[2020-07-20 13:10] hanzei commented on #328
I could see PR conversations where this feature could be to spammy. Could a separate setting via the slash command to disable it help?

[2020-07-20 13:18] hanzei commented on #330
@asaadmahmood I tried fixing this issue, but didn't found a solution due to my lack of css knowledge. Do you have the time to take a look?

[2020-07-21 21:37] mickmister opened #332 "Use SiteURL for all calls from the webapp"
If the server's SiteURL is configured with a subpath, the webapp's API calls do not work. The task here is to make this plugin's client to prefix its URLs with the SiteURL.

Here's an example of how the SiteURL may be computed:
https://github.com/mattermost/mattermost-plugin-jira/blob/19a9c2442817132b4eee5c77e259b80a40188a6a/webapp/src/selectors/index.js#L13-L26

[2020-07-23 04:02] sunhaolin opened #334 "new-issue not display notification if subscribe labels"
`/github subscribe sunhaolin/sunhaolin.github.io issues,label:"done"`
not display new-issue  notification

when remove `label:"done"`
` /github subscribe sunhaolin/sunhaolin.github.io issues`  display new-issue  notification

[2020-07-23 17:38] aidapira commented on #318
Hi @mickmister, I'm sorry I got too excited and submitted a PR for this issue before claiming it. I am very interested in this issue still. However, I need to make some changes to the current PR. I will be updating the PR with the new commits tentatively in a week or two.

[2020-07-24 14:29] Szymongib commented on #257
Hi, could I work on this one?

[2020-07-24 14:30] mickmister commented on #257
Absolutely, thanks @Szymongib!

[2020-07-25 17:13] utkuufuk commented on #283
I'll work on this.

[2020-07-25 23:18] hanzei commented on #283
Awesome, thanks @utkuufuk :+1:

[2020-07-26 10:04] utkuufuk commented on #283
@hanzei @larkox I have a question about configuring the plugin for the development environment.

There are detailed configuration steps in the repository readme, but I'm not sure how I'm supposed to set the "Authorization callback URL" and the "Webhook Payload URL" for development, since `localhost` won't work obviously.

This issue is just about parsing the command, so I could maybe programmatica

[2020-07-26 10:43] utkuufuk commented on #283
@hanzei @larkox I'm having another issue about deploying the plugin as admin.

I can successfully deploy without setting any environment variables using `make dist && make deploy`.

However, when I set the environment variables below as specified in readme;
[code]
then I run `make dist && make deploy`, I get the following error:
[code]

[2020-07-27 11:42] larkox commented on #283
@utkuufuk In order to test, you can use [ngrok](https://ngrok.com/) to create a tunnel to your localhost. If you need any help with the configuration, do not hesitate to ask.

Regarding your second question, just as a sanity check, you are setting the proper admin user name and admin passwords instead of `admin` and `password`, right?
Also, have you tried https instead of http?

[2020-07-27 12:17] utkuufuk commented on #283
@larkox Thanks for the tip, tunneling makes sense :+1:
I'll try to make it work and get back to you if I face any issues.

[2020-07-27 16:38] Szymongib commented on #257
Thanks, @mickmister!
I have created a draft PR https://github.com/mattermost/mattermost-plugin-github/pull/335 with a few questions. I would really appreciate if you could take a look at those when you have a moment.

[2020-07-27 21:02] utkuufuk commented on #277
I'll take this one.

@mickmister @hanzei I have a question about this though:

How do we want to handle the cases where the given label, assignee, or milestone aren't defined in the target repository?

I just manually tested the GitHub API. While you can create new labels on the fly, the request fails if the assignee (contributor) and/or the milestone are not defined.

For instance, here's how the

[2020-07-28 19:04] mickmister opened #337 "Investigate proper parsing of API errors on webapp side"
The plugin's backend is returning error messages as JSON, making it so the frontend displays the errors as JSON in some cases. These code paths should be reviewed to make sure it is rendered properly when we display the errors in different components.

The frontend should be resilient to the possibility that the error is not structured as JSON as well.

---

Original comment:

This PR is a quick r

[2020-07-30 12:53] hanzei commented on #323
@jupenur @asaadmahmood Do you have thoughts on how do solve this issue? Would a warning message when subscribing to a private repo be a fine solution both security and UX wise?

[2020-07-30 13:30] #267 closed

[2020-07-30 13:35] #266 closed

[2020-07-31 00:58] mickmister opened #340 "Make new events for assigning and applying labels"
When someone is assigned to an issue/PR, we can use that event to create a post in Mattermost. Same for applying labels.

The task here is to add a new option two new options to `/github subscribe`, in order to create a subscription for these two event types.

Note that an issue/PR can have multiple assignees.

[2020-07-31 06:33] jupenur commented on #323
@hanzei I'd be ok with that. The ideal solutions would be either refactoring the code to use the API token of the person *viewing* the post, or to completely disable previews for private repos, but I doubt either of those would be feasible.

An warning message should be enough as long as it's easy to notice and understand.

[2020-07-31 11:59] hanzei opened #342 "Warn users when subscribing to a private channel"
A subscription to a private channel might leak private information from the repository into a (public) channel. Warn users about this risk when subscribing to a private channel.

[2020-07-31 12:04] hanzei commented on #323
After this this a bit more thought I'm not longer sure if a warning is the right solution here. We could warn the user on connecting the account, but that will only happen once and users might forget about it. Warning once the post is created is too late, as at this point the information as already been exposed.

Using the API token of the viewing person is not feasible as these are "plain" posts

[2020-07-31 12:23] larkox commented on #323
A solution would be to reject the message if the repo is private, and send a confirmation message. Something like:
"You are sending a message with a link to a private repo, which will render the code preview. Are you sure you want to show the code preview? (Show Preview / Don't show preview / Don't send message)"

Nevertheless, I am not sure if will be a good enough UX. I guess that pasting privat

[2020-07-31 12:49] jupenur commented on #323
I like this idea, for one, but can't comment on the UX.

[2020-08-01 20:29] utkuufuk commented on #277
@hanzei @mickmister I've examined the GitHub API reference a bit more and found out that milestones have to be specified by their IDs while creating an issue:
- https://docs.github.com/en/rest/reference/issues#create-an-issue
- https://github.com/google/go-github/blob/259aa56b9e3f43b924520fb5b5bc0784a901f90d/github/issues.go#L86

So, we can just type label & assignee **names** into the "create iss

[2020-08-01 21:15] mickmister commented on #277
@utkuufuk Having to type assignees and labels by hand is error-prone, and would not be a good experience for the user. I personally think fetching the values for each category is part of this task. It is probably a good idea to consolidate each type of entity being fetched into one React component, then having a wrapper component for each entity (labels, assignees etc).

I've done something simila

[2020-08-02 11:38] utkuufuk commented on #277
@mickmister Thank you for the clarification. I think there's a similar component in this plugin too: https://github.com/mattermost/mattermost-plugin-github/blob/master/webapp/src/components/react_select_setting.jsx

The problem is, retrieving labels is a bit tricky with our [GitHub API client](https://github.com/google/go-github). I examined the source code of the client library, and as far as I w

[2020-08-02 19:55] utkuufuk commented on #277
@mickmister Thank you for the clarification, I've sent you a DM on the community server.

[2020-08-03 20:11] #312 closed

[2020-08-03 20:12] hanzei commented on #330
Fixed with https://github.com/mattermost/mattermost-plugin-github/pull/339

[2020-08-03 20:12] #330 closed

[2020-08-04 05:18] mickmister opened #344 "Sync with starter template"

[2020-08-05 11:18] #275 closed

[2020-08-06 12:57] hanzei commented on #323
While I quite like the proposed solution, it's not an easy one to implement. AFAIK it might even be impossible to also support such dialog on mobile.

I would like to fix this issue in v1.1.0, which is soon to be released. Just disabling code preview is straight forward to implement and then we can iterate with e.g. a dialog moving forward.

[2020-08-07 09:21] larkox commented on #323
It would be possible on Mobile. You can do this with Slack Attachments with no much problem. If you want, we can discuss the way to do it.

[2020-08-09 19:31] DHaussermann opened #347 "Unable to create a subscription that watches for multiple label"
Subscriptions are working as expected when there is only 1 label. But if I try to crate a subscription with multiple labels, only the first label works.
It may be that multiple labels was never supporter but if so, we should clarify the UI feedback to inform the user creating the subscription.

Steps:
- Type `/github subscribe DHaussermann/hello-world issues,label:"help""bug"`
- Note the UI says `

[2020-08-09 19:32] DHaussermann commented on #347
@hanzei  Note that this behavior is not new to the recent release and I am unsure if this is a bug or feature request.

[2020-08-10 06:04] #342 closed

[2020-08-10 06:06] #257 closed

[2020-08-10 06:06] #283 closed

[2020-08-10 08:00] hanzei opened #348 "Use a recovery middleware"
Add a recovery middlewar similar to https://github.com/mattermost/mattermost-mattermod/pull/179

[2020-08-10 12:50] hanzei commented on #347
@DHaussermann Multiple labels are indeed not supported. Given that labels can include `"` it's also quite hard to implement this feature. Hence, I will submit a PR to improve the documentations.

[2020-08-11 07:47] #347 closed

[2020-08-11 14:10] #272 closed

[2020-08-15 05:23] #348 closed

[2020-08-18 14:43] #323 closed

[2020-08-19 08:34] #277 closed

[2020-08-19 09:09] hanzei commented on #270
@asaadmahmood With your requested changes it looks like this:
![Screenshot from 2020-08-19 11-09-00](https://user-images.githubusercontent.com/16541325/90615450-6f1edd00-e20c-11ea-99d3-0db2a373e15e.png)

Is this correct?

[2020-08-19 09:15] asaadmahmood commented on #270
@hanzei Apologies, I meant for the flag.
![Screenshot 2020-08-19 at 2 14 21 PM](https://user-images.githubusercontent.com/11034289/90616007-4efc1780-e226-11ea-83f6-93455947404f.png)

For the changes requested icon, I would prefer if it we use the away Icon status theme color, and then when the reviews are done, we use the online status icon theme color.

[2020-08-19 09:16] hanzei commented on #264
This requires changes to the Plugin toolkit.

[2020-08-19 10:22] hanzei commented on #270
@asaadmahmood How does this look to you?

![Screenshot from 2020-08-19 12-20-11](https://user-images.githubusercontent.com/16541325/90623117-587d8380-e216-11ea-8949-a8a4c72d1f54.png)
![Screenshot from 2020-08-19 12-20-08](https://user-images.githubusercontent.com/16541325/90623118-59161a00-e216-11ea-9cf2-2763e357590d.png)
![Screenshot from 2020-08-19 12-19-55](https://user-images.githubusercontent

[2020-08-19 10:39] asaadmahmood commented on #270
@hanzei Is there an opacity on the icon (or the whole div that it is contained in)?

[2020-08-19 10:46] hanzei commented on #270
@asaadmahmood No

[2020-08-23 02:10] mickmister opened #355 "Add ability to mute and unmute specific users on your authored PR's/Issues"

[2020-08-28 22:02] kosgrz opened #357 "Command `make debug-deploy` does not work"
This command tries to run the `debug` script that is not defined in the `webapp/package.json` file.
The result of `make debug-deploy` is as follows:
[code]

[2020-08-31 09:43] larkox commented on #357
The package.json file is missing the debug script. If you want to solve it locally, you just have to add this line to the scripts on the package.json file:
`"debug": "webpack --mode=none",`

[2020-09-01 18:33] hanzei commented on #357
https://github.com/mattermost/mattermost-plugin-github/pull/345 Will fix this.

[2020-09-07 16:32] hanzei opened #358 "Add icon to autocomplete data"

[2020-09-13 21:53] #322 closed

[2020-09-13 21:53] #344 closed

[2020-09-13 21:53] #357 closed

[2020-09-14 11:47] prosanhive opened #361 "Cannot subscribe to private repo"
My apology I might be stupid but I cannot get this to work:

When using

`/github subscribe mattermost/mattermost-server`

it works.

adding
` issues,pushes,creates,deletes` results in
`Just one list of features is allowed`

but

`/github subscribe reponame/somename issues,pushes,creates,deletes`

doesn't work at all. I read the Docs 5 time now :)

It is a private repo but I enabled Private Repos

[2020-09-14 14:03] hanzei commented on #361
Did you connect your account using `/github connect private`? What error message are you seeing?

[2020-09-14 14:35] prosanhive commented on #361
Yes, the account is connected. When I subscribe to mattermost/mattermost-server

 that works, but I cannot subscribe to my private repo:

[code]

[2020-09-15 07:40] hanzei commented on #361
Just to double check: Did you connect using `/github connect private` or `/github connect`?

[2020-09-15 10:19] prosanhive commented on #361
I disconnected ``
` /github disconnect  ``` and connected again and with
[code]

[2020-09-15 10:21] prosanhive commented on #361
Nevermind. It just worked now.

I have no idea why. Sorry.

[2020-09-15 10:21] #361 closed

[2020-09-17 08:07] hanzei opened #364 "Command responses don't get posted in the RHS"

[2020-09-17 17:58] #364 closed

[2020-09-17 17:58] #270 closed

[2020-09-17 18:03] #358 closed

[2020-09-17 18:32] #355 closed

[2020-09-18 10:33] hanzei opened #367 "Render tooltip for Enterprise installations"
The link tooltip currently only works for links to `github.com`. It should also work for link to the configured Enterprise installations, if there is one. https://github.com/mattermost/mattermost-plugin-github/blob/e9247eec4282f95518c8133a3bf3d7aa7c7e5f7c/webapp/src/components/link_tooltip/link_tooltip.jsx#L15 is the line in question.

[2020-09-23 09:11] hanzei opened #372 "Notifications for comments on commits have an invalid link"
The link of a a comment in [this PR](https://github.com/mattermost/mattermost-plugin-incident-response/pull/291), specifically on [this commit](https://github.com/mattermost/mattermost-plugin-incident-response/commit/0a1b4c94837f9e821080d2918c873c524c792dfd) is broken. The plugin is linking to
https://github.com/mattermost/mattermost-plugin-incident-response/0a1b4c94837f9e821080d2918c873c524c792df

[2020-09-23 10:47] jespino opened #373 "Renew the screenshot (Looks like a bit out of date with the current matterost interface)"

[2020-09-23 11:16] jasonblais commented on #373
cc @aaronrothschild / @justinegeffen

[2020-09-23 11:22] justinegeffen commented on #373
Thanks, @jespino.

[2020-09-25 18:30] hanzei opened #375 "Assignments tab shows PR icon for issues"
![Screenshot from 2020-09-25 20-29-24](https://user-images.githubusercontent.com/16541325/94303276-d21f3480-ff6d-11ea-889c-87afb2fed808.png)

The first item is an issue, but has PR icon

[2020-09-30 13:25] #373 closed

[2020-10-01 07:03] #375 closed

[2020-10-01 10:26] hanzei opened #377 "GitHub creates an invalid subscription when repo name has uppercase letters and the case does not match"
When using the GitHub plugin subscribe functionality, if the repo name does not match the case it creates an invalid subscription. For example, with the repo "DHaussermann/hello-world" subscribe by typing "/github subscribe dhaussermann/hello-world" where the D and H in the owner name are lower case.

The response from the plugin is that the subscription was successful. No events will ever get del

[2020-10-02 17:02] aaronrothschild opened #378 "GitHub - Check for an existing webhook when subscribing to a repo"
When a user create a subscription to a repo the plugin should check the repo (or parent Organization for Enterprise) to see if a webhook is in place to deliver the events

If no webhook is found on the GitHub side, an ephemeral post should occur to remind the user that a webhook must be set up. It can then post the url that must be used to deliver the events.

Note that this functionality is alrea

[2020-10-02 17:03] aaronrothschild opened #379 "Create a webhook via a slash command in mattermost"
Add a feature that will allow users to add and list webhooks in GitHub via a Mattermost slash command. The user would pass in a GitHub repository and a slash command would create a webhook on behalf of the connected Mattermost user.

A list option would also show the existing webhooks for the repo name passed in by the user.

Note that this functionality is already implemented for GitLab and some

[2020-10-03 10:41] hanzei opened #381 "Select types of events to subscribe to in a dialog box"
Right now, the user needs to specify a comma separated list of issue event types that will trigger a notification.  This ticket is to Allow a user to select the types of events to show up in the channel from a dialog box instead of typing a string of comma sep text.

[2020-10-03 11:04] hanzei commented on #378
One thing to consider while implementing this is which token to use for fetching the information about what webhook to use.

[2020-10-05 12:45] larkox opened #382 "Integrate E2E testing"
Following a similar design as in the [Incident Response Plugin](https://github.com/mattermost/mattermost-plugin-incident-response/tree/master/tests-e2e) integrate Cypress E2E testing for this plugin.

At least one simple test case has to be added to make sure the system works.

[2020-10-07 08:10] sasha27 commented on #379
@aaronrothschild is someone already working on this issue? If not then I would like to work on it. Can you please point me out to respective packages I can look into and also documentations on how I can set up a testing environment, please?

[2020-10-07 08:22] sasha27 commented on #328
@hanzei has someone already worked on this? if not, then I would like to pick this up. Please let me know which packages to look into as well as how to set up testing environment. Thank you!

[2020-10-07 08:42] larkox commented on #379
Sure, you can take it, @sasha27 ! The implementation in Gitlab you can find it here:
https://github.com/mattermost/mattermost-plugin-gitlab/blob/dc2be260042454cd3db7cb9cc7cf35594e34eb80/server/command.go#L244
Regarding setting up the environment, please check here:
https://developers.mattermost.com/contribute/getting-started/

[2020-10-07 11:27] hanzei commented on #328
It's all yours @sasha27 :+1:

You can find more information about how to develop on this plugin [here](https://github.com/mattermost/mattermost-plugin-github#development). Once you deployed the plugin to your local Mattermost server, you need to follow  the [install steps](https://github.com/mattermost/mattermost-plugin-github#configuration). All go plugin code is in https://github.com/mattermost/

[2020-10-07 13:11] chetanyakan opened #384 "Proposal - Add a system console setting to allow disabling UI components"
#### Summary

Similar feature to the JIRA plugin to disable the webapp components in the GitHub plugin.

- Add a plugin.json setting to allow disabling of all UI features
- This is to allow the admin to turn off the new features without affecting webhook notifications.

#### Related Links

- Related JIRA Issue and PR for the `mattermost-plugin-jira`:
https://github.com/mattermost/mattermost-plugin

[2020-10-07 20:50] DHaussermann opened #385 "Validate syntax when a subscription has an invalid label"
If a user mistakenly forgets the `"` on the label, the label has no affect and it's not obvious why.

Ideally we can prevent this by checking if `label:` is followed by a value in quotes to prevent user error. If we showed a message such as `no valid label provided` this would be far more forgiving.

Steps:
- type `/github subscribe DHaussermann/hello-world pulls,issues,creates,deletes,label:Apple

[2020-10-07 20:51] DHaussermann commented on #385
@hanzei please advise if this is technically possible and would make a good help wanted.

[2020-10-08 04:38] DHaussermann opened #386 "@mention on your PR or Issue should supercede muted user comments"
There is now a mute list to prevent DM notification when users on the mute list comment on your PRs or issues.

When a user who is on your mute list @mentions you on one of your own issues or PR no notification DM is received.
The functionality of delivering @mentions should take precedence here even though the users's comment would otherwise be muted if it did not contain the at mention.

**note*

[2020-10-08 09:21] hanzei commented on #385
That improvement makes up for a great HW  :+1:

[2020-10-08 09:25] hanzei commented on #386
@DHaussermann That behaviour is by design. The documentation for the mute features reads: `You will not receive notifications for comments in your PRs and issues from those users.`. Maybe it should be made more clear that this also includes PRs and issues a users is _assigned_ to. But I think the documentation makes clear that it's not only about @-mentions.

[2020-10-08 09:28] hanzei commented on #384
What is the use case for this setting? Why would an admin want to prevent users from e.g. creating issues from the UI or open the custom RHS?

[2020-10-08 09:35] larkox commented on #384
I see value on this mainly for the LHS. If more than one plugin is using the LHS to show stuff, it may get too crowded. The problem would be then how to open the RHS.

I would prefer a user-level setting, but a system level setting is easier to deal with.

[2020-10-08 09:44] hanzei commented on #384
For todo we have a System level, right @larkox?

[2020-10-08 09:45] larkox commented on #384
Yes, todo is working with a system level setting.

[2020-10-08 09:45] chetanyakan commented on #384
I agree with @larkox here.

If multiple plugins are registering the teams sidebar component, then as of the current implementation, there is no scrollbar and also not possible to switch teams easily..

[2020-10-08 14:06] DHaussermann commented on #386
Thanks @hanzei, I thought @ mentions would be treated differently from other comments. Are we sure we want to block @mentons as well? This seems to be mostly to block automated tooling so, I'm not sure if blocking @ mentions is something needed.

[2020-10-08 15:15] hanzei commented on #386
I'm inclined to say yes. @nickmisasi What do you think about this?

[2020-10-08 15:23] nickmisasi commented on #386
Hello! My intention with the mute command was to _not_ block notifications for @ mentions. I'm pretty sure with the current behaviour, if a muted person/bot @mentions you from an issue/PR that isn't your own, you will still get that notification.

I think that behaviour should be consistent across everything. If someone @ mentions you, it's probably important. So I tend to agree with @DHaussermann

[2020-10-08 15:33] hanzei commented on #386
Is it common for bot/integrations to @-mention someone? If so, we should block it, if not I'm leaning towards no.

E.g. Mattermod @-mentions people for cherry-picks which doesn't seem important to me.

[2020-10-08 16:15] mickmister commented on #332
By default, requests from the frontend to the server are not prefixed with any host. For example, a fetch request like `fetch('/api4/users')` will be sent to `/api4/users`. One problem this has is if the server is being hosted on a subpath, or for some reason the server's [SiteURL](https://docs.mattermost.com/administration/config-settings.html#site-url) happens to be a different host than the dom

[2020-10-08 16:26] nickmisasi commented on #386
I agree bot/integrations @ mention is probably not a very common thing.  I'm 0/5 on which way it should be, I see advantages to both. I think whatever way we choose should be consistent across all cases to avoid confusion.

There is potential for people using this mute functionality on non-bots. So that could be something to keep in mind.

[2020-10-08 20:03] NamrataSitlani commented on #385
Hi, I would like to assign this issue to myself, and give it a try.

[2020-10-08 20:04] hanzei commented on #385
Awesome, thanks for taking a look @NamrataSitlani. Let me know if you have any questions.

[2020-10-08 20:09] hanzei commented on #384
Then let's go with a system level setting first and see if a user level one is still required.

[2020-10-10 21:03] mickmister opened #387 "On community-daily, some GitHub plugin API requests from webapp are returning 500s"
All requests are working fine on community-release.

Consistently on daily:

- `reviews` and `yourprs` succeeds
- `unreads` and `yourassignments` fails

Some pr and issue fetches for the tooltips fail, and some succeed. It seems the ones failing are consistently failing. Between daily and release, the requests look identical for each fetch.

Update after discussion with the team:
The 200s may be c

[2020-10-12 08:34] hanzei commented on #387
Please see my response on Community: https://community-daily.mattermost.com/core/pl/8r995qzcx7yd8cuh4dt114st6o

[2020-10-14 08:24] leonheess opened #388 "Github connect private not working"
**Describe the bug**
If you want to connect private repositories with the Github-Mattermost-Bot you end up with
`Post "https://git.private.com/login/oauth/access_token": Forbidden`

**To Reproduce**
Steps to reproduce the behavior:
1. `/github disconnect`
2. `/github connect private`
3. Click on _Click here to link your GitHub account._
4. See error

Is this a configuration issue?

[2020-10-14 10:31] hanzei commented on #388
Are you running a GitHub Enterprise installation?

[2020-10-14 10:38] leonheess commented on #388
Yes

[2020-10-14 10:41] hanzei commented on #388
Can you confirm that you are logged into your GitHub Enterprise installation? Are there any log messages related to this issue in GitHub?

[2020-10-14 10:48] leonheess commented on #388
@hanzei Yes, I get a login screen first, then the 2-Factor and when I successfully complete those I get the error

[2020-10-14 10:51] leonheess commented on #388
@hanzei I just right-clicked, copied the link of _Click here to link your GitHub account._, pasted it into Chrome, and it worked... this can be closed I guess

[2020-10-14 11:08] leonheess commented on #388
Copy-Pasted the link into the browser and it worked

[2020-10-14 11:08] #388 closed

[2020-10-14 11:09] hanzei commented on #388
Glad you got it working :+1:

[2020-10-15 17:12] mickmister commented on #387
I'm not seeing the issue anymore after the 2.0.0 (I think) release on community. Our requests are a lot less spammy now for the tooltips. We now only fetch the PR info after the user has actually hovered over the link, rather than on component mount. I'm thinking we should close this cc @hanzei

[2020-10-15 17:13] mickmister commented on #387
I have re-raised the issue in a relevant thread [here](https://community-daily.mattermost.com/core/pl/grtm1616nfntdr5sthx1x7rcwe)

[2020-10-15 20:16] mickmister opened #389 "When using a label-filter subscription, two posts are made when an issue is created with this label"
For a subscription such as `/github subscriptions add mattermost issues,label:"Triage"`, any new issues cause a post to be made in the channel. There is a second post that occurs at the same time if the label would match `Triage`.

Now that we show the labels on the "new issue" posts, we should avoid creating the "label-added" posts during the processing of the new issue. Only the "new issue" post

[2020-10-15 20:19] mickmister commented on #389
If GitHub sends a separate `issue-labeled` event when the issue is created with a label, we can check if the issue was created within the last 2 seconds or something like that, in order to avoid the extra post.

[2020-10-16 09:42] hanzei commented on #387
It seems concerning to me, if the high number of requests caused an issue in the Mattermost Server. That is something that the server should handle.

Does it make sense to forcefully try to reproduce this issue by building a custom plugin that launches a lot of requests?

[2020-10-16 13:31] mickmister opened #390 "Support being able to only subscribe to issue creation, and not issues being closed"
Currently when you make a subscription such as `/github subscriptions add (org/repo) issues`:

- a post is created when a new issue is created
- a post is created when an issue is closed

The goal here is to support subscribing to issue creation only. This should be a backwards compatible fix by requiring a separate argument like `issue_creation` instead of `issues`

[2020-10-16 15:15] mickmister opened #391 "Assignee of issue/PR should receive notifications for new comments"
Currently only the creator of a PR/issue receives a notification when a new comment is made on the issue/PR. Assignees should also receive these notifications, but they should not receive two notifications if they are also the creator of the issue/PR.

[2020-10-16 17:33] Remakh commented on #390
Mind if I try?

[2020-10-16 17:37] mickmister commented on #390
Absolutely! Thanks @Remakh!!

[2020-10-16 17:56] AgentEnder commented on #391
I'll take a go at this one if thats ok?

[2020-10-16 17:57] mickmister commented on #391
Sure @AgentEnder! Thanks for contributing!!

[2020-10-16 19:06] Remakh commented on #390
Any hints on where I could start? I've committed some stuff but I'm not too sure about it

[2020-10-16 19:07] mickmister commented on #390
@Remakh Do you have any specific questions? Maybe you can submit a draft PR for discussion if you'd like?

[2020-10-16 19:12] Remakh commented on #390
Sure I'll do that

[2020-10-16 19:25] Remakh commented on #390
I created a draft PR as you suggested. I was wondering where in the repo the code for creating posts is? I assumed I would create a new function mostly identical to the one that posts when subscribed to issues, but instead only posts when an issue is created. Am I wrong in this assumption?

[2020-10-16 19:55] mickmister commented on #390
@Remakh Are you saying that the posts are not being created when issues are closed, and only when they are initially opened?

[2020-10-16 20:05] Remakh commented on #390
Yes, unless I'm misunderstanding the issue? The issue is that if you subscribe to issues, a post is created when an issue opens or closes, and there should be a subscription option so that posts are only created when issues open, correct? I was wondering if you could indicate where these posts are created in the codebase, so I could modify it so posts aren't created when issues closed.

[2020-10-16 20:11] mickmister commented on #390
@Remakh Looks like we do some processing of that here https://github.com/mattermost/mattermost-plugin-github/blob/793631adb358f29a7d1a187dfedd13c2d5dfdf11/server/plugin/webhook.go#L351-L364

The fix is likely somewhere below this section in the same function

[2020-10-16 21:07] mickmister commented on #387
@hanzei Sure is this something you would be interested in doing?

[2020-10-16 21:25] Remakh commented on #390
thanks for your help. I tried to solve it, and hope this solution will work

[2020-10-17 04:38] EnzoBtv commented on #389
Hey @mickmister I'm looking for issues to colaborate. Can I get this one?

[2020-10-18 17:36] EnzoBtv commented on #324
Tried to fixed it with this PR @hanzei!

[2020-10-18 19:46] GodlikePenguin commented on #313
I'll take a look at this

[2020-10-19 06:55] larkox commented on #313
Thanks @GodlikePenguin :tada:

[2020-10-19 16:04] mickmister commented on #389
Thanks @EnzoBtv!!

[2020-10-19 19:09] catalintomai commented on #387
@iomodo , would this be an addition/ good fit to your test plugin?

[2020-10-19 19:57] iomodo commented on #387
@catalintomai `test-plugin` is for e2e tests. Are you suggesting creating an e2e test to repro this?

[2020-10-19 20:01] catalintomai commented on #387
There was some discussion in today's Backlog Grooming meeting wrt to the right place to add this kind of stress test(?). Your test plugin was discussed as a possibility it if makes sense cc: @DHaussermann

[2020-10-20 15:35] mickmister opened #397 "When an issue is closed with a comment, include the comment in the resulting "closed issue" post"
There is a feature "Close with Comment" in GitHub that allows the user to comment on why they are closing the issue. The GitHub plugin does not take this comment into account when creating the post.

[2020-10-21 07:49] hanzei commented on #397
@mickmister Do you know if the webhook event for the close event contains the information, if it was triggered alongside a comment?

[2020-10-21 09:23] agarciamontoro opened #398 "Notification numbers are not properly aligned"
The numbers in the left hand side bar are not properly aligned, which is very obvious when all the numbers are the same ones, as in the following screenshot:

![image](https://user-images.githubusercontent.com/3924815/96700014-38418080-138f-11eb-9d7d-32a269f9518d.png)

We need to fix the CSS so they are aligned. I'm not sure if the best way would be to assign the same width to the icons, or to ali

[2020-10-21 09:49] RabsonJ commented on #398
I would love to work on this

[2020-10-21 09:54] hanzei commented on #398
Awesome, thanks @RabsonJ :+1:

[2020-10-21 10:02] RabsonJ commented on #398
Thank you! Let me get working

[2020-10-21 10:22] RabsonJ commented on #398
@hanzei can you please give me the exact name of the file / it's location

[2020-10-21 10:47] hanzei commented on #398
Sure @RabsonJ. The button are defined in https://github.com/mattermost/mattermost-plugin-github/blob/master/webapp/src/components/sidebar_buttons/sidebar_buttons.jsx. You might want to take a look at the `getStyle` method first: https://github.com/mattermost/mattermost-plugin-github/blob/793631adb358f29a7d1a187dfedd13c2d5dfdf11/webapp/src/components/sidebar_buttons/sidebar_buttons.jsx#L211-L235

[2020-10-21 14:46] mickmister commented on #397
https://developer.github.com/webhooks/event-payloads/#pull_request

@hanzei It looks like it isn't available. Probably not worth the hassle, but we could scan the comments to see if there was one posted very recently. What do you think? Otherwise I'll close this ticket

[2020-10-21 18:14] hanzei commented on #397
I'm inclined to close the ticket. Scanning the posts seems not worth and a bit error prone.

[2020-10-21 18:30] #397 closed

[2020-10-22 07:54] #304 closed

[2020-10-22 09:30] #324 closed

[2020-10-25 20:04] jrepe commented on #214
hey, mind if I have a go at this one?

[2020-10-26 23:24] #389 closed

[2020-10-27 00:29] mickmister opened #401 "Display the PR/issue author in the plugin tooltip"
Currently there is no indicator of who created a PR in the link tooltips. Just below the title of the issue/PR, we could display
`Opened by (username)`, with a link to their GitHub profile.

<img width="500px" src="https://user-images.githubusercontent.com/6913320/97242155-77c1ff80-17c9-11eb-8008-cd35a0fe90ae.png"/>

[2020-10-27 04:17] rudhrasekar commented on #401
Can you assign this to me?
TIA

[2020-10-27 09:59] larkox commented on #401
All yours @rudhrasekar ! Thank you for contributing! :smile:

[2020-11-02 22:18] hanzei opened #403 "Spontaneous React Intl in console"
Occurs intermittently after closing the RHS.  Purple dev mode banner error message fires with the attached in the js.console.

![screenshot-3](https://user-images.githubusercontent.com/16541325/97925407-9ee87600-1d61-11eb-82ba-3d171ac7d8da.png)

![image-2020-10-05-10-28-13-242](https://user-images.githubusercontent.com/16541325/97925379-93954a80-1d61-11eb-8cd5-ebb4429f0edb.png)

[2020-11-03 08:10] #214 closed

[2020-11-06 18:03] #390 closed

[2020-11-12 12:30] hanzei commented on #387
I've filled https://mattermost.atlassian.net/browse/MM-30474 to capture the effort of stress testing the plugin framework. During that effort the root cause of this issue might be found. I'm going to close it for now.

[2020-11-12 12:30] #387 closed

[2020-11-13 11:38] ecylmz opened #405 "Pull request review and Pull request review comments not working"
Hi,

Pull request review and Pull request review comments not working for us. We have following error log on mattermost:

`{"level":"warn","ts":1605265921.2438548,"caller":"mlog/sugar.go:27","msg":"Error webhook post","plugin_id":"github","error":"SqlPostStore.Save: İleti kaydedilemedi., pq: value too long for type character varying(26)"}`

`İleti kaydedilemedi` means `The message could not be sav

[2020-11-13 12:18] hanzei commented on #405
Hi @ecylmz,

Thanks for the report. Would you be open on installing a custom version with additional logging? That would help with debuggin.

[2020-11-13 14:51] ecylmz commented on #405
Of course! How can I install the custom version you mentioned?

[2020-11-13 21:40] mickmister opened #407 "Support user setting to avoid duplicate daily summaries"
Currently the reminders feature supports a user setting of two options: `on` and `off`. We can support a third option `on_change` that will do the following:

If today's daily summary is the exact same as the previous one posted, do not create the post.

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/6xuc4kbqcjgjzk5daxxy8kobpc) *by @chetanyakan*._

[2020-11-14 00:02] mickmister opened #408 "Make username clickable in RHS PRs/Issues"
The author of a PR/issue is shown at the bottom of each entry in the RHS. We can have the username be a hyperlink to the author's GitHub profile.

![image](https://user-images.githubusercontent.com/6913320/99131975-a241f400-25e2-11eb-8559-e0f2f941081f.png)

[2020-11-17 13:26] hanzei commented on #405
Could you please DM me on the [Mattermost Community Server](https://community.mattermost.com)?

[2020-11-17 14:01] ecylmz commented on #405
I can't join any team.
![image](https://user-images.githubusercontent.com/248267/99398980-1556ad80-28f6-11eb-97bd-dadbbab6821c.png)

If it is not a problem for you, you can send the instructions by mail. my email: emrecan [at] ecylmz.com

[2020-11-18 11:58] hanzei commented on #405
@ecylmz Thanks for the report. We are looking into this.

Meanwhile I've send you the build via mail.

[2020-11-18 17:47] jwilander commented on #405
@ecylmz I updated the total users limit for the team. Can you try again?

[2020-11-18 18:06] ecylmz commented on #405
@hanzei When i install the plugin, i get the following error:

[code]

@jwilander thanks. I joined.

[2020-11-20 04:01] mickmister commented on #262
This is similar to `logoutIfNecessary` code in the webapp. It's a good preventative measure that could probably be used in other plugins

[2020-11-20 04:01] #262 closed

[2020-11-23 09:51] #268 closed

[2020-11-25 20:30] mickmister opened #409 "Support subscribing to issues/PRs with an assigned Project"
Along with labels, an issue/PR can contain a Project. The plugin's subscription system can support this field, to allow for creating subscriptions scoped to a given project. More info on the `/github subscriptions` command can be found here https://github.com/mattermost/mattermost-plugin-github?tab=readme-ov-file#slash-commands

In order to fetch information on projects, we can use GitHub's GraphQ

[2020-12-01 17:23] tforster commented on #405
@hanzei I just installed the GitHub integration as part of an evaluation of Mattermost. My first test was with PRs since we have issues turned off in GitHub because we use Azure DevOps boards (as an aside I am able to get ADO to post into Mattermost using ADOs builtin Slack integration using a Matterport incoming webhook URL - nice!).

What is the status of this bug? I don't see any response to @e

[2020-12-01 17:27] hanzei commented on #405
https://github.com/mattermost/mattermost-plugin-github/pull/406 will he with debugging this issue further. @ecylmz has issues installing a custom version of this plugin, which will allow us to figure out what causes the above error.

@tforster Are you encountering the same issue?

[2020-12-01 18:20] tforster commented on #405
I believe so. I am using the cloud version of Mattermost. Just started with it so still very new. Can I install the custom version and see if that helps?

[2020-12-01 19:49] tforster commented on #405
Do any of the subscriptions work? I have subscribed to a repo in a channel for the default plus issue_comments and created a test issue in the repo. Nothing is showing up in Mattermost. The sidebar items for PRs, assignments and messages work but notifications are not showing up in a subscribed channel.

[2020-12-01 20:10] gstlouisgit opened #410 "mattermost and github"
I am trying to learn how to use this integrated github in mattermost.  I was kind of hoping I could see my issues list that I could maybe action and update from the mattermost sidebar that shows the list of github stuff.  I don't think this is possible

But I do see assignments.  How does this work?  I create an issue and assigned myself, but it did not populate anything on my github left bar and

[2020-12-02 09:10] larkox commented on #410
I can see two reasons why you might not be seen the assignments.
- Have you refreshed the information? (either by refreshing the page or hitting the refresh button alongside the github buttons)
- Are you assigning yourself to a private repo? Private repos need you to connect in a special way (`/github connect private` instead of `/github connect`)

[2020-12-02 14:23] gstlouisgit commented on #410
yes that seems to be it!
/github disconnect then /github connect private.  Thank you

[2020-12-02 14:23] #410 closed

[2020-12-02 18:10] aaronrothschild opened #411 "Allow more characters in the title field when creating a Github Issue from MM"
Currently it stops you from entering more than ~45 characters I think....annoying.

[2020-12-03 10:13] hanzei commented on #405
Unfortunately you can't install a custom version of a plugin in MM cloud.

Any specified list of features does overwrite the default list. Could you please try again with `pulls,issues,creates,deletes,issue_comments`?

[2020-12-03 14:08] tforster commented on #405
I reissued `/github subscriptions add pulls,issues,creates,deletes,issue_comments` then created a new issue and assigned it to myself. The Assignments right-sidebar reflected the addition. But the channel containing the subscription is still empty.

![image](https://user-images.githubusercontent.com/121533/101028764-da37b980-3546-11eb-95cb-fd284772ce08.png)
![image](https://user-images.githubuserc

[2020-12-04 08:23] hanzei commented on #405
1. What does `/github subscriptions list` report?
2. Does the Webhook in GitHub state that the event was successfully delivered?
3. Do you see any errors in your Server logs?

[2020-12-04 14:31] tforster commented on #405
@hanzei
1. `tforster/webproducer - pulls,issues,creates,deletes,issue_comments`
1. Ah, I did not realise that the extension creates and manages Webhooks. The Webhook response is:
[code]
3. I am on the Cloud version, I don't believe there is a way for me to view logs?

So, the error message is "No text specified". I have gone through the request JSON and I don't see any empty fields. Do we know wha

[2020-12-05 17:51] tforster commented on #405
@hanzei The Github integration is now working. It looks like during my earlier experimentation and evaluation I entered the wrong webhook in the repository settings in GitHub. I just removed everything and started from scratch with https://github.com/mattermost/mattermost-plugin-github/blob/master/README.md.

As someone brand new to Mattermost and the Mattermost GitHub integration I was not aware

[2020-12-06 15:01] tforster commented on #405
I can also verify that pull request comments are working for me as was the notification when my test PR was closed.

[2020-12-09 18:12] DHaussermann opened #412 "Webapp crashes when hovering a github link"
The webapp CSS is breaking when I click a link to a GitHub issue.
![GitHubCss](https://user-images.githubusercontent.com/35588783/101669554-145dfb00-3a20-11eb-8d04-5fec27b5d922.png)

This occurs on the `master` branch of the plugin.
Can't repro on v2.0.0

Steps:
- Deploy master branch
- Enable and configure GitHub
- Create a GitHub issue from a post
- Note the post appears in the thread with a lin

[2020-12-10 12:54] #313 closed

[2020-12-14 08:14] hanzei commented on #405
The `No text specified` text is set by GitHub, there is unfortunately no way to change that from our side.

[2020-12-21 19:44] ecylmz commented on #405
I upgraded Mattermost to 5.30.1 but still has issues installing a custom version of this plugin.

Error:

[code]

[2020-12-26 15:19] BarakStout commented on #69
Had the same issue on Mac. Updating to the latest Mattermost client app resolved the issue. FYI.

[2021-01-13 13:57] #412 closed

[2021-01-20 19:31] jfrerich opened #418 "Add `--exclude` option to `subscriptions` command"
Currently, subscriptions allow adding repositories or an organization to a subscription.

This request is to add a `--exclude` flag that will allow excluding repositories from the notification.

`/github subscriptions add mattermost,label:"Severity/Critical" --exclude mattermost/mattermost-server,mattermost/mattermost-webapp`

An example would be to subscribe a channel to all mattermost organizati

[2021-02-07 10:27] balan2010 commented on #418
Hi! I would like to work on this

[2021-02-08 06:56] haardikdharma10 commented on #411
Hi @aaronrothschild, can you help me with the files that need to be edited?

[2021-02-08 09:43] larkox commented on #418
All yours @balan2010 . Thanks!

[2021-02-08 09:45] balan2010 commented on #418
Cheers :-)

[2021-02-08 10:03] hanzei commented on #411
@haardikdharma10  I suppose line in question is https://github.com/mattermost/mattermost-plugin-github/blob/4ac1aaad9175d2ce3652a16fac23a9152fe99a36/webapp/src/components/modals/create_issue/create_issue.jsx#L192. You will need to check the effect on the GitHub API though.

[2021-02-11 12:01] #384 closed

[2021-02-15 20:12] jfrerich commented on #418
Woohoo! Thanks, @balan2010! This feature will be so helpful

[2021-02-15 23:13] balan2010 commented on #418
No Worries.. About to start  working on this issue

[2021-02-23 05:04] frakman1 opened #423 "Option To Disable Daily Update"
I got this plugin to work. I like having the sidebar widget and the ability to use `/github` commands. However, I am not interested in getting a daily message from the GitHub bot. Is there a way for me to disable that feature?

[2021-02-23 08:13] hanzei commented on #423
@frakman1 You can disable the daily reminder by using `/github settings reminders off`.

[2021-02-23 08:38] frakman1 commented on #423
Awsome! I just realised that you can scroll down and see more command options than just connect, disconnect, help and todo. I guess my theme was so dark, I didn't see the scroll bar.
Thank you!

[2021-02-23 08:38] #423 closed

[2021-02-23 14:32] frakman1 commented on #423
Sure.  Maybe the window can be larger?

![image](https://user-images.githubusercontent.com/5826484/108858308-0305a300-75ba-11eb-8a6c-ecbb2a2655ce.png)

[2021-02-24 12:01] hanzei commented on #423
@aaronrothschild @abhijit-singh That is some interesting feedback :point_up:

[2021-03-02 22:00] frakman1 commented on #423
I keep getting daily updates dispite entering the command to disable notifications.

FYI, the confirmation message doesn't actually say what it did. It would be more useful to show what setting was updated instead of just: "Settings Updated"

![image](https://user-images.githubusercontent.com/5826484/109720895-acc7cf80-7b78-11eb-98d2-702677531cf4.png)

That way I could prove that I disabled it, th

[2021-03-02 22:01] frakman1 commented on #423
Does restarting the server reset my notification setting? Does it persist across server reboots?

[2021-03-04 11:09] hanzei commented on #423
@frakman1 Just to double check: Did you run `/github settings reminders off`?

[2021-03-04 14:42] frakman1 commented on #423
Yes. I have two Teams in my instance. Could that make a difference? Do I have separate settings per team or are they common?

[2021-03-08 02:27] djanda97 commented on #408
@mickmister Thanks for the feedback you posted on my PR! I'll make those changes and work on getting my environment setup so that I will be able to test changes locally.

[2021-03-09 11:45] hanzei commented on #423
The setting is global. Do you see any errors regarding the github plugin in your logs?

[2021-03-12 15:17] ekoby opened #426 "Can't subscribe to release notifications"
It would be nice to receive release notifications

[2021-03-28 16:51] jidl-gh opened #428 "This plugin failed to start. Check your system logs for errors."
I've gone through the prcoess of adding an OAuth client to github, entered the client ID and secret to the plugin config.

I can't seem to get the plugin to start though. I get the message:

_This plugin failed to start. Check your system logs for errors._

As far as I can see the logs aren't availabe on the Mattermost cloud version.

The plugin version is 2.0.0. Any ideas?

[2021-03-29 09:07] hanzei commented on #428
@jidl-gh Did you followed the steps at https://github.com/mattermost/mattermost-plugin-github#configuration before starting the plugin?

[2021-03-29 09:12] jidl-gh commented on #428
I did. But the Step 6 failed:

_Once you have successfully registered the Mattermost GitHub Plugin as an authorized OAuth app, switch to Mattermost and run /github connect in a Mattermost channel. You should receive a DM from the GitHub plugin about the features you have available._

Which led me to investigate further and see that the plugin doesn't start.

Does the starting of the plugin depend