[2021-03-29 14:15] mickmister commented on #428
@hanzei Maybe we should reconsider how we handle the non-configured state of the plugin. Instead of aborting the startup, we could have the plugin in an "inactive" state while still running. We would also need to provide feedback when the credentials are updated or some way of affirming that the plugin is correctly set up. This would be a much better experience for this situation where admins that

[2021-03-29 14:17] mickmister commented on #428
@jidl-gh Do you mind sending me a DM with your workspace URL on https://community.mattermost.com at `@michael.kochell`? I will try and see what's going on with the logs.

[2021-03-29 14:17] mickmister commented on #428
Also can you please try restarting the plugin after setting the credentials if you haven't already?

[2021-03-29 17:02] hanzei commented on #428
Great suggestion :+1: Would you be open on cutting a HW- ticket for that?

[2021-04-05 23:58] frakman1 opened #431 "Access Token Upgrade To New Format"
I got an email from Github informing me that the token used for this integration is deprecated.

Is a change to this plugin required to work properly with the new format?

[2021-04-06 06:52] hanzei commented on #431
Are you running the latest version of the GitHub plugin?

[2021-04-06 07:36] frakman1 commented on #431
I'm running this version:

![image](https://user-images.githubusercontent.com/5826484/113675402-5115c800-9689-11eb-9de1-78641bdc0942.png)

[2021-04-06 09:58] hanzei commented on #431
That's surprising. Since `v31.0.0` of the `go-github` library authentication is done via HTTP headers, not query parameters. This was fixed in https://github.com/google/go-github/pull/1469. That version is also used for `v2.0.0` of this plugin. (https://github.com/mattermost/mattermost-plugin-github/blob/ed9060a93008376a2f201e8820112759ce19c7fb/go.mod#L7)

I will discuss this ticket with my team a

[2021-04-06 10:41] frakman1 commented on #431
Sure. Let me know if there are any other components/versions you need.

[2021-04-06 10:45] hanzei commented on #431
Just to double check: Did you recently update to `v2.0.0` of this plugin?

[2021-04-06 12:53] frakman1 commented on #431
I don't think so. I only recently installed Mattermost and all plugins within the last few months

[2021-04-07 08:51] hanzei commented on #431
@levb Create a JIRA ticket for you: https://mattermost.atlassian.net/browse/MM-34646

[2021-04-07 20:50] mickmister opened #432 "Handle "unconfigured" state of plugin gracefully"
Currently when some of the plugin settings are not provided (like the GitHub API token), the plugin bails during plugin startup. We should instead allow the plugin to start up, and show helpful errors regarding missing config values when the admin tries to set up the plugin features.

[2021-04-07 20:50] mickmister commented on #428
HW ticket https://github.com/mattermost/mattermost-plugin-github/issues/432

[2021-04-15 21:30] hanzei opened #435 "Release v2.0.1"
- [x] https://github.com/mattermost/mattermost-plugin-github/pull/433
- [x] https://github.com/mattermost/mattermost-plugin-github/pull/434

[2021-04-17 04:29] mickmister opened #438 "Create Issue modal should disable labels etc instead of hiding the elements"
Before selecting a repo, there are 3 total fields available

![image](https://user-images.githubusercontent.com/6913320/115101579-65708500-9f13-11eb-9f35-96d81f8475e6.png)

Once the repo is selected, we place labels, assignees, and milestones in the middle of the form.

![image](https://user-images.githubusercontent.com/6913320/115101585-73260a80-9f13-11eb-996e-
c92f17c9f841.png)

When a repo is s

[2021-04-18 17:34] #435 closed

[2021-04-18 21:11] ecylmz commented on #405
Hello again,

I upgraded Mattermost to version 5.34.2. I also upgraded this plugin to v2.0.1.

The error is as follows:

`{"level":"warn","ts":1618779681.0006225,"caller":"mlog/sugar.go:29","msg":"Error webhook post","plugin_id":"github","error":"CreatePost: Unable to save the Post., failed to save Post: pq: value too long for type character varying(26)"}`

[2021-04-22 16:21] mickmister opened #439 "Show author of PR/issue in link tooltip"
Currently the link tooltip shows things like the issue title, summary, branch, labels and milestone, but there is no indicator of who created the issue/PR. The task here is to modify the tooltip component to include the author.

![image](https://user-images.githubusercontent.com/6913320/115749337-feb0f880-a364-11eb-805f-de103d2527e2.png)

[2021-04-22 16:22] mickmister commented on #439
@abhijit-singh Do you have thoughts on where the author could be displayed?

[2021-04-30 16:22] marianfeiler commented on #431
I havbe version 2.0.1 installed but get the Error:
`oauth2: server response missing access_token`
I did all the things mentioned for installing the Plugin.

[2021-05-10 23:04] mickmister opened #444 "Handle event for when someone "Stars" a repository"
Currently, we don't handle the "Stars" webhook event available in the picture below. We can handle a "star" event by including it in the subscription options in the plugin. Then a user can configure the subscriptions to create a post when someone stars the repo.

![image](https://user-images.githubusercontent.com/6913320/117733718-0a534a80-b1c0-11eb-9bbe-9a59a5d780d3.png)

[2021-05-12 20:52] mickmister opened #445 "Filter out "<details>...</details>" text from PR descriptions"
Bots such as @dependabot often make posts structured with the [`<details>`](https://gist.github.com/ericclemmons/b146fe5da72ca1f706b2ef72a20ac39d) tag to hide details that can be expanded when clicked. When this is rendered in a Mattermost post, the result shown is the raw HTML containing the details. We can hide this text since it is mostly unnecessary information that is not properly formatted.

[2021-05-14 18:05] niteeshhegde commented on #445
may I take this up?

[2021-05-14 18:09] niteeshhegde commented on #444
May I take up this one?

[2021-05-14 18:10] mickmister commented on #444
Sure thing, thanks @niteeshhegde!

[2021-05-14 18:11] mickmister commented on #445
Sure @niteeshhegde! Let me know if you have any questions.

[2021-05-18 13:26] #411 closed

[2021-05-18 15:32] #318 closed

[2021-05-20 13:04] MikeN123 commented on #431
Note that the JIRA ticket says this was solved - but I think it isn't. This is about the `access_token` format - you need to renew access tokens by calling the reset endpoint: https://docs.github.com/en/rest/reference/apps#reset-a-token

[2021-05-20 18:12] hamstu commented on #431
Yeah, I also got the same email from GitHub. Is there a straightforward way to fix / resolve?

[2021-06-25 16:51] mickmister opened #450 "Support notification links to GitHub discussions"
Currently when the user has an unread notification in a GitHub discussions thread, such as the posts seen here https://github.com/mattermost/community/discussions, the unread notification shows in the GitHub plugin's notification section, but the notification does not have a clickable link to navigate to the discussion.

The task here is to detect that a notification is for a GitHub discussion, an

[2021-06-25 16:52] mickmister commented on #450
Example view of the notifications

![image](https://user-images.githubusercontent.com/6913320/123459296-19495d00-d5b4-11eb-893f-21972265dc96.png)

[2021-06-29 17:39] DHaussermann opened #451 "GitHub - Unable to fetch repos (master branch)"
When master brach of the repo is deployed I'm unable to get the list of repos in the create or attach modal.

The drop down stays empty and and I see a 500 response in the browser dev tools.

![image](https://user-images.githubusercontent.com/35588783/123842882-42812a80-d8df-11eb-9864-c4d5398b1e3c.png)
![image](https://user-images.githubusercontent.com/35588783/123842912-4a40cf00-d8df-11eb-9405-c7

[2021-06-30 10:32] hanzei commented on #451
This is a regression cause by https://github.com/mattermost/mattermost-plugin-github/pull/422.

[2021-06-30 13:56] hanzei commented on #271
Does the API return this information?

[2021-07-01 04:55] alexander-potemkin opened #453 "Getting duplicate for GitHub commit messages in Mattermost channels"
Thank you for the plugin!

I configured it according to the installation guide but now I'm getting same commit message twice.

I double checked - it's just one subscription and there is only one webhook on GitHub side, running out of ideas what could went wrong - any help would be much appreciated!

[2021-07-01 10:46] hanzei commented on #453
Would you be open on posting a screenshot to confirm the issue?

[2021-07-01 12:05] alexander-potemkin commented on #453
I wish I could, but I just got it reproduced and was in a rush (had an production incident to handle), so didn’t think of screenshoting it =(

[2021-07-07 07:09] hanzei opened #454 "Autocreated link to new PRs doesn't work"
When clicking on a github link I get a 404 error as the URL is not correct. Turns out that "mattermost" id duplicated in the URL.

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/diujt597p7yb7dp5s7na7j6s5w) *by `@jprusch`*._

[2021-07-08 08:40] #451 closed

[2021-07-09 17:55] mickmister opened #455 "Change link tooltip css to fix cutoff words in word wrap"
Currently, the PR/issue body in the plugin's link tooltip feature shows some undesirable word wrap behavior. There's no indication that a word is wrapping to the next line.

Please see https://github.com/mattermost/mattermost-plugin-github/issues/455#issuecomment-878426358 for the solution

<img width="500" src="https://user-images.githubusercontent.com/6913320/125117891-deb7e800-e0bc-11eb-9a73-58

[2021-07-09 17:56] mickmister commented on #455
@matthewbirtch Do you have any input on how this could be improved?

[2021-07-09 18:20] matthewbirtch commented on #455
@mickmister it looks like there are some css rules that are causing this:

In the css below, `hyphens: auto` and `word-break: break-all` is causing the undesirable behaviour. I just disabled those properties in the inspector and it seemed to fix it.

[code]

I'm not 100% why these rules were added to begin with though, so I can't guarantee it won't break anything else.

[2021-07-12 16:23] mickmister commented on #455
@hanzei Circling you in discussion since you were heavily involved with this feature

The original PR for this feature has `hyphens: auto` but not the `word-break: break-all`. See the linked discussion: https://github.com/mattermost/mattermost-plugin-github/pull/258/files#r420088449

Another PR added the `break-all` change as text was overflowing out of the popover: https://github.com/mattermost/m

[2021-07-12 16:37] matthewbirtch commented on #455
@mickmister I think if you use the following it would be better:

[code]

If you do the above, you shouldn't need `hyphens` either

Here's a css tricks article on this for reference: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/

[2021-07-13 13:47] sibasankar-demansol commented on #432
@mickmister can you let me know where exactly this issue occurred ? or step to reproduce this issue .

[2021-07-13 14:23] mickmister commented on #432
Hi @sibasankar-demansol! Thanks for looking into this ticket

If you have not configured the plugin at all yet, installing and enabling the plugin should be all you need to do to reproduce this. The plugin will fail to start and you will have to look at the server logs to understand why it failed, which is what this ticket solves. The admin should not have to check the logs for missing configurati

[2021-07-13 14:24] mickmister commented on #432
@hanzei I'm thinking this is actually a problem with the plugin framework, not the GitHub plugin. We don't have a way for the plugin to tell the admin about missing config values, other than bailing on plugin startup and logging. Maybe we should have `OnInstallText` in the plugin manifest, or allow the error returned in `OnActivate` to be shown in the plugin management page of the system console.

[2021-07-13 15:35] sibasankar-demansol commented on #432
Hi @mickmister
i have configured thegithub plugin so removed the github api token
do i need to restart the mattermost-server to see the logs as i didn't find the logs after removing the secret

[2021-07-13 15:40] sibasankar-demansol commented on #432
is this the log you are referring to
![Screenshot 2021-07-13 at 9 08 33 PM](https://user-images.githubusercontent.com/86650698/125482203-c0759f1a-a87c-4097-b6ed-9107f2aa9e40.png)

[2021-07-14 02:27] sibasankar-demansol commented on #432
@mickmister was going through the code
even found 2 cases
1 .  if we are new and haven't set the web-hook secret while deploying it gets fail , which mean the plugin will not be having any control to mattermost-server , seems like it will be a major change for this , need to figure out how can we interact with server to display it over UI
2. if i had successfully using GitHub plugin and by knowing

[2021-07-14 05:01] mickmister commented on #432
@sibasankar-demansol You just need to restart the plugin, not the whole mattermost server. You can do this by toggling disable/enable in the Plugin Management page, or by saving the Enabled boolean in the github plugin settings to false, saving, then setting to true, and saving.

The `invalid config: must have a github oauth client secret` portion of this log message is coming from the GitHub plug

[2021-07-14 14:45] hanzei commented on #432
@mickmister I was thinking about a much simpler solution then a custom settings page:

Every slash commands check the config before running and returns an error to either contact the admin or (for admins) to configure the plugin correctly. That is a server side only implementation, which can be done in a few lines of code.

What do you think?

[2021-07-14 16:03] mickmister commented on #432
@hanzei There is also the case of disabling/hiding the post options like "Connect to GitHub", "Create Issue", "Attach to Comment" if the plugin is not set up right. Do we want to include changes to disable these when there are plugin settings missing? I would think at least some code needs to change in the plugin's webapp for this task.

Maybe we add an endpoint that checks if the plugin is config

[2021-07-14 16:17] mickmister commented on #432
@hanzei Yes, I was incorrect in thinking there was also a "Connect to GitHub" post menu item, but there isn't. There is one in the Jira plugin which I assumed was also here. Yes that sounds good. We should:

- avoid returning an error in `OnActivate` if it is related to `config.IsValid`
- check for valid config on all appropriate slash commands (I think all of them), and return an error back to th

[2021-07-15 03:23] sibasankar-umpteens commented on #432
@mickmister so we should move forward with changing the code and to check isValid while every /slash command and return the error to the user

[2021-07-15 05:34] sibasankar-umpteens commented on #432
@mickmister should we check the config valid for each and every slash command

and this is a screenshot of slash command where aouth secret is not configured

![Screenshot 2021-07-15 at 11 02 23 AM](https://user-images.githubusercontent.com/87431235/125734268-5258d96e-239d-4f43-820e-d44b1a1b8586.png)

[2021-07-15 09:12] hanzei commented on #378
Requires https://github.com/mattermost/mattermost-plugin-github/pull/456 to be merged first.

[2021-07-15 19:49] mickmister commented on #432
@sibasankar-demansol

This is correct

Yes every slash command

The error message should be more user-friendly. I think we should remove the "Encountered an error while executing command" part, and say something like:

"Before using this plugin, you will need to configure it by filling out the settings in the system console [here](INSERT_SITE_URL_HERE/admin_console/plugins/plugin_github). You can

[2021-07-16 12:27] hanzei commented on #453
@alexander-potemkin Are there any steps to reproduce that you can provide?

[2021-07-18 13:18] EugenMayer commented on #108
Little update on my side. Since my patch no longer worked an i did not mind to reroll it against 5.37 i disabled the entire plugin.

I rather go without this plugin and not with the fact that all my collegues learn to entirely ignore notification in mattermost since they are bombed by notifications without any use (i just commited, thank you github to tell me that).

I hope there are at least peop

[2021-07-20 06:16] sanjaydemansol commented on #431
Turns out, I had trailing space in my access_token. It was really bad error message though, should be fixed.

[2021-07-20 07:18] larkox commented on #431
@sanjaydemansol Do you mind creating a ticket to improve the error message?

[2021-07-22 10:08] sanjaydemansol commented on #241
Hi @mickmister , I guess by

you mean we need to add titles to icons, right?
<img width="245" alt="Screenshot_32" src="https://user-images.githubusercontent.com/85980820/126622970-821285a3-e0b5-4797-b03c-756220637745.png">
like that ?_(my tool didn't capture cursor)_

[2021-07-23 04:08] mickmister commented on #241
@sanjaydemansol Using `title` sounds good

[2021-07-23 04:39] mickmister opened #461 "Trailing space in my access_token causes uninformative error message"
Hi, I just Installed this plugin `oauth2: server response missing access_token`. How to resolve? do I need to renew? I've created this token just now.

-----

Turns out, I had trailing space in my access_token. It was really bad error message though, should be fixed.

_Originally posted by @sanjaydemansol in https://github.com/mattermost/mattermost-plugin-github/issues/431#issuecomment-883065815_

[2021-07-23 04:43] mickmister commented on #431
@levb Does this issue need another look based on feedback above?

[2021-07-23 06:30] MikeN123 commented on #431
@mickmister https://mattermost.atlassian.net/browse/MM-34646 was already reopened, but it seems it's just getting pushed forward.

[2021-07-27 06:03] jprusch commented on #454
Example:
![image](https://user-images.githubusercontent.com/9337414/127103801-d4d819d5-e60b-4e39-9d9f-7e8d471c4886.png)

[2021-07-27 15:13] mickmister commented on #445
This HTML sanitization library may be helpful for this https://github.com/microcosm-cc/bluemonday/blob/cada0f039b5e2b75cd17eeccc7822e5fa35cfd82/policy.go#L689

[2021-07-30 05:27] haardikdharma10 commented on #455
Thank you for your help and the article you linked to @matthewbirtch!

@mickmister, i'll fix this 🙂

[2021-07-31 05:05] sanjaydemansol commented on #271
4/5, I think its not worth implementing, it will need additional API requests.
We are fetching data from [Link](https://docs.github.com/en/rest/reference/search#search-issues-and-pull-requests).
We may get that data if assign same PR to current user, not doing that would lead to unexpected behavior.

[2021-07-31 17:50] sibasankar-demansol commented on #378
@hanzei  just wanted to check

will it be okey if we return the message when the subscription is successful and there is no webhook for repo/owner

Successfully subscribed to mattermost/mattermost-plugin-github , can configure the webhook to receive notification here(link to plugin colnsole)

[2021-08-02 06:10] sibasankar-demansol commented on #378
@hanzei  have implemented this feature in this way , let me know if you have any suggestion from your side

![Screenshot 2021-08-02 at 11 39 26 AM](https://user-images.githubusercontent.com/86650698/127812184-9e4f384f-e3d6-4a46-8f76-f7bf9954bb68.png)

[2021-08-02 12:17] hanzei commented on #182
Fixed with https://github.com/mattermost/mattermost-plugin-github/pull/463

[2021-08-02 12:17] #182 closed

[2021-08-02 15:32] mickmister commented on #271
@sanjaydemansol Thanks for looking into the issue. Do you think this would be feasible using the GraphQL service being used in this PR https://github.com/mattermost/mattermost-plugin-github/pull/404?

[2021-08-03 07:21] sanjaydemansol commented on #450
@mickmister, I would like to work on this.

[2021-08-04 04:03] sanjaydemansol commented on #450
Our plugin uses property `html_url` from the API response as link to all notifications, but in case of _discussions_, this value is empty(`""`). Maybe we can get link to _specific discussion for the notification_ by making additional API requests to Thread endpoint, but [GitHub Discussions](https://docs.github.com/en/discussions) is in **Beta**. 4/5 we wait, the issue may resolve on its own. @mick

[2021-08-04 04:06] sanjaydemansol commented on #438
@mickmister please assign this to me.

[2021-08-05 04:47] sanjaydemansol commented on #444
@mickmister , I would love to work on enhancement.

[2021-08-05 14:07] mickmister commented on #444
Hi @niteeshhegde, do you still plan on working on this feature?

[2021-08-05 14:18] niteeshhegde commented on #444
Hi @mickmister
I am very sorry,
I couldn't make time for this.
Please reassign it to someone

[2021-08-05 16:15] sibasankar-demansol commented on #461
@mickmister  can i pick this up

[2021-08-05 17:53] #407 closed

[2021-08-09 04:52] sanjaydemansol commented on #391
can I work on this?

[2021-08-09 16:00] mickmister commented on #391
Sure thanks @sanjaydemansol!

[2021-08-10 07:50] mickmister opened #468 "Include "number of lines changed" in RHS PR list"
Currently the right-hand side display of PRs looks like this:

<img width="500px" src="https://user-images.githubusercontent.com/6913320/128828888-54a4a047-e9cc-4f62-a172-e846fbc9bf12.png"/>

It would be useful to know the magnitude of the PR when browsing, so it's obvious how long it might take to review the PR.

[2021-08-10 07:51] mickmister commented on #468
@matthewbirtch Can I assign this ticket to you or another designer for UX design?

[2021-08-10 13:52] matthewbirtch commented on #468
@mickmister can you create a Jira ticket describing the problem we're trying to solve and assign to the UX Team? We'll triage it from there.

I would think the number of files _and_ lines changed would be useful

[2021-08-10 16:56] mickmister commented on #468
Thanks @matthewbirtch, I've created the ticket here https://mattermost.atlassian.net/browse/MM-37789

Absolutely! I've added this to the ticket

[2021-08-10 18:55] matthewbirtch commented on #468
Thanks @mickmister!

[2021-08-12 21:46] mickmister opened #469 "Document behavior for org-level setup and user access control"
Comment from discussion on community. Please see the whole thread for more context:

After further testing, it seems like location of the oauth app doesn't matter, and the user running `/github connect` doesn't need to be a member of that org.  The user's github access controls which repos they can subscribe a channel to, but the subscriptions persist to that channel regardless of the user's conti

[2021-08-17 01:45] mickmister commented on #461
@sibasankar-demansol Assigned 🙂

[2021-08-17 01:54] mickmister commented on #450
@sanjaydemansol Thanks for looking into this. Performing a request for each notification would be very costly. 1/5 we should close this ticket for now and we have this info if someone brings this up in the future.

[2021-08-17 01:54] #450 closed

[2021-08-17 02:24] mickmister opened #470 "Provide a way to shrink notification bodies per-subscription"
Currently "issue created" events cause the whole PR body to show in the resulting notification in Mattermost. Most other (I believe **all** other) events have a much slimmer display, removing the body of the issue/PR.

The idea here is to allow subscriptions to be configurable so the user can adjust if the issue/PR body should be shown or not. See the linked Mattermost thread below for more detail

[2021-08-17 02:27] mickmister commented on #470
Here's an example of two different kinds of notifications side-by-side

![image](https://user-images.githubusercontent.com/6913320/129654221-4bad29ce-066b-4fe5-84f9-2d2e1ecf2779.png)

[2021-08-18 06:48] sibasankar-demansol commented on #461
@mickmister  I guess while storing the access_token if we trim the extra spaces it will work ? Please confirm

[2021-08-18 15:03] mickmister commented on #461
@sibasankar-demansol Yeah that sounds good. You originally found this issue right? Maybe you can try to break the functionality some other ways and make a robust solution to defend against other potential issues.

[2021-08-18 18:38] sibasankarnayak commented on #461
@mickmister
Yes tried adding a extra space intentionally and reproduced the error
Just had a look into code base
Where we use the config API to store data
If we can make a possible change into that part

Or we can use the getConfig function to trim spaces

Any suggestions ?

[2021-08-18 18:40] mickmister commented on #461
@sibasankar-demansol 1/5 We should correct the input before we persist it in the database/config

[2021-08-18 18:42] sibasankarnayak commented on #461
@mickmister  you mean we should do it from the UI part which will remove the unwanted spaces if any ?

[2021-08-18 18:48] mickmister commented on #461
@sibasankarnayak Oh right, we don't have control over how stuff gets saved in the system console. If it doesn't seem possible to adjust the value before it's saved, then we'll need to clean up the value when we read it, which works for me :+1:

@hanzei Any thoughts on this?

[2021-08-18 18:51] sibasankarnayak commented on #461
@mickmister
Sure will wait for @hanzei  confirmation and then ll start working on it

Till that will try to check if we can do it before we save

[2021-08-18 19:26] mickmister commented on #461
@sibasankarnayak This ticket is fairly low impact so I wouldn't spend too much time on the config save strategy. Feel free to implement the other strategy if you'd like to complete ticket

[2021-08-20 09:03] #445 closed

[2021-08-20 18:03] #461 closed

[2021-08-24 13:32] #455 closed

[2021-08-25 20:58] sla-te opened #475 "No notifications after initial setup according to setup guide"
Hello,
I have configured the plugin according to the documentation in the readme of this repository. I have connected my github account successfully and have subscribed to one of my private repositories and have enabled notifications for pushes.

If I now push to the repository I am not receiving a notification, nor are any notifications coming in in case of issue creations or alike.

Can you sugg

[2021-08-28 00:03] chwba commented on #475
Sadly for me its not as easy because I don't have the nginx reverse proxy running.

Just tested, no notifications for public either.

I tried that but it does not seem to catch any requests, on one of the the test urls I see this one:
![image](https://user-images.githubusercontent.com/22568014/131199388-aeff509c-3d14-412d-bd9b-bb5f7f27f60e.png)
Then in ngroks UI I also noticed this:
![image](https

[2021-08-30 08:45] hanzei commented on #475
AFAIK the `http` server returns an empty body and a 200 by default. Should we one anything special here?

[2021-08-30 11:51] chwba commented on #475
@hanzei If it was me I would simply build in a "debug" switch for the logging in mattermost which, if enabled, logs all the requests coming in or going out in a format something like [URL] -> (response_code) body or so. - This way we a user can much easier debug if a problem occurs.

In any case, if @Fighter456 and mine are the same problems (seems like it), its not the webhook but, that the messa

[2021-08-30 12:42] hanzei commented on #475
@mickmister Meta: This seems like another case of https://github.com/mattermost/mattermost-plugin-skype4business/issues/58. Maybe we should start implementing this kind of logging for every plugin that makes uses of a webhook? 2/5 implement it for one then stamp it down on the others.

[2021-08-30 18:46] DHaussermann opened #477 "Master branch no longer shows UI elements when user connects to GitHub"
I have notice that there seems to be an issue in the master branch of GitHub. When the user connects to GitHub the LHS no longer shows the list of tasks. (the slash command still works to retrieve this data)

Also the post menu options to create or attach to GitHub are no longer shown.
I can't see anything in the console or logs to show what specifically is causing this

This does not occur when i

[2021-08-31 08:49] sanjaydemansol commented on #477
@DHaussermann I followed suggested steps, can't replicate the issue. can you please share more context details like:
- are you using it with personal or organization account ?
- does that happen with all users for that Mattermost instance?
- is Mattermost instance latest version or some specific version?
- any other details you would like to share?

[2021-08-31 13:17] #477 closed

[2021-09-04 09:43] #431 closed

[2021-09-16 14:55] mickmister opened #480 "Investigate supporting GitHub Discussions webhooks"
There is a request to support subscriptions for GItHub Discussions, which is a topic-based discussion tool provided by GitHub. Here's the original request from community:

-----

Hi everyone, apologies if this is the wrong place to raise this. Our team currently love and use the plugin all the time and were wondering if there are plans to add subscriptions for "discussions"? Like how under "featur

[2021-09-17 13:15] dipak-demansol commented on #391
@sanjaydemansol
i Started the testing but i need more time, i will update you.

[2021-09-17 20:23] Philmod opened #481 "Only show merged pulls"
Hi,

Is it possible to only show when the pull requests are merged? (and not when they are created, updated, etc...)

Thanks,
Philippe

[2021-09-20 18:05] alexander-potemkin commented on #453
Apologies for the delay, @hanzei , somehow I missed the notification.

For the steps, sure - I basically just followed those instructions: https://www.mattermost.com/pl/default-github-plugin#configuration

From the common sense, I thought that I might be generated two webhooks on the repository, but, that is not the case...

Any clue?

[2021-09-21 14:11] hanzei commented on #332
Fixed via https://github.com/mattermost/mattermost-plugin-github/pull/459

[2021-09-21 14:11] #332 closed

[2021-09-21 15:35] DHaussermann opened #482 "User gets unfriendly validation when GitHub domain is uppercase."
When trying to create a subscription where the GitHub domain is in uppercase letters the user gets an invalid / unfriendly validation issue.
![image](https://user-images.githubusercontent.com/35588783/134200032-f43d1ab3-7020-4753-a4c6-7c27b98b3b3d.png)

Steps:
- Install GitHub and connect a test user
- Post `/github subscriptions add https://GITHUB.COM/DHAUSSERMANN/HELLO-WORLD`
**Observed**: `Unkn

[2021-09-21 15:45] mickmister commented on #482
@DHaussermann The error `Unknown organization https:` is unrelated to the uppercase issue. The expected input here would be only `DHaussermann/hello-world`, and not the full URL. 1/5 we should support pasting the repo's full URL as you've attempted here.

Going to https://github.com/dhaussermann (no uppercase letters), GitHub takes me to the right page. Maybe the GitHub entities are case insensiti

[2021-09-22 05:11] sanjaydemansol commented on #391
Hi @mickmister , Assignee should receive Direct message from bot?

[2021-09-22 14:30] mickmister commented on #391
@sanjaydemansol That's right :+1:

[2021-09-27 08:10] hanzei commented on #377
Fixed with https://github.com/mattermost/mattermost-plugin-github/pull/380

[2021-09-27 08:10] #377 closed

[2021-09-27 08:20] hanzei commented on #453
@dipak-demansol Could you please check if you can reproduce this issue? Thanks!

[2021-09-27 10:41] dipak-demansol commented on #453
sure, i will check after completing my current PR testing.

[2021-09-27 17:28] mickmister opened #483 "Plugin should avoid using revoked tokens"
If we perform an API request using a user's token, and we receive a response noting that the token is revoked, we should:
- delete the token from the KV store, declaring the user as disconnected
- and notify the user via DM that their token has been revoked, and that they will need to reconnect their account in order to use the plugin

cc @aaronrothschild for this approach

_Issue created from a [

[2021-09-27 18:29] aaronrothschild commented on #483
Approach seems fine to me, please include a link for the user to follow in the notification we send that let's them easily re-auth their account without much thinking.

[2021-09-27 19:08] catalintomai commented on #482
Add @DHaussermann to detail the lack of support(?) for full Urls?

[2021-09-27 19:24] catalintomai commented on #475
@hanzei - please open the Meta ticket for handling incoming webhooks logging similar to the Skype plugin.

[2021-09-27 21:03] mickmister opened #484 "Add per-subscription setting to collapse all posts"
Depending on the kind of event that occurs, the plugin will expand the description sometimes (for new issues and new PRs), and collapse the description sometimes (for closing an issue or adding labels). The expanded description can cause a lot of noise in a channel, so we should add a setting to disable the expanded description.

The task here is to introduce an optional subscription parameter "co

[2021-09-28 10:47] dipak-demansol commented on #391
@sanjaydemansol i found 1 issue,

[2021-09-28 10:55] dipak-demansol commented on #391
@sanjaydemansol there is a issue, pls check below steps to regenerate it.
1) i created repo in that 2nd user created issue.
2) 2nd user assign that issue to him self and to the 3rd user.
3) now repo owner as i comment on that issue then 2nd & 3rd user is not getting the notification but if i remove any 1 assignee and add comment again then single user is getting the notification.

[2021-09-28 11:17] hanzei commented on #391
@dipak-demansol Would you please post your test observations in the PR directly? That we they are close to the code that is getting changed.

[2021-09-28 11:22] dipak-demansol commented on #391
@hanzei Done.

[2021-09-28 12:17] hanzei commented on #475
See https://community-daily.mattermost.com/boards/workspace/6njtzeo53prh3j46ad6873hc5r/fd5a60f3-3908-412f-8911-1ff61040d85a/e895dc00-c8c8-4a3e-8c96-910a2410719b?c=9eb9910f-241a-465b-8ba6-1e5bef73d09c

[2021-09-28 14:59] mickmister commented on #484
We should also unconditionally put the expanded issue/PR in the post's "card" data for all events. This is done by inserting the markdown into `post.props.card`. More info on this [here](https://developers.mattermost.com/integrate/incoming-webhooks/#:~:text=Props%20card%20allows%20for%20extra,icon%20displayed%20alongside%20the%20post.)

[2021-09-30 07:48] hanzei opened #486 "Add logging for incoming webhook events"
See https://community-daily.mattermost.com/boards/workspace/6njtzeo53prh3j46ad6873hc5r/fd5a60f3-3908-412f-8911-1ff61040d85a/e895dc00-c8c8-4a3e-8c96-910a2410719b/?c=9eb9910f-241a-465b-8ba6-1e5bef73d09c

[2021-09-30 16:33] sibasankarnayak commented on #480
@mickmister tried exploring the solution for this,
currently stable version of GitHub webhook is not having event for any discussion event ,there are lot of user who are waiting for it since 2020 hope to see it soon as it is being tested in a private repo from the contributor's GitHub
here are some reference of same

https://github.com/github/feedback/discussions/2959
https://github.com/github/fee

[2021-10-01 07:21] #263 closed

[2021-10-01 14:00] hanzei commented on #481
Not right now. What is the use case that you care about?

[2021-10-01 14:40] Philmod commented on #481
Hey @hanzei,

We are mostly interested in changes that can affect the system, so only merged pull requests. When a problem arises, we check the last releases and the changes, by looking in a single Mattermost channel.

Right now, it's very chatty and we don't really care about created/updated pull requests.

Thanks!

[2021-10-01 15:55] mickmister commented on #480
@sibasankarnayak Thanks a bunch for looking into this. 1/5 Let's hold off on implementing this until the offering from GitHub is more stable, as this ticket is not particularly a highly requested feature. Hopefully the necessary pieces become part of the `go-github` package as well.

I'll keep the issue open though since it seems like it does seem to have some traction (based on reactions of the i

[2021-10-02 04:10] aelishRollo commented on #483
I would like to work on this

[2021-10-04 02:12] mickmister commented on #483
It's all yours, thanks @aelishRollo! 👍🤫

[2021-10-04 07:32] hanzei commented on #481
Thanks for the input  @Philmod  :+1:

For context: Something similar has already been implemented for issue in https://github.com/mattermost/mattermost-plugin-github/issues/390. The approach for issues should be similar. Maybe `pulls_creations` and `pulls_closing` are good same.

[2021-10-04 07:38] hanzei commented on #480
:+1: for waiting a bit. Until `go-github` supports discussion and there is webhook support, there is no reasonable way to implementing this feature request.

[2021-10-04 15:30] mickmister opened #488 "Only channel admins should be able to create subscription"
At the moment, any user can create/edit/delete GitHub subscriptions. This functionality should be limited to users with permission to manage the given channel. The following cases should allow a user to edit subscriptions:

- Channel admin
- Team admin
- System admin
- Channel is a direct message (DM)
- Channel is a group message (GM)

_Issue created from a [Mattermost message](https://community-d

[2021-10-04 17:21] GibranHL0 commented on #488
Hi 👋

I'd like to be assigned to this issue and give it a try.

[2021-10-04 19:10] hanzei commented on #488
Awesome, thanks @GibranHL0 :tada: Please let me know if you have any questions.

[2021-10-04 23:01] mickmister opened #489 "Release 2.1.0"
- [x] https://github.com/mattermost/mattermost-plugin-github/issues/491
- [x] https://github.com/mattermost/mattermost-plugin-github/issues/492
- [x] https://github.com/mattermost/mattermost-plugin-github/issues/508
- [x] https://github.com/mattermost/mattermost-plugin-github/issues/520
- [x] https://github.com/mattermost/mattermost-plugin-github/pull/527
- [x] https://github.com/mattermost/matter

[2021-10-05 20:25] DHaussermann opened #491 "GitHub 2.1.0 - Unable to slect repo from create issue modal"
When trying to select a repo from the Create Issue modal. A JS error occurs and the repo cannot be selected.

This happens for any repo I attempt to select (Public or Private)

Steps:
- Install and configure GitHub 2.1.0
- Enable the plugin
- Connect a test user
- Open the create modal either by selecting create from a post or by typing `/github iccue create`
- Open the repo drop down list and sel

[2021-10-05 20:26] DHaussermann commented on #491
@hanzei note that this got into master somehow and blocks the release. This area was touched by https://github.com/mattermost/mattermost-plugin-github/pull/447 but to me the error has no obvious reason to be related.

[2021-10-06 08:06] hanzei commented on #491
Thanks for catching this, Dylan. This is indeed a regression caused by https://github.com/mattermost/mattermost-plugin-github/commit/aa96cfc8d4db0e4f14f7c078d1af408a3f9be9b3.

I will submit a PR to revert the changes in order to unblock the release.

@dipak-demansol I'm wondering if you tested the scenario that Dylan pointed out. Are you now able to reduce the issue?

[2021-10-06 12:19] alexander-potemkin commented on #453
Is there any updates so far? Or shall I take a bit more time?

[2021-10-06 14:36] DHaussermann opened #492 "GitHub LHS icon will not show on 1st login until the browser is refreshed"
When a user fist logs into a Mattermost in a new browser they will not see the GitHub icons (connect **or** Pulls, Issues,Notifications etc..) on the LHS or team sidebar.

Once a browser refresh occurs the icons are then visible and will remain visible if the user logs out and logs in again in the same browser.

When logging in with fresh cache the issue is visible.

This does **not** occur in the

[2021-10-06 14:38] DHaussermann commented on #492
@aaronrothschild and @hanzei not sure if you have thoughts on how prevalent this may be. 3/5 I feel like if there is a simple solution we should hold up the release to solve this.

[2021-10-06 17:07] sanjaydemansol commented on #491
@DHaussermann @dipak-demansol I am unable to reproduce this issue so far. any leads?

https://user-images.githubusercontent.com/85980820/136250819-fde392f7-b74d-4511-bdd5-469cc8b2d967.mp4

[2021-10-06 17:59] DHaussermann commented on #491
@sanjaydemansol that's very curious. Aside from making sure you have the `v2.1.0` PR deployed - 0/5 Maybe try in a browser session with fresh cache.
If it helps, I reproduced this on multiple servers including the sandbox here https://demansol-sandbox.test.mattermost.cloud where I also deployed the 2.1.0 version bump RC and I see the issue here as well. DM me if an invite to this server would be h

[2021-10-07 15:16] DHaussermann opened #493 "GitHub 2.1.0 - Organization lock incorrectly validates against valid repos if org name is mixed case"
It seems the organization lock functionality has a validation issue.
When organization lock is used to lock subscriptions to a mixed case org such as `DHaussermann` it is no longer possible to add subscriptions even when they are valid.
This issue does not occur for an organization such as `mattermost` where it seems to add subscriptions

Note that `https://github.com/DHaussermann` is not actually

[2021-10-07 15:18] DHaussermann commented on #493
@hanzei and @aaronrothschild this bug also seems like it should block the release to me.

[2021-10-07 16:05] sanjaydemansol commented on #491
@DHaussermann , @hanzei @dipak-demansol  you are right, this is indeed caused by aa96cfc8d4db0e4f14f7c078d1af408a3f9be9b3,
but since it is what was requested by the author of Issue:

Ref. #263 @mickmister

**_which is not the case:_**
![Screenshot_3](https://user-images.githubusercontent.com/85980820/136422085-1d4a0908-12bb-4caf-b792-5e46d657abc8.png)
any opinion, what to do next?

[2021-10-07 17:03] DHaussermann opened #494 "Subscriptions --exclude functionality affects all channels"
When using the exclude functionality the exclusion record that get's created `owner/repo - notification : disabled` is not channel specific. These exclusions appear in channels where no subscriptions have been created yet and no exclusion was specified.
![image](https://user-images.githubusercontent.com/35588783/136429010-e00d8d72-f24c-466e-b612-8a966036d564.png)

This affects event delivery in ch

[2021-10-08 05:29] dipak-demansol commented on #491
yes, but forgot to reply here .

[2021-10-08 20:25] mickmister opened #496 "Add support for subscriptions filtering on a GitHub "project""
Currently you can filter on an issue or PR's labels with this plugin's subscriptions. The task here is to also support filtering on a project:

<img width="400px" src="https://user-images.githubusercontent.com/6913320/136620769-42e20778-f7fd-4c35-bdc1-5fcd02249b31.png"/>

[2021-10-09 07:20] dipak-demansol opened #497 "Validation Message spacing (UI) issue"
![validaiton msg spacing issue 1](https://user-images.githubusercontent.com/89907719/136648480-b1be7b60-10ab-4649-8caa-35a5e75f6fb5.png)
![validaiton msg spacing issue 2](https://user-images.githubusercontent.com/89907719/136648484-49f4d6ee-1dea-4bfa-b78b-c8fc59754aa9.png)

1) :- between the 2nd input box and validation message has extra spacing compare to the 1st input & validation, all the valid

[2021-10-09 09:22] dipak-demansol opened #498 "Validation Message Should be User Friendly"
![validation is not user friendly](https://user-images.githubusercontent.com/89907719/136652469-8a3a02b2-9d18-409e-a34b-732f5ce9e1ac.png)

[2021-10-09 19:02] hanzei commented on #498
This might need server side changes

[2021-10-09 19:03] #444 closed

[2021-10-09 19:07] #491 closed, assigned to sanjaydemansol, sibasankarnayak

[2021-10-13 03:43] mickmister opened #500 "Feature: Synchronize emoji reactions on posts generated by the plugin"
When the GitHub bot creates a post, it's always related to some specific issue/PR or comment. If a user reacts to the post in Mattermost with one of the 8 emojis supported for reactions on GitHub, the plugin should proxy this reaction to the appropriate PR/comment on GitHub. Likewise, if the user removes their emoji reaction in Mattermost, we should remove it in GitHub.

We don't need to perform s

[2021-10-15 04:33] mickmister opened #501 "Support repo URL as argument in subscribe command"
At the moment the two forms of the `/github subscribe` command have the following structure:

To subscribe to all of an organizations repositories:

`/github subscribe mattermost`

To subscribe to a specific repository:

`/github subscribe mattermost/mattermost-plugin-github`

-----

The task here is to let the user alternatively provide a URL to an organization or repository.

`/github subscribe

[2021-10-15 16:57] mickmister commented on #501
Thanks for looking into this @sibasankarnayak! I was under the impression that this wasn't implemented because of the discussion here https://github.com/mattermost/mattermost-plugin-github/issues/482#issuecomment-924116216. I'll close this since there's nothing to do here 🙂

[2021-10-15 16:57] #501 closed, assigned to sibasankarnayak

[2021-10-19 06:30] vicky-demansol commented on #492
@aaronrothschild I tested this and I'm not sure how this could be solved as it's for a very brief moment (under 2 seconds ). Any ideas  ?

[2021-10-19 15:03] DHaussermann commented on #492
@vicky-demansol strange, it seems like you're having issues reproducing the issue. I was not seeing this happen for only a couple seconds. The app was simply sitting in this state.

[2021-10-20 09:00] dipak-demansol commented on #453
i Don't have exact Ans of this question but i have 2 account mattermost and from account1 i created new repo, i created oath + webhook for the same repo and subscribed the same repo with the account2 in the mattermost and i was getting the Notification when account1 added the comment, try this, pull this branch code demansoltech:mm-391 , https://github.com/demansoltech/mattermost-plugin-github/tre

[2021-10-20 16:53] alexander-potemkin commented on #453
Thank you. My problem is that Matteremost runs in Docker (under CloudRon), so there is no development things in there.
Could you, by any chance, have this ZIP file that I could upload in there?

[2021-10-23 16:41] sibasankarnayak opened #502 "Cross-plugin task: Enable the CircleCI "test" job in each plugin repo that has a webapp plugin"
The .circleci/config.yml file needs to be updated to run the webapp tests in CI.

[2021-10-30 11:23] drlight-code opened #506 "Receiving events from one private repo works while another doesn't."
I'm having trouble making the notifications work for one of our repos. While one repo works fine, for the other I just don't receive any events. AFAICT everything should be same for both repos. They are both private repos from the same organization. I'm using the organization-wide webhook, not a repo-specific one. I can see the Webhook delivery on the GitHub side and everything looks fine to me, I

[2021-10-30 11:24] drlight-code commented on #506
Let me add that I resubscribed with the same flags and reconnected my account several times, but the problem persists.

[2021-11-01 10:38] dipak-demansol opened #507 "There should be a auto suggestion for a exclude Command"
There should be a auto suggestion for a exclude Command because without auto suggestion The user will never know that there is a functionality like exclude.

related to #505

![There should be a auto suggetion for a exclude Command](https://user-images.githubusercontent.com/89907719/139658865-18d718b8-be9d-4192-bc22-ee9fd372e6b8.jpg)

[2021-11-01 11:43] dipak-demansol opened #508 "after Exclude the Repo, if user Subscribe the same Repo then notification is not working for that Repo."
Steps :- 1) by using this command the user will subscribe all the dipak organisation Repo except sample1 Repo. /github
                  subscriptions add dipak-demansol issues,pulls,issue_comments --exclude dipak-demansol/sample1
              2) now subscribe the Repo that we exclude, run directly this command, /github subscribe add dipak-
                 demansol/sample1
              3) now r

[2021-11-01 19:27] catalintomai commented on #508
@mickmister - please add comments wrt to the right scoping.

[2021-11-01 19:31] mickmister commented on #508
It seems to me that the `--exclude` flag should only affect the subscription it is applied to. If I exclude a repo in one subscription, and include the repo in another subscription in the same channel, I would expect the second subscription to receive the notifications.

I propose we change the functionality to make sure each subscription will operate on its own (not affected by `--exclude` flags

[2021-11-03 09:16] dipak-demansol commented on #492
@DHaussermann tested as you told and with the version GitHub (github - 2.1.0) and **the issue is not Regenerated.** **pls let me know should i try something else**

[2021-11-03 20:29] DHaussermann commented on #492
I tested this over again on my local and can see the same issue today

https://user-images.githubusercontent.com/35588783/140181436-2f4c9659-d053-40e8-a00f-cfb1068e1d5b.mov

@dipak-demansol let's sync-up offline and see what the difference is with you not being able to repro this.

[2021-11-04 10:34] sanjaydemansol commented on #492
@DHaussermann @dipak-demansol any findings?

[2021-11-04 12:14] sibasankarnayak commented on #372
@hanzei do you have any specific steps to follow to reproduce this issue

[2021-11-04 13:29] DHaussermann commented on #492
@sanjaydemansol I think @dipak-demansol may be away today.
The only things I can think of are to ensure you're building the plugin from https://github.com/mattermost/mattermost-plugin-github/pull/490 and using a browser session with fresh cache.
Would it help if I can reproduce this on the Demansol Sandbox server?

[2021-11-08 05:17] sanjaydemansol commented on #492
Great, thanks @DHaussermann , will let you know if have trouble reproducing.

[2021-11-08 06:05] dipak-demansol commented on #492
@DHaussermann let's sync-up today.

[2021-11-08 09:15] hanzei commented on #372
@sibasankarnayak Did you try reproducing the case liked in the ticket? https://community.mattermost.com/core/pl/rgipqgsuj7g3tyo4iqn7gx9ode

[2021-11-08 11:35] hanzei commented on #507
Good catch @dipak-demansol  :+1: Made this a HW.

[2021-11-09 01:51] catalintomai opened #509 "Resolve OAuth bug with KVStore"
Details will be shared in the weekly MM-Demansol meeting. Update: the've been shared with Siba on the call.

[2021-11-09 10:47] dipak-demansol opened #510 "getting error when i use "/Github subscribe list" Command"
will add more info later

https://user-images.githubusercontent.com/89907719/140910210-5ecb2526-6ade-4209-bf59-7fddd30a04b5.mp4

[2021-11-09 11:10] dipak-demansol commented on #510
![Screenshot from 2021-11-09 16-39-33](https://user-images.githubusercontent.com/89907719/140913815-ef3c4975-a2c0-45e1-b409-fb302d0bb20d.png)

[2021-11-10 06:08] dipak-demansol commented on #492
@sanjaydemansol Found the issue, in the private window login with your account in my "staging.tk" server and you will get the issue.

[2021-11-10 14:13] maisnamrajusingh commented on #510
@dipak-demansol  just wanted to confirm if the repository path that you entered in the url is a valid one.

[2021-11-11 06:38] dipak-demansol commented on #510
i think the issue is generated because i exclude the Test1 repo of xyz organisation and then i subscribe the same repo. i think its because of #508 issue.

[2021-11-11 10:10] #502 closed

[2021-11-15 11:20] hanzei commented on #408
@adithyaakrishna  is working on this

[2021-11-18 07:28] #481 closed

[2021-11-18 11:36] dipak-demansol opened #512 "After Subscribing event ex "pulls", existing event is removed so also need to print those removed event at the time of displaying the Success message."
issue :- when i subscribe the "pulls" event for the "repo1", repo1 existing all the event is removed automatically and use is not aware of that.

solution :- after subscribing the "pulls" event, the user will get the message as **"Successfully subscribed to sample1."** we also need to  show, because of pulls subscription which existing subscription is removed, we can display it below the success m

[2021-11-18 11:47] dipak-demansol opened #513 "After subscribing the event, need to display event name with the success message."
why its required :- after subscribing some event user is getting this message as "Successfully subscribed to test3."  but with the success message we can also Print the events that user just subscribed,  if we Print that then after subscription user will know that what he just subscribed and don't need to use another command to see that what just he subscribed.

**if you fix this then also pls fix

[2021-11-22 08:40] #493 closed

[2021-11-22 20:02] catalintomai commented on #513
Have a user message being posted to the channel the user is in.

[2021-11-23 06:35] dipak-demansol commented on #513
NO, that success message is only visible for that user and for the same channel, in other channel that message will not visible.

[2021-11-23 06:47] dipak-demansol commented on #513
Currently when i subscribe some channel by using this command as **/github subscriptions add dipak-demansol/sample1 issues,pulls** then i'm getting this system generated message as **Successfully subscribed to sample1.** but message should be like this **Successfully subscribed to sample1 : issues, pulls**

[2021-11-25 13:36] dipak-demansol opened #516 "GitHub enable disable data showing wrong"
issue :- when user uninstall existing GitHub plugin and install same plugin from market then by click on the config user can see that its enable but in real time its disable. its showing wrong setting.

1) remove the GitHub plugin.
2) from the market, install the GitHub plugin. (sometime i have to click 2 times on install button from the market)
3) click on the Config and user will redirect in the

[2021-11-29 12:02] hanzei commented on #516
Moving this issue to JIRA as it's not GitHub specific: https://mattermost.atlassian.net/browse/MM-40378

[2021-11-29 12:02] #516 closed

[2021-11-29 12:03] hanzei commented on #516
Good catch @dipak-demansol :+1:

[2021-11-29 12:26] #486 closed

[2021-11-29 12:32] sibasankarnayak commented on #513
@dipak-demansol are you looking for this feature

![image](https://user-images.githubusercontent.com/86650698/143868658-49ec8127-1e23-4bec-acbf-8311ed1dd626.png)

[2021-11-29 12:37] dipak-demansol commented on #513
Yes sir.

[2021-11-29 13:43] hanzei commented on #513
The point that @catalintomai wanted to made, is that as part of this ticket not only should the events be named in the message, but I should also get posted in the channel and not as an ephemeral post.

[2021-11-29 17:18] sibasankarnayak commented on #513
@hanzei just to be on same page ,

when you user subscribe to a repo , he should get a message  what does it actually mean

i see there is a message but a ephemeral post can you explain it bit, will be okey to connect offline or on sync up call

[2021-11-30 11:38] hanzei commented on #513
When a user adds a subscription, there should be a bot message in the channel stating for which repo/org the subscription was created and to which events it subscribes.

[2021-12-01 22:11] #509 closed

[2021-12-06 12:30] sibasankarnayak commented on #512
@catalintomai @hanzei

was investing the issue do we want some message like the subscription is over written and message showing previous events and the current events ?

[2021-12-06 19:02] dipak-demansol opened #518 "Github Plugin Crash in the mattermost version 6.1.0 but the same plugin worked on mattermost ver 6.0.0 and 6.3.0"
**OS**          :-  Ubuntu 20.04.3 LTS
**NODE Version** :- v16.0.0
**NPM Version**   :- v7.10.0

**➜  ~ go env**
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/qa2/.cache/go-build"
GOENV="/home/qa2/.config/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOINSECURE=""
GOMODCACHE="/home/qa2/qa2/go/pkg/mod"
GONOPROXY=""
GONOSUMDB=""
GOOS="linux"
GOPATH="/home/qa2/qa2/go"
GOPRIV

[2021-12-06 19:55] catalintomai commented on #518
@dipak-demansol - can you try repro-ing this with one of the other Demansol developers (do they have Ubuntu 16 or 18 that we recommend as the standard dev. platform)?

[2021-12-06 20:00] dipak-demansol commented on #518
We already experimented with the ubantu 18 and some how build Fail to Compile but if you say then i can try again with the same Configuration on ubantu 18 and try to regenerate it.

[2021-12-06 20:02] dipak-demansol commented on #518
but i think its not related to the OS version, because the same plugin zip is working in the mattermost 6.0.0 and 6.3.0 version

[2021-12-07 10:55] hanzei commented on #512
@sibasankarnayak Sounds good to me :+1:

[2021-12-07 11:44] sibasankarnayak commented on #512
will it be okey if i complete this with one PR for this issue
https://github.com/mattermost/mattermost-plugin-github/issues/513

[2021-12-07 16:01] #492 closed

[2021-12-08 08:22] dipak-demansol commented on #507
@hanzei Whats your thought on this

Need to improve User experience
     1) After using /github help,The user will get the description of all command so in that need text improvement so user easily understand how to use this command, why need this? **because before exclude need to add only ORG or Owner name and then need to use the --exclude and then need to add the Owner/repo name then only this

[2021-12-08 08:24] dipak-demansol commented on #507
@sanjaydemansol about the point 2, need to do the 1st or 2nd thing to improve the user-experience.

[2021-12-09 11:27] hanzei commented on #507
1) Unfortunately, the autocomplete is static. Hence, there is no way to make the flags depend of if the user did input an org or a repo. The description has to make it clear how to use the flag.

[2021-12-09 12:16] dipak-demansol commented on #507
so we ignore the point 2 and do the text changes as per the point 1, right?

[2021-12-10 08:55] hanzei commented on #507
I'm not sure I'm getting your suggestion in 2). There should still be an autocomplete flag for `exclude`.

[2021-12-10 10:27] dipak-demansol commented on #507
about the 2.1, we can add Command like this for exclude

![33](https://user-images.githubusercontent.com/89907719/145559002-1b588ad0-6ae9-40f4-b140-8137b1b6be21.png)

                                               **OR**

About 2.2, We can add this text **--exclude owner[/repo]** here, pls see the image.
![55](https://user-images.githubusercontent.com/89907719/145559293-277b4da4-173c-4857-92bc-cfb

[2021-12-13 07:19] hanzei commented on #507
Got it, thanks for the screenshot @dipak-demansol :+1:

2.1. What would you add in 2.1? What information is missing in `/connect`?

2.2. The `--exclude` flag should not be part of the features list, but instead it's own autocomplete item.

[2021-12-13 08:22] dipak-demansol commented on #507
i suggestion was we can add this command **"--exclude [owner/repo]"**, **same as /connect.**

[2021-12-13 19:26] #391 closed

[2021-12-15 08:46] hanzei commented on #507
What do you mean with "same as /connect."?

[2021-12-15 09:03] dipak-demansol commented on #507
when i type "/github subscribe add dipak-demansol" then i add space then i should get the exclude command in the auto suggestion.

[2021-12-15 09:05] dipak-demansol commented on #507
we can connect on call for 5 minutes, on call i can explain exactly what i'm talking about.

[2021-12-19 17:53] loagencydev commented on #506
Any updates regarding this issue?

[2021-12-19 18:07] drlight-code commented on #506
Unfortunately not, although #486 is in master now so I could retest and try to do some debugging. I haven't had the time to do it yet, but it's on my list. I hope I can find some time between the holidays and will report back here.

[2021-12-27 17:40] sanjaydemansol commented on #271
Hi @mickmister , I looked into it. 2/5 It is possible via Graphql.
Here is an example I have prepared where, we have fetched title to referenced PR.
[code]

[2022-01-04 02:32] rinkimekari opened #520 "Subscriptions add command parameter parsing error"
To reproduce, type one of the following into the chat with the GitHub plugin enabled:
- `/github subscriptions add`
- `/github subscriptions delete`

[2022-01-04 13:33] hanzei commented on #271
@sanjaydemansol The query doesn't quite seem right. E.g. it gives me `https://github.com/hanzei/plugin-test/issues/3`  as a result.

[2022-01-04 13:35] hanzei commented on #271
@sanjaydemansol If you want to get into graphql, wrapping up https://github.com/mattermost/mattermost-plugin-github/pull/404 might be a good starting point.

[2022-01-05 10:31] tuxity opened #522 "Code Previews not working with private repos from Org"
Hello,

I can't get code preview in any channels when I link a file from a private repo. I have no error messages when I set MM server to debug mode. It just send default Github public link metadata.

Mattermost Server team edition version 6.2.1
Github plugin 2.0.1
`Code Previews` enabled for public and private repositories in Github plugin configuration
Connected via `/github connect private`
Tes

[2022-01-07 00:24] mickmister commented on #234
Closing due to merged PR that implemented this https://github.com/mattermost/mattermost-plugin-github/pull/464

[2022-01-07 00:24] #234 closed

[2022-01-07 14:17] #520 closed

[2022-01-07 14:24] hanzei commented on #522
Hi @tuxity,

Did you enable code previews for public and private repositories in the plugins settings?

[2022-01-07 14:27] tuxity commented on #522
Yes it is enable.

[2022-01-07 16:38] hanzei commented on #522
To which options is the setting set?

[2022-01-07 16:41] tuxity commented on #522
to "Enable for public and private repositories. This might leak confidential code into public channels."

[2022-01-07 16:59] hanzei commented on #522
I can't reproduce the issue.

1. Do you see any related error in the server logs?
2. Is the repository you tested with part of a organisation?

[2022-01-07 17:28] tuxity commented on #522
I tried to put the server in debug mode and there is no error in logs
I also tested with a private repo from an organisation and also one of my personal private repo and not working.

I also tried to disable and enable the plugin again, the plugin is not restricted to an organisation

Should I try to reinstall the plugin ? I will have to resetup every subscriptions in channels ?

[2022-01-10 08:04] mickmister commented on #271
@hanzei Yes that PR should probably be merged before any other work is using GraphQL, as the PR introduces a robust checking of the plugin settings etc. to construct the GraphQL queries properly.

We should only implement and maintain one solution to GraphQL, so [2/5](https://handbook.mattermost.com/company/about-mattermost/list-of-terms#0-5-1-5-2-5-3-5-4-5-5-5) it makes the most sense to complete

[2022-01-10 08:08] hanzei commented on #522
Just to double check: You created the permalink by selecting the lines of code in the UI and clicking on `Copy permalink`?
![Screenshot from 2022-01-10 09-08-01](https://user-images.githubusercontent.com/16541325/148734777-b5dabab6-2cd9-4497-b20c-f706674157b3.png)

[2022-01-10 08:27] tuxity commented on #522
Haven't tried this type of link, I was checking with URL in browser like
[code]
(but with private repo ofc)

When I use permalink it's working correctly indeed.
`https://github.com/mattermost/mattermost-plugin-github/blob/1068fe3eb5bf57b7c7cba22a43cc9491137a109a/Makefile#L12`

So maybe the plugin isn't supposed to parse this type of URL for private repo ? The only difference is the commit id after

[2022-01-11 00:27] rinkimekari commented on #496
Currently, this is impossible using the current Rest API code, which https://github.com/mattermost/mattermost-plugin-github/pull/404 solves. Waiting for that to be merged is necessary before working on this ticket.

[2022-01-14 09:22] umlaeute commented on #489
is there any ETA for the v2.1.0 release?

i'm running 2.0.1 and i would like to get rid of #431 (which has been annoying me for 8 months or so)

[2022-01-17 19:33] DHaussermann opened #526 "--exclude functionality is missing validation that prevents user creating subscriptions that contradict each other"
Currently it seems that users would be able to subscribe to a repo but then also subscribe to the organization with an `--exclude` to the same repo. This configuration should be invalid and we should prevent saving this data.

Case 1: When adding a subscription for owner/repo check if an `--exclude` exists already for a matching owner/repo
Case 2: When adding a subscription for owner or org with a

[2022-01-17 20:00] catalintomai commented on #518
There is a workaround for now.

[2022-01-17 20:00] #518 closed

[2022-01-18 13:20] hanzei commented on #489
Thank for the gentle bump @umlaeute. :+1:

v2.0.1 is planed to be release in February.

[2022-01-20 09:49] hanzei commented on #522
Yes, that is indeed the expected behavior currently. https://github.com/mattermost/mattermost-plugin-github/blob/40e7fcf8bdfa2f49bae44b214ed96588ffe6c4df/server/plugin/permalinks.go#L96-L100

But I'm wondering if the plugin should support links to branches and tags. On caveat is that the content might change in the future and it's hard to keep the message in sync. So it would be a snapshot of the

[2022-01-20 18:23] agnivade commented on #522
This feature is primarily supposed to work with permalinks, not with regular links. The original implementation mainly mirrored GitHub's permalink preview implementation. And as you can see from above, GitHub will also only expand permalinks, not all kinds of links.

This usually applies to all kinds of permalink previews - they are tied to a single id/hash. And not something that can change. Othe

[2022-01-25 05:17] Samuel-Webster commented on #480
Hey everyone, just curious if the support from GitHub / other dependencies is there yet to look at supporting this when there is time? I tried to look into it a bit, and it looks like there is now, but I'm not intimate with what's required exactly.

[2022-01-25 07:48] hanzei commented on #480
Everything is there now. https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#discussion covers the API docs and go-github also supports it: https://pkg.go.dev/github.com/google/go-github/v42/github#DiscussionEvent

[2022-01-26 10:10] sanjaydemansol commented on #526
this issue is fixed in this branch https://github.com/demansoltech/mattermost-plugin-github/tree/mm-494

[2022-01-26 21:54] mickmister commented on #484
Hi @rinkimekari, would you like to be assigned to this ticket?

[2022-01-27 01:39] rinkimekari commented on #484
I'd be happy to! There are just a few things with the problems with `--exclude` that I need to figure out. Shouldn't be too much longer till I have a PR ready.

[2022-01-27 13:47] dipak-demansol commented on #453
@alexander-potemkin if you subscribe the same repo twice in the same channel then you will get the two notifications.

[2022-01-27 17:12] catalintomai commented on #508
@sanjaydemansol - is there anyone from your team handling this? - it is supposed to be part of the next release to be completed this month.

[2022-01-28 19:01] DHaussermann commented on #508
This issue can now be closed. The issue description is now stale and current behavior details are captured in https://github.com/mattermost/mattermost-plugin-github/issues/526 instead

**Note** that we are still waiting on https://github.com/mattermost/mattermost-plugin-github/pull/505 to merge which will resolve both https://github.com/mattermost/mattermost-plugin-github/issues/494 and https://gi

[2022-02-07 10:20] #508 closed

[2022-02-08 11:00] hanzei opened #530 "JS error when re/dis-connecting"
There is a JS error I'm seeing. I have no concrete repro steps. Possibly occurs on connect/disconnect.
`utils.js`
![image](https://user-images.githubusercontent.com/35588783/152854057-792bbfc5-81f9-4b68-a3b7-4c9c81e73cdc.png)
![image](https://user-images.githubusercontent.com/35588783/152854083-14d4952a-6f76-4cf9-bee1-30cf1aa1ac4f.png)

[2022-02-08 11:01] hanzei commented on #530
Might be caused by https://github.com/mattermost/mattermost-plugin-github/pull/515

[2022-02-08 11:21] hanzei commented on #530
`git bisect` tracks it down to https://github.com/mattermost/mattermost-plugin-github/pull/515

[2022-02-08 13:40] hanzei commented on #530
cc @DHaussermann

[2022-02-09 08:40] hanzei commented on #418
Reopening as  https://github.com/mattermost/mattermost-plugin-github/pull/457 has been reverted

[2022-02-09 08:41] hanzei commented on #418
@sanjaydemansol Assigning you as you are working on https://github.com/mattermost/mattermost-plugin-github/pull/505

[2022-02-11 15:56] catalintomai commented on #530
@sanjaydemansol - any progress on this one? This is blocking the release. Thanks.

[2022-02-15 09:10] sanjaydemansol commented on #530
@catalintomai Could not trace the bug.

[2022-02-16 22:37] DHaussermann opened #535 "Remove `password` attribute from oath field to prevent invalid filed pre-population"
I'm still seeing cases where the plugin dialogue modal for GitHub configuration is opening with login credentials already sitting in the field.
![image](https://user-images.githubusercontent.com/35588783/154369005-c6d73476-dbc1-436f-860f-f5994936f1e8.png)

Does not repro 100% of the time but I can't pin down exact steps.

We should consider just dropping the `password` attribute from the field to

[2022-02-16 22:38] DHaussermann commented on #535
@levb sorry for the delay in creating this issue. As per our discussion - I think one of you can quickly make a change to side-step this problem.

[2022-02-16 23:08] DHaussermann opened #536 "Change to Display Notification Counters in Left Sidebar requires a webapp refresh."
The setting for `Display Notification Counters in Left Sidebar` requires that all connected users refresh the web app before seeing the items in the side bar appear or disappear.

![image](https://user-images.githubusercontent.com/35588783/154372227-43d275cf-65bd-437c-89a2-255c9ff5a33f.png)
![image](https://user-images.githubusercontent.com/35588783/154372640-5f968bbe-d264-4278-856b-491a957d90fd.p

[2022-02-16 23:20] DHaussermann opened #537 "Attach modal shows a json error when no issues are available to attach"
When no issues are available to attach we should see s friendly message rather than a json error. This would be most common the plugin is locked to an org or repo and issue creation has been disabled there.

![image](https://user-images.githubusercontent.com/35588783/154373610-60e734a5-9bcd-4c1a-ba60-bdb0566276f2.png)

Steps:

- Connect a test user
- Save some other value in the Organization lock

[2022-02-17 14:09] catalintomai commented on #530
cc @lufty-demansol

[2022-02-18 05:31] maisnamrajusingh commented on #530
Im looking into this one now @catalintomai .

[2022-02-18 18:10] hanzei commented on #535
@DHaussermann Are only `password` fields auto filed or also `text`  ones?

[2022-02-18 18:29] DHaussermann commented on #535
@hanzei I can test this now - it's intermittent but, to answer your question - No the `Client ID` field was also affected.

[2022-02-18 18:57] DHaussermann commented on #535
@hanzei I have tried this on 3 unique servers now. Both with existing and fresh browser cache.
For all 6 attempts - This issue did **not** reproduce.

It would seem the proposed solution does side step the issue.
cc @mickmister

[2022-02-18 19:01] #535 closed

[2022-02-22 12:25] maisnamraju commented on #530
I had to revert the PR for now.

[2022-02-22 13:19] catalintomai commented on #530
Would be helpful to include the link to the PR that was reverted. As a follow-up, what is the plan for the functionality that was reverted?

[2022-02-22 13:47] hanzei commented on #530
@hanzei Taking a look myself

[2022-02-22 13:47] hanzei commented on #530
Taking a look myself

[2022-02-23 13:04] hanzei commented on #536
Implementation: Push config changes to the client via websocket event

[2022-02-25 14:16] DHaussermann opened #543 "Mute functioanlity also silences DM from muted user"
There is functionality in GutHub to send a DM when a another GitHub user comments on PR or issues you are assigned to even if they do not have @mentions. There is also a mute feature to silence the messages from a specific user(s).

In previous releases - When a user is muted, comments on your PRs and Issues do not trigger a DM. However, if the comment contains an @mention you would get a DM regar

[2022-02-25 20:50] #530 closed

[2022-02-25 20:50] #536 closed

[2022-02-25 21:53] DHaussermann opened #544 "Mattermost system admin must reconnect their account after upgrading."
When GitHub is upgraded for `v2.0.1` to `v2.1.0`  sysadmin will need to reconnect their accounts.

As shown by this screen, users who are not admins seem unaffected.
![image](https://user-images.githubusercontent.com/35588783/155808244-e627abbb-8f89-4084-b3d2-b9a13693b8eb.png)

Not necessarily an issue but, the owner of the GitHub oAuth app will get an email about change in scope which seems direc

[2022-02-27 02:13] rinkimekari opened #546 "Able to Unsubscribe from Repositories without being Subscribed"
Normally, users with control of the plugin might want to unsubscribe from repos/users/orgs that they're subscribed to, and this works fine. However, I noticed that you can "unsubscribe" from literally anything at all. It doesn't matter what you put after the `unsubscribe` keyword or the `unsubscribe delete` command. This command should obviously be filtered to only show a "successfully unsubscribe

[2022-02-28 07:00] mickmister commented on #543
@DHaussermann I think this issue needs to have some UX discussion, as this point is a bit subjective:

I'm not sure if the feature had this in its original design

[2022-02-28 09:45] hanzei commented on #544
@DHaussermann I can't reproduce this issue. If you `/github connect` again after the update?

[2022-02-28 13:59] rinkimekari commented on #546
👍

[2022-02-28 15:49] DHaussermann opened #547 "GitHub throws error when authentication token is invalid"
On my local I see an error for 1 user when trying to run any GitHub commands I get the response `Unknown error.`
![image](https://user-images.githubusercontent.com/35588783/156012742-05b3a113-0abb-438b-b770-b1f7cfa28463.png)

The error seems related to authentication tokens. Logs show:
[code]

The build I am running is version bump of `v2.1.0` and appears to be from before https://github.com/matte

[2022-02-28 20:34] hanzei commented on #543
@-mentions should _should_ supersede a mute setting. If there are case where a @-mention notification gets through, that would be a bug.

@DHaussermann Could you please check if that case exists?

[2022-02-28 20:37] DHaussermann commented on #544
[code]

[2022-02-28 21:40] DHaussermann commented on #547
After investigation, It was determined that this occurs when the AES Encryption key get's rolled forward.

This is then the expected behavior.

Closing.

[2022-02-28 21:40] #547 closed

[2022-03-01 10:02] hanzei commented on #544
@DHaussermann I still can reproduce the issue. The old theoretical case would be:
1. Run the GitHub plugin 2.0.1.
2. Empty the configuration field `encryptionkey` i.e. set it to `""`
3. Upgrade to GitHub 2.1.0
4. Confirm that the configuration field `encryptionkey` is not longer empty.

But that case is about an admin tinkering with the config file, which should not happen.

[2022-03-01 12:25] hanzei commented on #522
Made this a Help Wanted documentation ticket

[2022-03-01 15:20] DHaussermann commented on #544
@hanzei Even though I saw this occur twice before filling this issue, I wonder if  this ☝️  or something else was occurring.

I have tested the steps as described and I am also unable to reproduce the issue on the happy-path upgrade. It's possible a config change was occurring after the admin user had mapped their account.

I have no other ideas to investigate and and the upgrade as it should occu

[2022-03-07 15:42] DHaussermann opened #548 "GitHub Create and Attach does not show results when org lock is set to a user's workspace"
When the Organization lock is set to a user's workspace such as `DHaussermann`, the create and attach modal will not show any results.
If the org lock is set to an actual organization such as `dkh-org` the functionality seems to work as expected.

![image](https://user-images.githubusercontent.com/35588783/157066108-bf34683d-dcfa-4984-b8b8-3c3708fb0371.png)

[code]

-This differs from the subscrip

[2022-03-07 15:43] DHaussermann commented on #548
@dipak-demansol  FYI I have documented the issue you found.

[2022-03-07 20:06] catalintomai commented on #548
Assigned to Raju for re-assignment (if needed).

[2022-03-09 22:45] DHaussermann commented on #544
I just saw this behavior again when testing the upgrade path for the marketplace release - https://github.com/mattermost/mattermost-marketplace/pull/254

![image](https://user-images.githubusercontent.com/35588783/157550084-1db1d998-ad39-46a0-a1e3-05ded9b2ffb9.png)

Steps:
- Spin up a new /cloud server (HA if relevant)
- Install the GitHub plugin from the marketplace
- Create an oAuth app in GitHu

[2022-03-09 22:48] DHaussermann commented on #544
@hanzei I have this issue again while testing the marketplace upgrade process for the new release.

Please advise if you can think of any reason this would be intermittent.

cc @catalintomai note we should decide if action is needed on this before we push the new release to the marketplace.
We may need a way to get more data points. Thoughts?

[2022-03-09 22:49] DHaussermann commented on #544
If it helps - Affected server is https://dkh-master-ha-11.test.mattermost.cloud

[2022-03-09 23:50] hanzei commented on #544
@DHaussermann just to double check: After the update only one of the two users looses the GitHub connection, right? The other one's stays intact?

[2022-03-10 00:22] DHaussermann commented on #544
Correct @hanzei . There was a 2nd user in a different browser session. This 2nd user did not seem affected.

[2022-03-10 02:00] hanzei commented on #544
Wild guess: Could the issue be caused by users never actually using the granted oauth token? I.e. if ones run `/github me` with both users, does the issue still repo?

[2022-03-10 16:56] hanzei commented on #544
@levb will take a look as this might be caused by https://github.com/mattermost/mattermost-plugin-github/pull/472

[2022-03-12 05:02] sibasankarnayak commented on #548
@DHaussermann  what is the expected behaviour , when we do lock it to workspace it is not a valid org so it throws error

[2022-03-14 20:50] levb commented on #544
@DHaussermann @hanzei After struggling with this for the better part of the day, I am unable to reproduce this consistently. I have seen the PATCH token requests to fail with a 404, but then was unable to reproduce again, after nuking the database. I wonder if the at-rest encryption key got reset in the original case, but then the token should've failed decoding?...

If either of you can reproduce

[2022-03-15 15:56] levb commented on #544
@hanzei Let me fix this, although also need to account for HA.

[2022-03-15 15:59] hanzei commented on #544
Maybe https://pkg.go.dev/github.com/mattermost/mattermost-plugin-api@v0.0.26/cluster#Mutex can help here

[2022-03-15 16:42] #489 closed

[2022-03-17 11:37] christianhueserhzdr opened #550 "Webhooks: Can users abuse the webhook secret if shared?"
Dear contributors and users,

I am about to activate this GitHub plugin for Mattermost in our Mattermost instance. I would like to enable users to subscribe to their repositories on GitHub. As described in the documentation they need to create a webhook for their repository on GitHub. A webhook secret is then used to create a webhook which the Mattermost system admins provide. I would like to ask

[2022-03-17 18:54] mickmister commented on #550
Hi @christianhueserhzdr, thanks for creating this issue! I'll need to gather some info to fully understand your use case.

Is each involved repository in the same GitHub org? If this is the case, then you can create one webhook for the whole organization, and no other webhooks/secrets need to be created.

If repositories are in different GitHub organizations, then you will need to create a webhook

[2022-03-21 12:09] christianhueserhzdr commented on #550
Dear Michael @mickmister,

thank you very much for your response and explaining a bit more how these subscriptions and webhooks work and the security issue regarding webhook secrets.

Our use case is the following:

Some Mattermost users have their own repositories on GitHub not related to any GitHub organization and if they belong to a GitHub organization then they belong to different ones which

[2022-03-21 14:30] mickmister commented on #550
@christianhueserhzdr I see. This use case is a bit complicated, as there are repositories that you do not control, yet the maintainers of those repositories want to use the plugin on the same Mattermost server that you are running?

It seems the easiest solution is to share the secret. I suppose the security of that decision would depend on how much you trust the admins of these repositories. I th

[2022-03-22 11:53] steve-todorov opened #552 "Enhancement: Make it possible to configure multiple GitHub Organizations"
Hi,

The existing configuration allows you to lock the plugin to a single organization.
This is fine, but sometimes you might have an OSS community that manages a few projects under different organizations.
In that situation you would not be able to subscribe to issues from any other organization other than the configured one in the System Console.

I would like to propose to allow the usage of mu

[2022-03-24 18:09] mickmister opened #553 "Release 2.1.1"
- [x] https://github.com/mattermost/mattermost-plugin-github/pull/551

[2022-03-25 13:11] dipak-demansol commented on #498
@sibasankarnayak @adithyaakrishna @hanzei may be simple solution will be to trim the space so we don't have to worry about handling the validation

[2022-03-25 16:50] adithyaakrishna commented on #498
@dipak-demansol I am not sure if that would be the right approach as its something to deal with validation and IMO it should give proper messages always 😶

[2022-03-28 08:45] #553 closed

[2022-03-28 08:46] #544 closed

[2022-03-28 08:48] hanzei commented on #552
a comma separated list sounds good to me :+1:

[2022-03-31 12:16] dipak-demansol opened #557 "when user use github user name in ORG lock then at the time of selecting the repo user is not getting the valid repo, user have to refresh to get the valid repo."
Video :-

https://user-images.githubusercontent.com/89907719/161052431-095c0b21-3055-48e0-929e-20e7e515af7f.mov

will add more info if its required.

[2022-04-05 14:38] #550 closed

[2022-04-07 16:54] mickmister opened #558 "Duplicate bot DM is being created when a user is mentioned on a PR assigned to the user"
<img width="1391" alt="image" src="https://user-images.githubusercontent.com/6913320/162247501-1965a259-3bdb-4ac4-aa6e-530c850e5c1c.png">

[2022-04-07 20:06] hanzei commented on #558
@mickmister Do you know if this is a regression?

[2022-04-07 20:09] mickmister commented on #558
@hanzei I do not know. I haven't looked into the issue other than creating this ticket

[2022-05-03 16:39] mickmister opened #563 "GitHub link tooltip should cache fetched issue/PR in redux to not re-fetch"
The webapp has changed how it renders plugin link tooltips, in that the components are only mounted on hover, instead of on post render. A boolean prop `show` was used to signal that the link is being hovered, but the behavior has changed to mount when hovered.

For reference, this PR changed the plugin to use the `show` prop https://github.com/mattermost/mattermost-plugin-github/pull/368

[2022-05-11 10:54] bivald opened #564 "Connecting without code access"
Hi!

I would like to install this to allow developers to get notifications when they are assigned a PR, but I'm not comfortable giving out code access to Mattermost Github Auth Tokens. Can this plugin work with only scope to read PR:s, not read code? I've been trying to read the code and see what scopes it asks for, but haven't found anything (my Go is very rudimentary)

Regards,
Niklas

[2022-05-16 19:01] catalintomai commented on #564
@bivald - can you detail "to read PR:s, not read code" - why would someone want to have access to the PR but not to the code of the PR? - unless we are missing smth. Is this a private/public repo kind of question?

[2022-05-16 20:14] bivald commented on #564
Yes of course! @catalintomai - We're in a highly locked down environment with only private repos. And after the Github Oauth scare with Travis and Heroku token leaking we've basically changed our policy to say that no Github Application besides Google Cloud Builder can have Read Source level (so the tokens can't leak). However we still want as much developer friendly things as possible, including

[2022-05-19 12:06] florius0 opened #565 "Support for all github webhook events"
Hi!

Can you add support for every github webhook [event](https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads), or at least for GitHub Actions and Releases events?

[2022-05-23 15:19] catalintomai commented on #564
@DHaussermann - is this something we already support - if users connect without the "private" parameter - would that solve this request?

[2022-05-30 14:10] dipak-demansol opened #566 "when the github issue posted in the mattermost channel via issue-create event then some issue-data is changed in the mattermost post."
#### Summary
issue some data is changed in the mattermost when they posted via issue-creation event.

#### Steps to reproduce
post this data as `; <level>` and report it in the github issue and check that issue event post in the mattermost channel and you will see there different data, you can also check the video.

#### Expected behavior
data should be visible same to same in the mattermost chann

[2022-07-11 15:50] catalintomai commented on #564
@mickmister , can you help @bivald with more details on the right flow? Thanks!

[2022-07-18 20:16] Flinch opened #570 "Unexpected behaviour with set-up from localhost"

[2022-07-19 15:47] mickmister commented on #500
https://developers.mattermost.com/integrate/plugins/server/reference/#Hooks.ReactionHasBeenAdded
https://developers.mattermost.com/integrate/plugins/server/reference/#Hooks.ReactionHasBeenRemoved

[2022-07-22 07:55] mickmister commented on #564
@bivald It looks like we could support this by using the `repo:status` OAuth scope shown here https://docs.github.com/en/developers/apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes:

[2022-07-23 00:50] mickmister opened #574 "GitHub webapp plugin fails to load on community"
There is an error occurring when we interact with the redux, I believe when the first action is dispatched. Haven't confirmed if this occurs in other environments. `v2.1.1` of the plugin is running on community.

From https://redux.js.org/Errors?code=14:

It looks like there is data missing in the action type, and in the reducer key. Not sure what can cause this. I imagine it has something to do w

[2022-07-23 01:16] mickmister commented on #564
@bivald Actually I think this may be possible with the current behavior of the plugin. If you set the `Enable Private Repositories` plugin setting to false, and then have the user's connect their account, they will not have permissions to read any code.

Then you can configure a webhook to send you information about the private repo's events. These events don't contain any code in them, unless the

[2022-07-23 01:18] mickmister commented on #574
cc @DHaussermann

[2022-07-25 10:07] bivald commented on #564
Awesome! Thank you, I'm closing this then.

[2022-07-25 10:07] #564 closed

[2022-07-25 15:42] mickmister commented on #574
Issue is no longer happening on community. Will reopen if issue occurs again

[2022-08-04 19:18] mickmister opened #576 "Conflicting behavior with `UsePreregisteredApplication` and `EnterpriseBaseURL` config settings"
At the moment, the plugin ignores the `EnterpriseBaseURL` setting if `UsePreregisteredApplication` is set to `true`. The `UsePreregisteredApplication` setting's description is currently:

A customer ran into this issue that is both on Cloud and using GitHub Enterprise. We should make it clearer that this setting cannot be used with GitHub enterprise. Maybe begin the description with "Set to `false

[2022-08-10 14:15] mickmister opened #578 "Issues with `context deadline exceeded` during OAuth token exchange"
#### Summary

For every http request sent to the plugin we are using a context with a timeout of 5 seconds. We pass this context to any method that accepts a `context.Context`, including operations for interacting with GitHub's API. In the customer's case, the deadline is being reached in our OAuth complete endpoint handler, during the token exchange here: https://github.com/mattermost/mattermost-

[2022-08-11 01:11] #578 closed

[2022-08-11 01:14] mickmister opened #580 "Release 2.1.2"
- https://github.com/mattermost/mattermost-plugin-github/pull/555
- https://github.com/mattermost/mattermost-plugin-github/pull/579

[2022-08-22 15:34] #470 closed

[2022-08-29 16:47] mickmister commented on #580
Resolved through marketplace PR https://github.com/mattermost/mattermost-marketplace/pull/309

[2022-08-29 16:47] #580 closed

[2022-08-29 16:50] mickmister commented on #484
Resolved with https://github.com/mattermost/mattermost-plugin-github/pull/534

[2022-09-01 05:15] mickmister opened #582 "Release v2.2.0"
- [x] https://github.com/mattermost/mattermost-plugin-github/pull/534

[2022-09-18 15:01] catalintomai opened #584 "MM-47046 Use version of React DOM provided by web app"
From [here](https://github.com/mattermost/mattermost-plugin-demo/pull/153):

"For some more context, see [here](https://community.mattermost.com/core/pl/1fkkx7pj1jrwffrc6drh3x71eh). The short version though is that we updated the web app to React 17, and there's a chance that plugins will have some issues with it because they're compiled with the React 16 version of ReactDOM. I'm submitting PRs to

[2022-09-18 16:44] hanzei commented on #570
What is the issue that you are seeing?

[2022-10-01 12:23] #584 closed

[2022-10-01 12:28] mickmister opened #588 "Release 2.1.3"
- https://github.com/mattermost/mattermost-plugin-github/pull/586

[2022-10-08 09:44] sshindanai opened #591 "Is Key/Value persist in Database or Ram?"
I found the Key/Value Store feature in the plugins but it seems doesn't has information about this that much. I want to know that is Key/Value Store persists data in the storage (just like the database) or it store on RAM.

[2022-10-10 15:53] #591 closed

[2022-10-11 15:04] mickmister commented on #591
@sshindanai It's stored in the database in a table called `PluginKeyValueStore`

[2022-10-13 10:15] aaronalphonso opened #592 "Connecting without write access"
Hello and thanks for creating this plugin! :)

I'd like to be able to connect my mattermost account with github without granting write access to all my repositories. I want to receive pull request notifications on mattermost for public and private repositories.

I am curious about why the plugin requires write access, and if there is any configuration that would allow the plugin to work with just

[2022-10-13 12:05] simonv3 opened #593 "Just posting new pull requests"
This is a great tool for us and it adds a lot of transparency in our project!

I'm wondering if it's possible, or would be a lot of work to add a feature filter flag for just `new_pulls` (rather than both new and merged ones, as the current flag does). We want to show that work is getting done, but also don't want to create too many notifications, and for observers the new pull announcement is mor

[2022-11-01 08:20] hanzei commented on #593
@simonv3 That is a reasonable idea and also easy to implement :+1: The ticket is open for the community to pick it up.

[2022-11-02 17:08] doc-sheet opened #599 "Filter by branch name"
Hello.

Is it possible to get notifications on specific branch only?

I tried to subscribe to pushes in master/devel branches and ignore other (usually WIP) pushes.

[2022-11-05 01:01] C-Deck commented on #593
I can take this. It should be a simple first ticket.

[2022-11-08 20:41] ritchiecarroll opened #603 "Cannot delete old subscriptions"
Even after reinstall, two subscriptions persist. When I issue a `/github subscriptions delete <orgname>`, the system responds with `Successfully unsubscribed from <orgname>.` - but they do not get removed.

One is just "orgname", the other is "orgname/reponame" - and they are "stuck" in the system.

After reinstall I did regenerate keys. FYI "new" subscriptions work fine, but I can't get rid of th

[2022-11-10 18:41] mickmister commented on #500
Note that there is progress on this ticket in an abandoned PR https://github.com/LokeshN/mattermost-plugin-github/pull/1

[2022-11-14 20:45] #603 closed

[2022-11-15 06:17] mickmister opened #604 "Implement tooltip content for more types of GitHub links"
At the moment, we show a tooltip for issues and PRs. We can also show the tooltip for the following entities:

- repos
- branches
- commits
- files

The task here is to modify the [Link Tooltip](https://github.com/mattermost/mattermost-plugin-github/blob/master/webapp/src/components/link_tooltip/link_tooltip.jsx) component to support showing a tooltip card for the entities listed above.

![image](

[2022-11-15 08:41] mickmister opened #605 "Change OAuth complete timeout to 2 minutes"

[2022-11-18 15:38] brian-hayward opened #611 "Create Setting for Default Repository per Channel for Creating Issues"
Mattermost channels are often organized by team, which in turn are often organized by functional area. In this case, they usually end up creating issues in the same repository. However, right now, you have to search for the relevant repository every time you create an issue, which can be very painful depending on which letter your repo starts with (the list is alphabetical) and how many repos your

[2022-11-23 09:23] supergeoff opened #613 "API rate limit exceeded for user ID"
Hello,
My mattermost logs are full of API rate limit exceeded warn message.
Only for my user (I'm mattermost admin)
`{"timestamp":"2022-11-22 18:05:34.007 Z","level":"warn","msg":"Failed to search for review","caller":"app/plugin_api.go:977","plugin_id":"github","userid":"XXX","github username":"username","error":"GET https://api.github.com/search/issues?q=is%3Apr+is%3Aopen+review-requested%3Auser

[2022-11-23 10:42] hanzei commented on #613
@supergeoff Do you see this warning for multiple users or for the same one all over again?

[2022-11-23 11:06] supergeoff commented on #613
Same profile/ user id over again

[2022-11-29 05:20] mickmister opened #615 "Release 2.1.4"
- [x] https://github.com/mattermost/mattermost-plugin-github/pull/614

[2022-11-29 21:48] asatkinson opened #617 "Add Slash command for creating a new Github Issue"
This slash command would have the syntax:
`/github issue create XXX`
where XXX would be an optional string that would be entered into the issue summary field

The issue should appear as it does when the user selects Create Github Issue from the Post actions menu as show below except the description field is blank

<img width="360" alt="image" src="https://user-images.githubusercontent.com/45946404

[2022-11-29 22:02] asatkinson opened #618 "Add custom post type for webhook posts, in order to comment, edit, and close issues/PRs"
At the moment, there are no actions shown on posts created by the plugin's bot. In Slack's example shown below, there are three actions:

- Comment
- Edit
- Close

The task here is to implement a new custom post type, which will render these actions at the bottom of the post for the MM webapp.

For the "edit issue" feature, there is already an existing feature to create a GitHub issue, so we would